<translate>Lvl.</translate>
<translate>Level</translate>
<translate>The list of risks addressed is provided as an attachment. It lists %d risk(s) of which:</translate>
<translate>critical risk(s) to be treated as priority</translate>
<translate>medium risk(s) to be partially treated</translate>
<translate>low risk(s) negligible</translate>
<translate>No target risks specified in your risk analysis yet</translate>
<translate>No category of personal data</translate>
<translate>No recipient</translate>
<translate>No international transfer</translate>
<translate>No processor</translate>
<translate>Global assets</translate>
<translate>Urgent (•••)</translate>
<translate>Important (••)</translate>
<translate>Optional (•)</translate>
<translate>French</translate>
<translate>English</translate>
<translate>German</translate>
<translate>Dutch</translate>
<translate>Statistics data is collected</translate>
<translate>Statistics data is ommitted</translate>
<translate>Visible on global dashboard</translate>
<translate>Hidden on global dashboard</translate>
