<!-- Niv. -->
<translate>Lvl.</translate>
<!-- Niveau -->
<translate>Level</translate>
<!-- La liste des risques traités est fournie en fichier annexe. Il répertorie %d risque(s) dont : -->
<translate>The list of risks addressed is provided as an attachment. It lists %d risk(s) of which:</translate>
<!-- %d risque(s) critique(s) à traiter en priorité -->
<translate>%d critical risk(s) to be treated as priority</translate>
<!-- %d risque(s) moyen(s) à traiter partiellement -->
<translate>%d medium risk(s) to be partially treated</translate>
<!-- %d risque(s) faible(s) négligeables -->
<translate>%d low risk(s) negligible</translate>
<translate>No target risks specified in your risk analysis yet</translate>
<translate>No category of personal data</translate>
<translate>No recipient</translate>
<translate>No international transfer</translate>
<translate>No processor</translate>
<translate>Global assets</translate>
<translate>Urgent (•••)</translate>
<translate>Important (••)</translate>
<translate>Optional (•)</translate>
<translate>French</translate>
<translate>English</translate>
<translate>German</translate>
<translate>Dutch</translate>
<translate>Statistics are not shared</translate>
<translate>Statistics are shared</translate>
<translate>Visible on Global dashboard</translate>
<translate>Invisible on Global dashboard</translate>
