<!-- Niv. -->
<translate>Lvl.</translate>
<!-- Niveau -->
<translate>Level</translate>
<!-- La liste des risques traités est fournie en fichier annexe. Il répertorie %d risque(s) dont : -->
<translate>The list of risks addressed is provided as an attachment. It lists %d risk(s) of which:</translate>
<!-- %d risque(s) critique(s) à traiter en priorité -->
<translate>%d critical risk(s) to be treated as priority</translate>
<!-- %d risque(s) moyen(s) à traiter partiellement -->
<translate>%d medium risk(s) to be partially treated</translate>
<!-- %d risque(s) faible(s) négligeables -->
<translate>%d low risk(s) negligible</translate>
