<div flex ng-controller="AnrKbMgmtCtrl">
    <md-tabs md-dynamic-height="true" md-border-bottom="true" md-selected="currentTabIndex">
        <md-tab label="{{ 'Assets' | translate }}" md-on-select="selectAssetsTab()" md-on-deselect="deselectAssetsTab()">

            <div layout="row" layout-align="start center" class="md-padding" ng-if="!assets.selected.length">
                <h2 class="md-title md-padding-right md-padding-left" translate>Assets</h2>

                <form flex name="assets.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="assets.query.filter" ng-model-options="assets.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="assets.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="removeAssetsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="assets.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{assets.selected.length}} {{assets.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteAssetMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New asset' | translate }}" ng-click="createNewAsset($event)">
                <md-tooltip md-direction="left">
                    {{ 'New asset' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top-2" aria-label="{{ 'Import asset' | translate }}" ng-click="importAsset($event)">
                <md-tooltip md-direction="left">
                    {{ 'Import asset' | translate }}
                </md-tooltip>
                <md-icon>file_download</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="assets.selected" md-progress="assets.promise">
                    <thead md-head md-order="assets.query.order" md-on-reorder="updateAssets">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="_langField('label')"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="type"><span translate>Type</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description1"><span translate>Description</span></th>
                        <th md-column class="actions-column"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="asset" md-select-id="id" ng-repeat="asset in assets.items.assets">
                        <td md-cell><md-button class="md-icon-button" ng-click="toggleAssetStatus(asset)"><md-icon>{{ asset.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ asset[_langField('label')] }}</td>
                        <td md-cell>{{ asset.code }}</td>
                        <td md-cell>{{ assetTypeStr(asset.type) }}</td>
                        <td md-cell>{{ specificityStr(asset.mode) }}</td>
                        <td md-cell>{{ asset[_langField('description')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editAsset($event, asset)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteAsset($event, asset)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="assets.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="assets.query.page"
                                 md-total="{{assets.items.count}}" md-on-paginate="updateAssets" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>


        </md-tab>

        <md-tab label="{{ 'Threats' | translate }}" md-on-select="selectThreatsTab()" md-on-deselect="deselectThreatsTab()">
            <div class="md-padding" ng-if="!threats.selected.length" layout="row" layout-align="start center">
                <h2 class="md-title md-padding-right md-padding-left" translate>Threats</h2>

                <form flex name="threats.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input type="text" ng-model="threats.query.filter" ng-model-options="threats.filter.options">
                    </md-input-container>
                </form>
                <md-select aria-label="filter" ng-model="threats.activeFilter" style="font-size: 14px">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>
                <md-button class="md-icon-button" ng-click="removeThreatsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="threats.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{threats.selected.length}} {{threats.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteThreatMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New threat' | translate }}" ng-click="createNewThreat($event)">
                <md-tooltip md-direction="left">
                    {{ 'New threat' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="threats.selected" md-progress="threats.promise">
                    <thead md-head md-order="threats.query.order" md-on-reorder="updateThreats">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column><span translate>CID</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description1"><span translate>Description</span></th>
                        <th md-column class="actions-column"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="threat" md-select-id="id" ng-repeat="threat in threats.items.threats">
                        <td md-cell><md-button class="md-icon-button" ng-click="toggleThreatStatus(threat)"><md-icon>{{ threat.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ threat[_langField('label')] }}</td>
                        <td md-cell>{{ threat.code }}</td>
                        <td md-cell>{{ threat.c ? 'C' : '' }}{{ threat.i ? 'I' : '' }}{{ threat.d ? 'D' : '' }}</td>
                        <td md-cell>{{ specificityStr(threat.mode) }}</td>
                        <td md-cell>{{ threat[_langField('description')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editThreat($event, threat)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteThreat($event, threat)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="threats.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="threats.query.page"
                                 md-total="{{threats.items.count}}" md-on-paginate="updateThreats" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Vulns' | translate }}" md-on-select="selectVulnsTab()" md-on-deselect="deselectVulnsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!vulns.selected.length">
                <h2 class="md-title md-padding-right md-padding-left" translate>Vulnerabilties</h2>

                <form flex name="vulns.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="vulns.query.filter" ng-model-options="vulns.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="vulns.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="removeVulnsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="vulns.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{vulns.selected.length}} {{vulns.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteVulnMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New vulnerability' | translate }}" ng-click="createNewVuln($event)">
                <md-tooltip md-direction="left">
                    {{ 'New vuln' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="vulns.selected" md-progress="vulns.promise">
                    <thead md-head md-order="vulns.query.order" md-on-reorder="updateVulns">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="mode"><span translate>Mode</span></th>
                        <th md-column md-order-by="description1"><span translate>Description</span></th>
                        <th md-column class="actions-column"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="vuln" md-select-id="id" ng-repeat="vuln in vulns.items.vulnerabilities">
                        <td md-cell><md-button class="md-icon-button" ng-click="toggleVulnStatus(vuln)"><md-icon>{{ vuln.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ vuln[_langField('label')] }}</td>
                        <td md-cell>{{ vuln.code }}</td>
                        <td md-cell>{{ specificityStr(vuln.mode) }}</td>
                        <td md-cell>{{ vuln[_langField('description')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editVuln($event, vuln)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteVuln($event, vuln)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="vulns.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="vulns.query.page"
                                 md-total="{{vulns.items.count}}" md-on-paginate="updateVulns" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ '27002 measures' | translate }}" md-on-select="selectMeasuresTab()" md-on-deselect="deselectMeasuresTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!measures.selected.length">
                <h2 class="md-title md-padding-right md-padding-left" translate>27002 measures</h2>

                <form flex name="measures.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="measures.query.filter" ng-model-options="measures.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="measures.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="removemeasuresFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="measures.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{measures.selected.length}} {{measures.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteMeasureMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New measure' | translate }}" ng-click="createNewMeasure($event)">
                <md-tooltip md-direction="left">
                    {{ 'New measure' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="measures.selected" md-progress="measures.promise">
                    <thead md-head md-order="measures.query.order" md-on-reorder="updateMeasures">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="description1"><span translate>Label</span></th>
                        <th md-column class="actions-column"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="measure" md-select-id="id" ng-repeat="measure in measures.items.measures">
                        <td md-cell><md-button class="md-icon-button" ng-click="toggleMeasureStatus(measure)"><md-icon>{{ measure.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ measure.code }}</td>
                        <td md-cell>{{ measure[_langField('description')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editMeasure($event, measure)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteMeasure($event, measure)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="measures.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="measures.query.page"
                                 md-total="{{measures.items.count}}" md-on-paginate="updateMeasures" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Risks' | translate }}" md-on-select="selectAmvsTab()" md-on-deselect="deselectAmvsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!amvs.selected.length">
                <h2 class="md-title md-padding-right md-padding-left" translate>Risks</h2>

                <form flex name="amvs.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="amvs.query.filter" ng-model-options="amvs.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="amvs.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="removeAmvsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="amvs.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{amvs.selected.length}} {{amvs.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button class="md-icon-button" ng-click="deleteAmvMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New risk' | translate }}" ng-click="createNewAmv($event)">
                <md-tooltip md-direction="left">
                    {{ 'New risk' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="amvs.selected" md-progress="amvs.promise">
                    <thead md-head md-order="amvs.query.order" md-on-reorder="updateAmvs">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="asset"><span translate>Asset</span></th>
                        <th md-column md-order-by="threat"><span translate>Threat</span></th>
                        <th md-column md-order-by="vulnerability"><span translate>Vulnerability</span></th>
                        <th md-column md-order-by="measure1"><span translate>Measure 1</span></th>
                        <th md-column md-order-by="measure2"><span translate>Measure 2</span></th>
                        <th md-column md-order-by="measure3"><span translate>Measure 3</span></th>
                        <th md-column class="actions-column"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="amv" md-select-id="id" ng-repeat="amv in amvs.items.amvs">
                        <td md-cell><md-button class="md-icon-button" ng-click="toggleAmvStatus(amv)"><md-icon>{{ amv.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ amv.asset.code }} - {{ amv.asset[_langField('label')] }}</td>
                        <td md-cell>{{ amv.threat.code }} - {{ amv.threat[_langField('label')] }}</td>
                        <td md-cell>{{ amv.vulnerability.code }} - {{ amv.vulnerability[_langField('label')] }}</td>
                        <td md-cell>{{ amv.measure1.code }} - {{ amv.measure1[_langField('description')] }}</td>
                        <td md-cell>{{ amv.measure2.code }} - {{ amv.measure2[_langField('description')] }}</td>
                        <td md-cell>{{ amv.measure3.code }} - {{ amv.measure3[_langField('description')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editAmv($event, amv)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button" ng-click="deleteAmv($event, amv)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="amvs.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="amvs.query.page"
                                 md-total="{{amvs.items.count}}" md-on-paginate="updateAmvs" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>


        <md-tab label="{{ 'Tags' | translate }}" md-on-select="selectTagsTab()" md-on-deselect="deselectTagsTab()">
            <md-toolbar class="md-table-toolbar md-default"
                        ng-hide="tags.selected.length || tags.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Tags</h2>

                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="tags.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default"
                        ng-show="tags.filter.show && !tags.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="tags.filter.form">
                        <input type="text" ng-model="tags.query.filter"
                               ng-model-options="tags.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeTagsFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="tags.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{tags.selected.length}} {{tags.selected.length > 1 ? 'items' : 'item'}} selected
                    </div>
                    <md-button class="md-icon-button" ng-click="deleteTagMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top" aria-label="{{ 'New tag' | translate }}"
                       ng-click="createNewTag($event)">
                <md-tooltip md-direction="left">
                    {{ 'New tag' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="tags.selected" md-progress="tags.promise">
                    <thead md-head md-order="tags.query.order" md-on-reorder="updateTags">
                    <tr md-row>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="tag" md-select-id="id"
                        ng-repeat="tag in tags.items.tags">
                        <td md-cell>{{ tag.code }}</td>
                        <td md-cell>{{ tag[_langField('label')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editTag($event, tag)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="deleteTag($event, tag)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="tags.query.limit" md-limit-options="[20, 30, 50, 100]"
                                 md-page="tags.query.page"
                                 md-total="{{tags.items.count}}" md-on-paginate="updateTags"
                                 md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Risks' | translate }}" md-on-select="selectRisksTab()" md-on-deselect="deselectRisksTab()">
            <md-toolbar class="md-table-toolbar md-default"
                        ng-hide="risks.selected.length || risks.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" translate>Risks</h2>

                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="risks.filter.show = true">
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default"
                        ng-show="risks.filter.show && !risks.selected.length">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="risks.filter.form">
                        <input type="text" ng-model="risks.query.filter"
                               ng-model-options="risks.filter.options" placeholder="{{ 'Search...' | translate }}">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeRisksFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="risks.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{risks.selected.length}} {{risks.selected.length > 1 ? 'items' : 'item'}} selected
                    </div>
                    <md-button class="md-icon-button" ng-click="deleteRiskMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div layout="row" class="md-padding-left" layout-align="space-around center">
                <p class="md-padding-right" translate>Filter:</p>

                <md-select ng-model="risk_category_filter" aria-label="{{ 'Category' | translate }}" placeholder="{{ 'Category' | translate }}" class="md-padding-right" flex>
                    <md-option value="0">{{ 'All categories' | translate }}</md-option>
                    <md-option ng-repeat="cat in risk_categories" ng-value="cat.id">{{ cat[_langField('label')] }}</md-option>
                </md-select>

                <md-select ng-model="risk_tag_filter" aria-label="{{ 'Asset type' | translate }}" placeholder="{{ 'Asset type' | translate }}" flex>
                    <md-option value="0">{{ 'All tags' | translate }}</md-option>
                    <md-option ng-repeat="tag in risk_tags" ng-value="tag.id">{{ tag.code }} ({{ tag[_langField('label')] }})</md-option>
                </md-select>

                <md-button class="md-icon-button" ng-click="resetRisksFilters()">
                    <md-tooltip>{{ 'Reset filters' | translate }}</md-tooltip>
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-button class="md-fab md-accent md-fab-top-right table-fab-top-withactions" aria-label="{{ 'New risk' | translate }}"
                       ng-click="createNewRisk($event)">
                <md-tooltip md-direction="left">
                    {{ 'New risk' | translate }}
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>

            <md-table-container flex>
                <table md-table md-row-select multiple ng-model="risks.selected" md-progress="risks.promise">
                    <thead md-head md-order="risks.query.order" md-on-reorder="updateRisks">
                    <tr md-row>
                        <th md-column><span translate>Categories</span></th>
                        <th md-column><span translate>Tags</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="label1"><span translate>Label</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="risk" md-select-id="id"
                        ng-repeat="risk in risks.items.risks">
                        <td md-cell><md-chips readonly="true" ng-model="risk.categories"><md-chip-template>{{$chip.code}}</md-chip-template></md-chips></td>
                        <td md-cell><md-chips readonly="true" ng-model="risk.tags"><md-chip-template>{{$chip.code}}</md-chip-template></md-chips></td>
                        <td md-cell>{{ risk.code }}</td>
                        <td md-cell>{{ risk[_langField('label')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="editRisk($event, risk)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="deleteRisk($event, risk)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="risks.query.limit" md-limit-options="[20, 30, 50, 100]"
                                 md-page="risks.query.page"
                                 md-total="{{risks.items.count}}" md-on-paginate="updateRisks"
                                 md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>
    </md-tabs>
</div>