<div flex ng-controller="AnrKbMgmtCtrl" class="anr-kb-mgmt" ng-if="tabKBDisplayed">
    <md-tabs md-dynamic-height="true" md-border-bottom="true" md-selected="currentTabIndex">

        <md-tab label="{{ 'Asset types' | translate }}" md-on-select="selectAssetsTab()" md-on-deselect="deselectAssetsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!assets.selected.length">
                <h2 class="md-title md-padding-right md-padding-left">
                    <span translate>Asset types</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add an asset' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewAsset($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add an asset' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="assets.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="assets.query.filter" ng-model-options="assets.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="assets.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button md-primary" ng-click="removeAssetsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="assets.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{assets.selected.length}} {{assets.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteAssetMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="assets.selected" md-progress="assets.promise">
                    <thead md-head md-order="assets.query.order" md-on-reorder="updateAssets">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="{{ _langField('label')}}"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="type"><span translate>Type</span></th>
                        <th md-column md-order-by="{{ _langField('description')}}"><span translate>Description</span></th>
                        <th md-column class="actions-column" ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="asset" md-select-id="id" ng-repeat="asset in assets.items.assets">
                        <td md-cell><md-button class="md-icon-button md-primary" ng-click="!isAnrReadOnly && toggleAssetStatus(asset)"><md-icon>{{ asset.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ _langField(asset,'label') }}</td>
                        <td md-cell>{{ asset.code }}</td>
                        <td md-cell>{{ assetTypeStr(asset.type) }}</td>
                        <td md-cell>{{ _langField(asset,'description') }}</td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editAsset($event, asset)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteAsset($event, asset)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="assets.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="assets.query.page"
                                 md-total="{{assets.items.count}}" md-on-paginate="updateAssets" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Threats' | translate }}" md-on-select="selectThreatsTab()" md-on-deselect="deselectThreatsTab()">
            <div class="md-padding" ng-if="!threats.selected.length" layout="row" layout-align="start center">
                <h2 class="md-title md-padding-right md-padding-left">
                    <span translate>Threats</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a threat' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewThreat($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add a threat' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="threats.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input type="text" ng-model="threats.query.filter" ng-model-options="threats.filter.options">
                    </md-input-container>
                </form>
                <md-select aria-label="filter" ng-model="threats.activeFilter" style="font-size: 14px">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>
                <md-button class="md-icon-button md-primary" ng-click="removeThreatsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="threats.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{threats.selected.length}} {{threats.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteThreatMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="threats.selected" md-progress="threats.promise">
                    <thead md-head md-order="threats.query.order" md-on-reorder="updateThreats">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="{{ _langField('label') }}"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column><span translate>CIA</span></th>
                        <th md-column md-order-by="{{ _langField('description') }}"><span translate>Description</span></th>
                        <th md-column class="actions-column" ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="threat" md-select-id="id" ng-repeat="threat in threats.items.threats">
                        <td md-cell><md-button class="md-icon-button md-primary" ng-click="!isAnrReadOnly && toggleThreatStatus(threat)"><md-icon>{{ threat.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ _langField(threat,'label') }}</td>
                        <td md-cell>{{ threat.code }}</td>
                        <td md-cell>{{ threat.c ? 'C' : '' }}{{ threat.i ? 'I' : '' }}{{ threat.a ? ('A' | translate) : ''  }}</td>
                        <td md-cell>{{ _langField(threat,'description') }}</td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editThreat($event, threat)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteThreat($event, threat)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="threats.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="threats.query.page"
                                 md-total="{{threats.items.count}}" md-on-paginate="updateThreats" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Vulnerabilities' | translate }}" md-on-select="selectVulnsTab()" md-on-deselect="deselectVulnsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!vulns.selected.length">
                <h2 class="md-title md-padding-right md-padding-left">
                    <span translate>Vulnerabilties</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a vulnerability' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewVuln($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add a vulnerability' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="vulns.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="vulns.query.filter" ng-model-options="vulns.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="vulns.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-button class="md-icon-button md-primary" ng-click="removeVulnsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="vulns.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{vulns.selected.length}} {{vulns.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteVulnMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="vulns.selected" md-progress="vulns.promise">
                    <thead md-head md-order="vulns.query.order" md-on-reorder="updateVulns">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="{{ _langField('label') }}"><span translate>Label</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="{{ _langField('description') }}"><span translate>Description</span></th>
                        <th md-column class="actions-column" ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="vuln" md-select-id="id" ng-repeat="vuln in vulns.items.vulnerabilities">
                        <td md-cell><md-button class="md-icon-button md-primary" ng-click="!isAnrReadOnly && toggleVulnStatus(vuln)"><md-icon>{{ vuln.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ _langField(vuln,'label') }}</td>
                        <td md-cell>{{ vuln.code }}</td>
                        <td md-cell>{{ _langField(vuln,'description') }}</td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editVuln($event, vuln)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteVuln($event, vuln)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="vulns.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="vulns.query.page"
                                 md-total="{{vulns.items.count}}" md-on-paginate="updateVulns" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Referentials' | translate }}" md-on-select="selectMeasuresTab()" md-on-deselect="deselectMeasuresTab()">
          <md-tabs md-dynamic-height="true" md-border-bottom="" ng-if="updatingReferentials" md-selected="refTabSelected">
            <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="createNewReferential($event)">
              <md-tooltip md-direction="left">
                  {{ 'Add a referential' | translate }}
              </md-tooltip>
              <md-icon class="md-icon-button md-primary">add_to_photos</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly && referentials.items.referentials.length > 0" ng-click="editReferential($event,referential_uuid)">
              <md-tooltip md-direction="left">
                  {{ 'Edit referential' | translate }}
              </md-tooltip>
              <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly && referentials.items.referentials.length > 1" ng-click="matchReferential($event)">
              <md-tooltip md-direction="left">
                  {{ 'Match referentials' | translate }}
              </md-tooltip>
              <md-icon>link</md-icon>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-if="!isAnrReadOnly && referentials.items.referentials.length > 0" ng-click="deleteReferential($event, referential_uuid)">
              <md-tooltip md-direction="left">
                  {{ 'Delete referential' | translate }}
              </md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
            <md-tab ng-repeat="ref in referentials.items.referentials" label="{{ _langField(ref,'label')}}" md-on-select="selectReferential(ref.uuid,$index)" md-on-deselect="deselectReferentialsTab()">
              <div layout="row" layout-align="start center" class="md-padding" ng-if="!measures.selected.length">
                  <h2 class="md-title md-padding-right md-padding-left">
                      <span translate>Controls</span>
                      <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a control' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewMeasure($event)">
                          <md-tooltip md-direction="left">
                              {{ 'Add a control' | translate }}
                          </md-tooltip>
                          <md-icon>add_to_photos</md-icon>
                      </md-button>
                  </h2>
                  <form flex name="measures.filter.form">
                      <md-input-container class="md-block md-padding-left md-padding-right">
                          <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                          <input ng-model="measures.query.filter" ng-model-options="measures.filter.options">
                      </md-input-container>
                  </form>

                  <md-select aria-label="filter" ng-model="measures.activeFilter">
                      <md-option value="all">{{ 'Show all' | translate }}</md-option>
                      <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                      <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                  </md-select>

                  <md-button class="md-icon-button md-primary" ng-click="removeMeasuresFilter()">
                      <md-icon>settings_backup_restore</md-icon>
                  </md-button>
              </div>
              <md-toolbar class="md-table-toolbar alternate" ng-if="measures.selected.length">
                  <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                      <div>{{measures.selected.length}} {{measures.selected.length > 1 ? 'items' : 'item'}} selected</div>
                      <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteMeasureMass($event)">
                          <md-icon>delete</md-icon>
                      </md-button>
                  </div>
              </md-toolbar>

              <md-table-container flex>
                  <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="measures.selected" md-progress="measures.promise">
                      <thead md-head md-order="measures.query.order" md-on-reorder="updateMeasures">
                      <tr md-row>
                          <th md-column md-order-by="code"><span translate>Code</span></th>
                          <th md-column md-order-by="{{ _langField('label') }}"><span translate>Label</span></th>
                          <th md-column md-order-by="category"><span translate>Category</span></th>
                          <th md-column class="actions-column" ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                      </tr>
                      </thead>

                      <tbody md-body>
                      <tr md-row md-select="measure" md-select-id="uuid" ng-repeat="measure in measures.items.measures">
                          <td md-cell>{{ measure.code }}</td>
                          <td md-cell>{{ _langField(measure,'label') }}</td>
                          <td md-cell>{{ _langField(measure.category,'label') }}</td>
                          <td md-cell ng-if="!isAnrReadOnly">
                              <md-button class="md-icon-button md-primary" ng-click="editMeasure($event, measure)"><md-icon>edit</md-icon></md-button>
                              <md-button class="md-icon-button md-warn" ng-click="deleteMeasure($event, measure)"><md-icon>delete</md-icon></md-button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </md-table-container>

              <md-table-pagination md-limit="measures.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="measures.query.page"
                                   md-total="{{measures.items.count}}" md-on-paginate="updateMeasures" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
            </md-tab>
          </md-tabs>
        </md-tab>


        <md-tab label="{{ 'Information risks' | translate }}" md-on-select="selectAmvsTab()" md-on-deselect="deselectAmvsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!amvs.selected.length">
                <h2 class="md-title md-padding-right md-padding-left">
                    <span translate>Information risks</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a risk' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewAmv($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add a risk' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="amvs.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="amvs.query.filter" ng-model-options="amvs.filter.options">
                    </md-input-container>
                </form>

                <md-select aria-label="filter" ng-model="amvs.activeFilter">
                    <md-option value="all">{{ 'Show all' | translate }}</md-option>
                    <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
                    <md-option value="1">{{ 'Show active only' | translate }}</md-option>
                </md-select>

                <md-select ng-model="referentials_filter.selected">
                  <md-option ng-repeat="ref in referentials_filter.items.referentials" ng-value="ref.uuid">
                    {{ _langField(ref,'label') }}
                  </md-option>
                </md-select>

                <md-button class="md-icon-button md-primary" ng-click="removeAmvsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>

                <md-button ng-if="!isAnrReadOnly && referentials_filter.items.referentials.length > 1"
                          class="md-icon-button md-primary" ng-click="updateMeasuresAMV($event)">
                    <md-tooltip md-direction="left">
                        {{ 'Update controls' | translate }}
                    </md-tooltip>
                    <md-icon>update</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-if="amvs.selected.length">
                <div class="md-toolbar-tools md-toolbar-pad" layout-align="space-between center">
                    <div>{{amvs.selected.length}} {{amvs.selected.length > 1 ? 'items' : 'item'}} selected</div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteAmvMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="amvs.selected" md-progress="amvs.promise">
                    <thead md-head md-order="amvs.query.order" md-on-reorder="updateAmvs">
                    <tr md-row>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="asset"><span translate>Asset</span></th>
                        <th md-column md-order-by="threat"><span translate>Threat</span></th>
                        <th md-column md-order-by="vulnerability"><span translate>Vulnerability</span></th>
                        <th md-column><span translate>Controls</span></th>
                        <th md-column class="actions-column" ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="amv" md-select-id="id" ng-repeat="amv in amvs.items.amvs">
                        <td md-cell><md-button class="md-icon-button md-primary" ng-click="!isAnrReadOnly && toggleAmvStatus(amv)"><md-icon>{{ amv.status ? 'done' : 'clear' }}</md-icon></md-button></td>
                        <td md-cell>{{ amv.asset.code }} - {{ _langField(amv.asset,'label') }}</td>
                        <td md-cell>{{ amv.threat.code }} - {{ _langField(amv.threat,'label') }}</td>
                        <td md-cell>{{ amv.vulnerability.code }} - {{ _langField(amv.vulnerability,'label') }}</td>
                        <td md-cell>
                          <p ng-repeat="measure in amv.measures" ng-if="measure.referential.uuid == referentials_filter.selected">
                            {{ measure.code }} - {{ _langField(measure,'label') }}
                          </p>
                        </td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editAmv($event, amv)"><md-icon>edit</md-icon></md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteAmv($event, amv)"><md-icon>delete</md-icon></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="amvs.query.limit" md-limit-options="[20, 30, 50, 100]" md-page="amvs.query.page"
                                 md-total="{{amvs.items.count}}" md-on-paginate="updateAmvs" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>


        <md-tab label="{{ 'Tags' | translate }}" md-on-select="selectTagsTab()" md-on-deselect="deselectTagsTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!tags.selected.length">
                <h2 class="md-title">
                    <span translate>Tags</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a tag' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewTag($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add a tag' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="tags.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="tags.query.filter" ng-model-options="tags.filter.options">
                    </md-input-container>
                </form>
                <md-button class="md-icon-button md-primary" ng-click="removeTagsFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>

            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-show="tags.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{tags.selected.length}} {{tags.selected.length > 1 ? 'items' : 'item'}} selected
                    </div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteTagMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="tags.selected" md-progress="tags.promise">
                    <thead md-head md-order="tags.query.order" md-on-reorder="updateTags">
                    <tr md-row>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="{{ _langField(label) }}"><span translate>Label</span></th>
                        <th md-column ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="tag" md-select-id="id"
                        ng-repeat="tag in tags.items.tags">
                        <td md-cell>{{ tag.code }}</td>
                        <td md-cell>{{ _langField(tag,'label') }}</td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editTag($event, tag)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteTag($event, tag)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="tags.query.limit" md-limit-options="[20, 30, 50, 100]"
                                 md-page="tags.query.page"
                                 md-total="{{tags.items.count}}" md-on-paginate="updateTags"
                                 md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>

        <md-tab label="{{ 'Operational risks' | translate }}" md-on-select="selectRisksTab()" md-on-deselect="deselectRisksTab()">
            <div layout="row" layout-align="start center" class="md-padding" ng-if="!risks.selected.length">
                <h2 class="md-title">
                    <span translate>Operational risks</span>
                    <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a risk' | translate }}" ng-if="!isAnrReadOnly" ng-click="createNewRisk($event)">
                        <md-tooltip md-direction="left">
                            {{ 'Add a risk' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </h2>

                <form flex name="risks.filter.form">
                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                        <input ng-model="risks.query.filter" ng-model-options="risks.filter.options">
                    </md-input-container>
                </form>

                <md-select ng-model="risk_tag_filter" ng-change="updateTagsRisks(risk_tag_filter)" aria-label="{{ 'Asset types' | translate }}" placeholder="{{ 'Tag' | translate }}">
                    <md-option value="0">{{ 'All tags' | translate }}</md-option>
                    <md-option ng-repeat="tag in risk_tags" ng-value="tag.id">{{ tag.code }} ({{ _langField(tag,'label') }})</md-option>
                </md-select>

                <md-button class="md-icon-button md-primary" ng-click="removeRisksFilter()">
                    <md-icon>settings_backup_restore</md-icon>
                </md-button>
            </div>

            <md-toolbar class="md-table-toolbar alternate" ng-show="risks.selected.length">
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{risks.selected.length}} {{risks.selected.length > 1 ? 'items' : 'item'}} selected
                    </div>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-warn" ng-click="deleteRiskMass($event)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container flex>
                <table md-table md-row-select="! isAnrReadOnly" multiple ng-model="risks.selected" md-progress="risks.promise">
                    <thead md-head md-order="risks.query.order" md-on-reorder="updateRisks">
                    <tr md-row>
                        <th md-column><span translate>Tags</span></th>
                        <th md-column md-order-by="code"><span translate>Code</span></th>
                        <th md-column md-order-by="{{ _langField('label') }}"><span translate>Label</span></th>
                        <th md-column md-order-by="{{ _langField('description') }}"><span translate>Description</span></th>
                        <th md-column ng-if="!isAnrReadOnly"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row md-select="risk" md-select-id="id"
                        ng-repeat="risk in risks.items.risks">
                        <td md-cell><md-chips readonly="true" ng-model="risk.tags"><md-chip-template>{{$chip.code}}</md-chip-template></md-chips></td>
                        <td md-cell>{{ risk.code }}</td>
                        <td md-cell>{{ _langField(risk,'label') }}</td>
                        <td md-cell>{{ _langField(risk,'description') }}</td>
                        <td md-cell ng-if="!isAnrReadOnly">
                            <md-button class="md-icon-button md-primary" ng-click="editRisk($event, risk)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteRisk($event, risk)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="risks.query.limit" md-limit-options="[20, 30, 50, 100]"
                                 md-page="risks.query.page"
                                 md-total="{{risks.items.count}}" md-on-paginate="updateRisks"
                                 md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
        </md-tab>
    </md-tabs>
</div>
