<div layout="row" class="main-card md-padding" ng-if="tabRiskAnalysisDisplayed">
    <div layout="column" resizable r-directions="['right']" id="global-resize-menu" r-width="GlobalResizeMenuSize">
        <div ng-hide="GlobalResizeMenuContentHide">
            <md-subheader class="md-no-sticky md-small-subheader">
                <div layout="row" layout-align="space-between center">
                    <div translate>Risk analysis</div>
                    <md-button class="md-icon-button" ng-click="uiState.hideInstances = !uiState.hideInstances"><md-icon>{{ uiState.hideInstances ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                </div>
            </md-subheader>

            <div layout="row" layout-align="center center" ng-hide="uiState.hideInstances">
                <md-button style="font-size: 12px; margin:0; padding: 0;" ng-click="unwrapAll()">{{ 'Expand all' | translate }}</md-button> /
                <md-button style="font-size: 12px; margin:0; padding: 0;" ng-click="wrapAll()">{{ 'Wrap all' | translate }}</md-button>
            </div>

            <div layout="column" ng-hide="uiState.hideInstances" resizable r-directions="['bottom']">
                <md-input-container md-no-float class="md-block" style="margin: 0; margin-bottom: 8px">
                    <md-icon>search</md-icon>
                    <input type="text" ng-model="filter.instance" placeholder="{{ 'Search an asset...' | translate }}" flex="80">
                </md-input-container>

                <md-button ui-sref="main.kb_mgmt.models.details({modelId: model.id})" ng-click="clearSelectedInstAndObj();" ng-if="OFFICE_MODE == 'BO'" layout="row" layout-align="start center" style="margin:0 0 8px 0; text-align:left" ng-class="{'active-inst': anr_selected_object_id == null && anr_selected_instance_id == null}">
                    <md-progress-circular md-diameter="20" ng-if="anr_instance_tree_is_patching"></md-progress-circular>
                    <md-icon ng-if="!anr_instance_tree_is_patching">home</md-icon> &nbsp; <span>{{ _langField(model,'label') }}</span> <span flex></span>
                </md-button>
                <md-button ui-sref="main.project.anr({modelId: model.anr.id})" ng-click="clearSelectedInstAndObj();"  ng-if="OFFICE_MODE == 'FO'" layout="row" layout-align="start center" style="margin:0;" ng-class="{'active-inst': anr_selected_object_id == null && anr_selected_instance_id == null}">
                    <md-progress-circular md-diameter="20" ng-if="anr_instance_tree_is_patching"></md-progress-circular>
                    <md-icon ng-if="!anr_instance_tree_is_patching">home</md-icon> &nbsp; <span>{{ model.anr.label }}</span> <span flex></span>
                </md-button>

                <div class="angular-ui-tree" ui-tree="insTreeCallbacks" data-drag-delay="150" id="insTree">
                    <div layout="row" layout-align="center center" ng-if="!anr_obj_instances_data">
                        <md-progress-circular md-diameter="24"></md-progress-circular>
                    </div>

                     <ol class="no-list-style treeview2 instances" ui-tree-nodes="" ng-model="anr_obj_instances_data" id="inst-tree-root">
                        <li ng-repeat="node in anr_obj_instances_data" ui-tree-node data-collapsed="{{node.__collapsed__}}" ng-include="'tree_node_renderer.html'" ng-click="resetFilters()"></li>
                    </ol>
                </div>
            </div>

            <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                <div layout="row" layout-align="space-between center">
                    <div translate>Assets library</div>
                    <md-button class="md-icon-button" ng-click="uiState.hideLibrary = !uiState.hideLibrary"><md-icon>{{ uiState.hideLibrary ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                </div>
            </md-subheader>

            <div layout="column" style="background:white; z-index: 15; min-height: 450px;position:relative;">
                <div ng-hide="uiState.hideLibrary" layout="row" layout-align="center center" style="background:white; z-index: 15;">
                    <md-input-container class="md-block" md-no-float flex  style="margin: 0; margin-bottom: 8px">
                        <md-icon>search</md-icon>
                        <input type="text" ng-model="filter.library" placeholder="{{ 'Search an asset...' | translate }}">
                    </md-input-container>
                    <md-button ng-if="!isAnrReadOnly" class="md-icon-button md-primary" ng-click="addObject($event)">
                        <md-tooltip md-direction="right">
                            {{ 'Add an asset' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </div>

                <div ng-hide="uiState.hideLibrary" class="angular-ui-tree" id="libTree" ui-tree="libTreeCallbacks" data-drag-delay="150" style="background:white; z-index: 15; min-height: 500px">
                    <div layout="row" layout-align="center center" ng-if="!anr_obj_library_data">
                        <md-progress-circular md-diameter="24"></md-progress-circular>
                    </div>
                    <ol class="no-list-style treeview2 categories" ui-tree-nodes="" ng-model="anr_obj_library_data" id="objlib-tree-root">
                        <li ng-repeat="node in anr_obj_library_data" ui-tree-node data-collapsed="{{node.__collapsed__ && !filter.library}}" ng-include="'tree_node_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div flex ui-view="anr" style="background:white; z-index: 15; margin-left: 8px;"></div>
</div>
