<!-- We're using special syntax at some parts of the app, which makes ng-gettext extractor miss a few strings. We
     put them here instead so that the extractor get them too. -->
<p translate>Update</p>
<p translate>Create</p>
<p translate>This AMV link is already used</p>
<p translate>Add</p>
<p translate>Detach object</p>

<!-- PHP Errors Translations -->
<p translate>You cannot add a specific object to a generic parent</p>
<p translate>Parent missing</p>
<p translate>This object already exists in the current risk analysis</p>
<p translate>You can't delete yourself</p>
<p translate>Entity does not exist</p>
<p translate>Data missing</p>
<p translate>Integrity AMV links violation</p>
<p translate>This type of asset is used in a model that is no longer part of the list</p>
<p translate>Object is not an object of this anr</p>
<p translate>Instance not exist</p>
<p translate>Bad mode for this object or models attached to asset incoherent with this object</p>
<p translate>A regulator model may not be generic</p>
<p translate>You must select a position for your category</p>
<p translate>You cannot add yourself as a component</p>
<p translate>You cannot add a specific object to a generic parent</p>
<p translate>You cannot set this object to specific mode because one of its parents is in generic mode.</p>
<p translate>You cannot set this object to generic mode because one of its children is in specific mode.</p>
<p translate>You must type in a password</p>
<p translate>Original password incorrect</p>
<p translate>This name is already used</p>
<p translate>You cannot change the scope of an existing object.</p>
<p translate>You cannot change the asset type of an existing object.</p>
<p translate>You cannot create a cyclic dependency</p>
<p translate>You can not make this change. The level of integrity between the model and its objects would corrupt</p>
<p translate>You cannot add a specific object to a generic model</p>
<p translate>Value for qualification is not valid</p>
<p translate>Value for probability is not valid</p>
<p translate>This proxy alias is already used</p>
<p translate>Model missing</p>
<p translate>Field previous missing</p>
<p translate>Asset can't be primary</p>
<p translate>Asset mode can't be null</p>
<p translate>One model must be common to asset, threat and vulnerability</p>
<p translate>All asset models must not be regulator</p>
<p translate>Entity does not exist for this ANR</p>
<p translate>Anr to export is required</p>
<p translate>This risk analysis does not exist</p>
<p translate>Asset not found</p>
<p translate>Object is not an object of this anr</p>
<p translate>Instance does not exist</p>
<p translate>This is not a root instance</p>
<p translate>You may only move a root-level instance</p>
<p translate>Instance to export is required</p>
<p translate>Risk analysis does not exist</p>
<p translate>Position missing</p>
<p translate>Asset to export is required</p>
<p translate>This component already exist for this object</p>
<p translate>This object is not bound to the ANR</p>
<p translate>Anr missing</p>
<p translate>You can't have a generic object based on a specific asset</p>
<p translate>You cannot create an object that is both global and primary</p>
<p translate>Object does not exist</p>
<p translate>Asset's model must not be regulator</p>
<p translate>The tuple asset / threat / vulnerability is invalid</p>
<p translate>All models must be common to asset, threat and vulnerability</p>
<p translate>This code is already used</p>
<p translate>This risk already exists in this instance</p>
<p translate>Risk already link to this recommendation</p>
<p translate>You are not authorized to duplicate this analysis</p>
<p translate>Value for qualification is not valid, Value for reduction amount is not valid</p>
<p translate>Value for netProb is not valid</p>
<p translate>Value for netR is not valid</p>
<p translate>Value for netO is not valid</p>
<p translate>Value for netL is not valid</p>
<p translate>Value for netF is not valid</p>
<p translate>Value for netP is not valid</p>
<p translate>Value for targetedProb is not valid</p>
<p translate>Value for targetedR is not valid</p>
<p translate>Value for targetedO is not valid</p>
<p translate>Value for targetedL is not valid</p>
<p translate>Value for targetedF is not valid</p>
<p translate>Value for targetedP is not valid</p>