<div class="md-padding-left md-padding-right" layout="column">
    <div layout="row">
        <table class="md-html-table" editable callback="changeRiskOp">
            <thead>
                <tr>
                    <th class="column-scales-table no-border" rowspan="2"></th>
                    <th class="column-scales-table" translate rowspan="2">Prob.</th>
                    <th colspan="{{(opRiskImpactScales | filter:{isHidden:false}).length}}" translate>
                        <span translate>Impact</span>
                        <md-icon class="md-primary icon-small no-margin"  ng-if="opRiskScalesAreHidden" ng-attr-title="{{ 'Some scales are hidden' | translate }}">announcement</md-icon>
                    </th>
                    <th class="column-scales-table" translate rowspan="2">MAX risk</th>
                </tr>
                <tr>
                    <th class="column-scales-table" ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}">{{ scale.label }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tbl-risk-calc">
                    <td class="bold txtleft" translate>Current risk</td>
                    <td>{{ opsheet_risk.netProb > -1 ? (opsheet_risk.netProb | dashnull) : '-' }}</td>
                    <td ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}">
                        {{ opsheet_risk.scales[scale.id].netValue > -1 ? (opsheet_risk.scales[scale.id].netValue | dashnull) : '-' }}
                    </td>
                    <td
                      class="tbl-risk-calc"
                      ng-class="{
                        'green': opsheet_risk.cacheNetRisk >= 0 && opsheet_risk.cacheNetRisk <= thresholds.rolf_thresholds.min,
                        'orange': opsheet_risk.cacheNetRisk > thresholds.rolf_thresholds.min && opsheet_risk.cacheNetRisk <= thresholds.rolf_thresholds.max,
                        'red': opsheet_risk.cacheNetRisk > thresholds.rolf_thresholds.max
                      }">
                      {{ opsheet_risk.cacheNetRisk > -1 ? (opsheet_risk.cacheNetRisk | dashnull) : '-' }}
                    </td>
                </tr>
                <tr class="tbl-risk-calc" edit-model="opsheet_risk">
                    <td class="bold txtleft" translate>Residual risk</td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedProb" edit-filter="dashnull"></td>
                    <td
                      ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}"
                      class="small txtcenter"
                      ng-if="instmode != 'obj'"
                      edit-readonly="isAnrReadOnly"
                      edit-localmodel="opsheet_risk.scales[scale.id]"
                      edit-field="targetValue"
                      edit-filter="dashnull">
                    </td>
                    <td
                      class="tbl-risk-calc"
                      ng-class="{
                        'green': opsheet_risk.cacheTargetRisk >= 0 && opsheet_risk.cacheTargetRisk <= thresholds.rolf_thresholds.min,
                        'orange': opsheet_risk.cacheTargetRisk > thresholds.rolf_thresholds.min && opsheet_risk.cacheTargetRisk <= thresholds.rolf_thresholds.max,
                        'red': opsheet_risk.cacheTargetRisk > thresholds.rolf_thresholds.max}">
                        {{ opsheet_risk.cacheTargetRisk > -1 ? (opsheet_risk.cacheTargetRisk | dashnull) : '-' }}
                      </td>
                </tr>
                <tr>
                    <td class="bold" translate>Asset</td>
                    <td class="bold" colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}"><md-icon ng-if="opsheet_risk.instanceInfos.scope == 2" class="md-tree-global-icon">language</md-icon>{{ _langField(opsheet_risk.instanceInfos,"name") }}</td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk description</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}">{{ _langField(opsheet_risk,"label") }}</td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk owner</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}" edit-readonly="isAnrReadOnly">
                        <div layout="row" layout-align="center center">
                            <md-autocomplete
                                    flex
                                    md-input-name="owner"
                                    md-no-cache="true"
                                    md-selected-item="opsheet_risk.owner"
                                    md-search-text="ownerSearchText"
                                    md-items="item in queryOwnerSearch(ownerSearchText,'opsheet_risk')"
                                    md-item-text="item"
                                    md-min-length="0"
                                    md-floating-label=" ">
                                <md-item-template>
                                    <span md-highlight-text="ownerSearchText" md-highlight-flags="^i">{{item}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk context</td>
                    <td  colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}" edit-readonly="isAnrReadOnly">
                      <md-input-container class="md-block" layout="row" flex>
                        <input ng-model="opsheet_risk.context">
                      </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk probability</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}">
                        <div ng-if="opsheet_risk.netProb == -1">-</div>
                        <div ng-if="opsheet_risk.netProb > -1"><strong>{{ opsheet_risk.netProb }}</strong> - {{ _langField(comms.threat[opsheet_risk.netProb],'comment') }}</div>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Existing controls</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}">
                        {{opsheet_risk.comment}}
                    </td>
                </tr>
                <tr ng-if="OFFICE_MODE == 'FO'" ng-controller="RiskRecommendationPartialCtrl" monarc-mode="operational">
                    <td class="bold" style="vertical-align:top;">
                        <span translate>Recommendations</span>
                        <div layout="row" layout-align="center center">
                            <md-autocomplete
                                    flex
                                    md-no-cache
                                    ng-disabled="isAnrReadOnly"
                                    md-selected-item="rec_edit.rec"
                                    md-search-text="recSearchText"
                                    md-items="item in queryRecSearch(recSearchText)"
                                    md-item-text="item.description"
                                    md-delay="300"
                                    md-min-length="0"
                                    md-input-name="rec"
                                    md-menu-class="reco-autocomplete"
                                    md-floating-label="{{ 'Search a recommendation' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="recSearchText" md-highlight-flags="^i">{{ item.code }} - {{ item.description }}</span>
                                </md-item-template>

                                <md-not-found>
                                    {{ 'No recommendation matching your search was found' | translate }}
                                </md-not-found>
                            </md-autocomplete>

                            <md-button ng-click="rec_edit.rec?attachRecommandation():createRecommandation($event)" class="md-icon-button md-primary" ng-attr-title="{{ 'Attach this recommendation' | translate }}" ng-disabled="isAnrReadOnly">
                                <md-icon>{{ rec_edit.rec?'link':'add_to_photos' }}</md-icon>
                            </md-button>
                        </div>
                    </td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}">
                        <ul class="no-list-style no-padding no-margin">
                            <li ng-repeat="recommandation in _copyRecs | orderBy : 'importance'">
                                <p><a class="md-primary" ui-sref="main.project.anr.risksplan.sheet({modelId: model.anr.id, recId: recommandation.recommandation.uuid})" ng-attr-title="{{ 'Implementation of the risk treatment plan' | translate }}" ><md-icon>open_in_new</md-icon></a>
                                    <a class="md-primary" href="#" ng-click="editRecommandation($event, recommandation)">{{ recommandation.recommandation.code }}</a> <span class="anr-importance" ng-repeat="i in range(1, recommandation.recommandation.importance)">&bull;</span> &gt; {{ recommandation.recommandation.description }}
                                    <a ng-if="recommandation.recommandation.importance == 0" class="md-mandatory-field txtright" translate>Importance is required</a>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Kind of treatment</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}" style="padding-top:0px;padding-bottom:0px;">
                        <md-input-container class="md-block" style="width: 200px;margin:0px;">
                            <md-icon>widgets</md-icon>
                            <md-select ng-model="opsheet_risk.kindOfMeasure" ng-disabled="isAnrReadOnly">
                                <md-option ng-value="5">{{ 'Not treated' | translate }}</md-option>
                                <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                                <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                                <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                                <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Security referentials</td>
                    <td colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}">
                      <md-tabs md-dynamic-height="true">
                        <md-tab ng-repeat="ref in referentials.items.referentials" label="{{ _langField(ref,'label')}}"
                                md-on-select="selectReferential(ref.uuid)" md-on-deselect="deselectReferentialsTab()">
                            <p ng-repeat="measure in opsheet_risk.measures | orderBy : 'code'" ng-if="measure.referential.uuid == referential_uuid">
                              {{ measure.code }} - {{ _langField(measure,'label') }}
                            </p>
                        </md-tab>
                    </md-tabs>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div layout="row" layout-align="space-around center">
          <md-button ng-click="previousOpRisk()" class="md-accent md-hue-3" ng-disabled="idxOpRisks <= 0">
              <md-icon>chevron_left</md-icon>
              {{ 'Previous' | translate }}
          </md-button>

          <md-button class="md-accent md-hue-3" ng-click="resetOpSheet()">{{ 'Back to the list' | translate }}</md-button>

          <md-button ng-click="nextOpRisk()" class="md-accent md-hue-3" ng-disabled="idxOpRisks >= oprisks.length - 1">
              {{ 'Next' | translate }}
              <md-icon>chevron_right</md-icon>
          </md-button>
    </div>

    <!-- <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="operational" ng-controller="RiskRecommendationPartialCtrl" src="'views/anr/_risk_rec_create_form.html'"></ng-include>
    <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="operational" ng-controller="RiskRecommendationPartialCtrl" src="'views/anr/_risk_rec_form.html'"></ng-include> -->

</div>
