<div class="md-padding-left md-padding-right" layout="column">
    <h3 layout="row" layout-align="start center"><md-button class="md-primary md-light-theme" ng-click="resetOpSheet()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button></h3>

    <div layout="row">
        <table class="md-html-table" editable callback="changeRiskOp">
            <thead>
                <tr>
                    <th class="no-border"></th>
                    <th style="width:12%;" translate>Prob.</th>
                    <th style="width:12%;">R</th>
                    <th style="width:12%;">O</th>
                    <th style="width:12%;">L</th>
                    <th style="width:12%;">F</th>
                    <th style="width:12%;">P</th>
                    <th style="width:12%;" translate>MAX risk</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tbl-risk-calc">
                    <td class="bold txtleft" translate>Current risk</td>
                    <td>{{ opsheet_risk.netProb > -1 ? (opsheet_risk.netProb | dashnull) : '-' }}</td>
                    <td>{{ opsheet_risk.netR > -1 ? (opsheet_risk.netR | dashnull) : '-' }}</td>
                    <td>{{ opsheet_risk.netO > -1 ? (opsheet_risk.netO | dashnull) : '-' }}</td>
                    <td>{{ opsheet_risk.netL > -1 ? (opsheet_risk.netL | dashnull) : '-' }}</td>
                    <td>{{ opsheet_risk.netF > -1 ? (opsheet_risk.netF | dashnull) : '-' }}</td>
                    <td>{{ opsheet_risk.netP > -1 ? (opsheet_risk.netP | dashnull) : '-' }}</td>
                    <td class="tbl-risk-calc" ng-class="{'green': opsheet_risk.cacheNetRisk >= 0 && opsheet_risk.cacheNetRisk <= thresholds.rolf_thresholds.min, 'orange': opsheet_risk.cacheNetRisk > thresholds.rolf_thresholds.min && opsheet_risk.cacheNetRisk <= thresholds.rolf_thresholds.max, 'red': opsheet_risk.cacheNetRisk > thresholds.rolf_thresholds.max}">{{ opsheet_risk.cacheNetRisk > -1 ? (opsheet_risk.cacheNetRisk | dashnull) : '-' }}</td>
                </tr>
                <tr class="tbl-risk-calc" edit-model="opsheet_risk">
                    <td class="bold txtleft" translate>Residual risk</td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedProb" edit-filter="dashnull"></td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedR" edit-filter="dashnull"></td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedO" edit-filter="dashnull"></td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedL" edit-filter="dashnull"></td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedF" edit-filter="dashnull"></td>
                    <td class="small" edit-readonly="isAnrReadOnly" edit-field="targetedP" edit-filter="dashnull"></td>
                    <td class="tbl-risk-calc" ng-class="{'green': opsheet_risk.cacheTargetedRisk >= 0 && opsheet_risk.cacheTargetedRisk <= thresholds.rolf_thresholds.min, 'orange': opsheet_risk.cacheTargetedRisk > thresholds.rolf_thresholds.min && opsheet_risk.cacheTargetedRisk <= thresholds.rolf_thresholds.max, 'red': opsheet_risk.cacheTargetedRisk > thresholds.rolf_thresholds.max}">{{ opsheet_risk.cacheTargetedRisk > -1 ? (opsheet_risk.cacheTargetedRisk | dashnull) : '-' }}</td>
                </tr>
                <tr>
                    <td class="bold" translate>Asset</td>
                    <td class="bold" colspan="7"><md-icon ng-if="opsheet_risk.instanceInfos.scope == 2" class="md-tree-global-icon">language</md-icon>{{ _langField(opsheet_risk.instanceInfos,"name") }}</td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk description</td>
                    <td colspan="7">{{ _langField(opsheet_risk,"label") }}</td>
                </tr>
                <tr>
                    <td class="bold" translate>Risk probability</td>
                    <td colspan="7">
                        <div ng-if="opsheet_risk.netProb == -1">-</div>
                        <div ng-if="opsheet_risk.netProb > -1"><strong>{{ opsheet_risk.netProb }}</strong> - {{ _langField(comms.threat[opsheet_risk.netProb],'comment') }}</div>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Existing controls</td>
                    <td colspan="7">
                        {{opsheet_risk.comment}}
                    </td>
                </tr>
                <tr ng-if="OFFICE_MODE == 'FO'" ng-controller="RiskRecommendationPartialCtrl" monarc-mode="operational">
                    <td class="bold" style="vertical-align:top;">
                        <span translate>Recommendations</span>
                        <div layout="row" layout-align="center center">
                            <md-autocomplete
                                    flex
                                    md-no-cache
                                    ng-disabled="isAnrReadOnly"
                                    md-selected-item="rec_edit.rec"
                                    md-search-text="recSearchText"
                                    md-items="item in queryRecSearch(recSearchText)"
                                    md-item-text="item.description"
                                    md-delay="300"
                                    md-min-length="0"
                                    md-input-name="rec"
                                    md-menu-class="reco-autocomplete"
                                    md-floating-label="{{ 'Search a recommendation' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="recSearchText" md-highlight-flags="^i">{{ item.code }} - {{ item.description }}</span>
                                </md-item-template>

                                <md-not-found>
                                    {{ 'No recommendation matching your search was found' | translate }}
                                </md-not-found>
                            </md-autocomplete>

                            <md-button ng-click="rec_edit.rec?attachRecommandation():createRecommandation($event)" class="md-icon-button md-primary" ng-attr-title="{{ 'Attach this recommendation' | translate }}" ng-disabled="isAnrReadOnly">
                                <md-icon>{{ rec_edit.rec?'link':'add_to_photos' }}</md-icon>
                            </md-button>
                            <md-button ng-if="rec_edit.rec" ng-click="copyRecommandation($event, rec_edit.rec)" class="md-icon-button md-primary" ng-attr-title="{{ 'Copy' | translate }}" ng-disabled="isAnrReadOnly">
                                <i class="material-icons">control_point_duplicate</i>
                            </md-button>
                        </div>
                    </td>
                    <td colspan="7" style="vertical-align:top;">
                        <ul class="no-list-style no-padding no-margin">
                            <li ng-repeat="recommandation in _copyRecs"><a class="md-primary" href="javascript:void(0);" ng-click="editRecommandation($event, recommandation)">{{ recommandation.recommandation.code }}</a> <span class="anr-importance" ng-repeat="i in range(1, recommandation.recommandation.importance)">&bull;</span> &gt; {{ recommandation.recommandation.description }}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="bold" translate>Kind of treatment</td>
                    <td colspan="7" style="padding-top:0px;padding-bottom:0px;">
                        <md-input-container class="md-block" style="width: 200px;margin:0px;">
                            <md-icon>widgets</md-icon>
                            <md-select ng-model="opsheet_risk.kindOfMeasure" ng-disabled="isAnrReadOnly">
                                <md-option ng-value="5">{{ 'Not treated' | translate }}</md-option>
                                <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                                <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                                <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                                <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div layout="row" layout-align="end center">
        <md-button class="md-accent md-hue-3" ng-disabled="isAnrReadOnly" ng-click="saveOpRiskSheet(opsheet_risk)">{{ 'Save' | translate }}</md-button>
    </div>

    <!-- <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="operational" ng-controller="RiskRecommendationPartialCtrl" src="'views/anr/_risk_rec_create_form.html'"></ng-include>
    <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="operational" ng-controller="RiskRecommendationPartialCtrl" src="'views/anr/_risk_rec_form.html'"></ng-include> -->

</div>
