<div class="md-padding-left md-padding-right">
    <h3 layout="row" layout-align="start center"><md-button ng-click="resetSheet()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button></h3>
    <span class="md-subhead md-padding-left" translate>Risk sheet</span>

     <div layout="row">
        <table class="md-html-table">
        <thead>
            <tr>
                <th class="no-border"></th>
                <th style="width:27%;">C</th>
                <th style="width:27%;">I</th>
                <th style="width:27%;">D</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tbl-risk-calc">
                <td class="bold txtleft" translate>Current risk</td>
                <td ng-if="sheet_risk.c_risk_enabled" ng-class="{'green': sheet_risk.c_risk <= thresholds.thresholds.min && sheet_risk.c_risk > -1, 'orange': sheet_risk.c_risk <= thresholds.thresholds.max && sheet_risk.c_risk > thresholds.thresholds.min, 'red': sheet_risk.c_risk > thresholds.thresholds.max}">
                    {{sheet_risk.c_risk}}
                </td>
                <td ng-if="!sheet_risk.c_risk_enabled" ng-disabled="true"></td>
                <td ng-if="sheet_risk.i_risk_enabled" ng-class="{'green': sheet_risk.i_risk <= thresholds.thresholds.min && sheet_risk.i_risk > -1, 'orange': sheet_risk.i_risk <= thresholds.thresholds.max && sheet_risk.i_risk > thresholds.thresholds.min, 'red': sheet_risk.i_risk > thresholds.thresholds.max}">
                    {{sheet_risk.i_risk}}
                </td>
                <td ng-if="!sheet_risk.i_risk_enabled" ng-disabled="true"></td>
                <td ng-if="sheet_risk.d_risk_enabled" ng-class="{'green': sheet_risk.d_risk <= thresholds.thresholds.min && sheet_risk.d_risk > -1, 'orange': sheet_risk.d_risk <= thresholds.thresholds.max && sheet_risk.d_risk > thresholds.thresholds.min, 'red': sheet_risk.d_risk > thresholds.thresholds.max}">
                    {{sheet_risk.d_risk}}
                </td>
                <td ng-if="!sheet_risk.d_risk_enabled" ng-disabled="true"></td>
            </tr>
            <tr class="tbl-risk-calc">
                <td class="bold txtleft" translate>Target risk</td>
                <td ng-if="sheet_risk.c_risk_enabled" ng-class="{'green': sheet_risk.target_c <= thresholds.thresholds.min && sheet_risk.target_c > -1, 'orange': sheet_risk.target_c <= thresholds.thresholds.max && sheet_risk.target_c > thresholds.thresholds.min, 'red': sheet_risk.target_c > thresholds.thresholds.max}">
                    {{sheet_risk.target_c}}
                </td>
                <td ng-if="!sheet_risk.c_risk_enabled" ng-disabled="true"></td>
                <td ng-if="sheet_risk.i_risk_enabled" ng-class="{'green': sheet_risk.target_i <= thresholds.thresholds.min && sheet_risk.target_i > -1,  'orange': sheet_risk.target_i <= thresholds.thresholds.max && sheet_risk.target_i > thresholds.thresholds.min, 'red': sheet_risk.target_i > thresholds.thresholds.max}">
                    {{sheet_risk.target_i}}
                </td>
                <td ng-if="!sheet_risk.i_risk_enabled" ng-disabled="true"></td>
                <td ng-if="sheet_risk.d_risk_enabled" ng-class="{'green': sheet_risk.target_d <= thresholds.thresholds.min && sheet_risk.target_d > -1, 'orange': sheet_risk.target_d <= thresholds.thresholds.max && sheet_risk.target_d > thresholds.thresholds.min, 'red': sheet_risk.target_d > thresholds.thresholds.max}">
                    {{sheet_risk.target_d}}
                </td>
                <td ng-if="!sheet_risk.d_risk_enabled" ng-disabled="true"></td>
            </tr>
            <tr>
                <td class="bold" translate>Instance</td>
                <td class="bold" colspan="3"><md-icon ng-if="instanceCache[sheet_risk.instance].scope == 2" class="md-tree-global-icon">language</md-icon>{{ instanceCache[sheet_risk.instance].completePath }}</td>
            </tr>
            <tr>
                <td class="bold" translate>Threat</td>
                <td colspan="3">{{ sheet_risk[_langField('threatLabel')] }}</td>
            </tr>
             <tr>
                <td class="bold" translate>Threat probability</td>
                <td colspan="3">
                    <div ng-if="sheet_risk.threatRate == -1">-</div>
                    <div ng-if="sheet_risk.threatRate > -1"><strong>{{ sheet_risk.threatRate }}</strong> - {{ comms.threat[sheet_risk.threatRate][_langField('comment')] }}</div>
                </td>
            </tr>
            <tr>
                <td class="bold" translate>Vulnerability</td>
                <td colspan=3>{{ sheet_risk[_langField('vulnLabel')] }}</td>
            </tr>
             <tr>
                <td class="bold" translate>Vulnerability qualification</td>
                <td colspan="3">
                    <div ng-if="sheet_risk.vulnerabilityRate == -1">-</div>
                    <div ng-if="sheet_risk.vulnerabilityRate > -1"><strong>{{ sheet_risk.vulnerabilityRate }}</strong> - {{ comms.vuln[sheet_risk.vulnerabilityRate][_langField('comment')] }}</div>
                </td>
            </tr>
            <tr>
                <td class="bold" translate>Measures set</td>
                <td colspan="3">{{ sheet_risk.comment }}</td>
            </tr>
            <tr ng-if="OFFICE_MODE == 'FO'">
                <td class="bold" translate>Recommendations</td>
                <td colspan="3">
                    <ul class="no-list-style no-padding">
                        <li ng-repeat="rec in _copyRecs">{{ rec.recommandation.code }} <span class="anr-importance" ng-repeat="i in range(1, rec.recommandation.importance)">&bull;</span> &gt; {{ rec.recommandation.description }}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="bold" translate>Processing type</td>
                <td colspan="3" style="padding-top:0px;padding-bottom:0px;">
                    <md-input-container style="width: 200px;margin:0px;">
                        <md-icon>widgets</md-icon>
                        <md-select ng-model="sheet_risk.kindOfMeasure" ng-disabled="isAnrReadOnly">
                            <md-option ng-value="5">{{ 'Not processed' | translate }}</md-option>
                            <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                            <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                            <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                            <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td class="bold" translate>Reduce vulnerability by</td>
                <td colspan="3" style="padding-top:0px;padding-bottom:0px;">
                    <md-input-container style="width: 200px;margin:0px;">
                        <md-icon>trending_down</md-icon>
                        <md-select ng-model="sheet_risk.reductionAmount" ng-disabled="isAnrReadOnly">
                            <md-option ng-repeat="i in reducAmount" ng-value="{{ i }}">{{ i }}</md-option>
                        </md-select>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td class="bold" translate>Security referential</td>
                <td colspan="3">
                    <div ng-if="sheet_risk.measure1.code">{{ sheet_risk.measure1.code }} - {{ sheet_risk.measure1[_langField('description')] }}</div>
                    <div ng-if="sheet_risk.measure2.code">{{ sheet_risk.measure2.code }} - {{ sheet_risk.measure2[_langField('description')] }}</div>
                    <div ng-if="sheet_risk.measure3.code">{{ sheet_risk.measure3.code }} - {{ sheet_risk.measure3[_langField('description')] }}</div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div layout="row" layout-align="end center">
        <md-button class="md-accent md-hue-3" ng-disabled="isAnrReadOnly" ng-click="saveRiskSheet(sheet_risk)">{{ 'Save' | translate }}</md-button>
    </div>


    <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="information" ng-controller="RiskRecommendationPartialCtrl" src="'/views/anr/_risk_rec_create_form.html'"></ng-include>
    <ng-include ng-if="OFFICE_MODE == 'FO'" monarc-mode="information" ng-controller="RiskRecommendationPartialCtrl" src="'/views/anr/_risk_rec_form.html'"></ng-include>
</div>
