<div class="md-padding-left md-padding-right">
    <h3 layout="row" layout-align="start center"><md-button class="md-icon-button" ng-click="resetSheet()"><md-icon>arrow_back</md-icon></md-button> <span translate>Risk sheet</span></h3>

    <table class="md-html-table">
        <tbody>
        <tr>
            <td class="bold txtright" style="width: 250px" translate>Threat:</td>
            <td>{{ sheet_risk[_langField('threatDescription')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability:</td>
            <td>{{ sheet_risk[_langField('vulnDescription')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Observations:</td>
            <td>{{ sheet_risk.comment }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Threat probability:</td>
            <td>{{ sheet_risk.threatRate }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability qualification:</td>
            <td>{{ sheet_risk.vulnerabilityRate }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #1:</td>
            <td>{{ sheet_risk.measure1.code }} - {{ sheet_risk.measure1[_langField('description')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #2:</td>
            <td>{{ sheet_risk.measure2.code }} - {{ sheet_risk.measure2[_langField('description')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #3:</td>
            <td>{{ sheet_risk.measure3.code }} - {{ sheet_risk.measure3[_langField('description')] }}</td>
        </tr>
        </tbody>
    </table>

    <form class="md-padding">
        <md-input-container class="md-block">
            <label translate>Processing type</label>
            <md-icon>widgets</md-icon>
            <md-select ng-model="sheet_risk.kindOfMeasure">
                <md-option ng-value="5">{{ 'Not processed' | translate }}</md-option>
                <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label translate>Reduce vulnerability by</label>
            <md-icon>trending_down</md-icon>
            <md-select ng-model="sheet_risk.reductionAmount">
                <md-option ng-repeat="i in reducAmount" ng-value="{{ i }}">{{ i }}</md-option>
            </md-select>
        </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="saveRiskSheet(sheet_risk)">{{ 'Save changes' | translate }}</md-button>
        </div>
    </form>

    <form class="md-padding" ng-if="OFFICE_MODE == 'FO'" layout="column">
        <span class="md-subhead" translate>Create / edit recommendations</span>

        <div layout="row">
            <md-autocomplete
                    flex
                    md-no-cache
                    md-selected-item="rec_edit.rec"
                    md-search-text="recSearchText"
                    md-items="item in queryRecSearch(recSearchText)"
                    md-item-text="item.description"
                    md-delay="300"
                    md-min-length="0"
                    md-input-name="rec"
                    md-floating-label="{{ 'Recommendation' | translate }}">
                <md-item-template>
                    <span md-highlight-text="recSearchText" md-highlight-flags="^i">{{ item.code }} - {{ item.description }}</span>
                </md-item-template>

                <md-not-found>
                    {{ 'No recommendation matching your search was found' | translate }}
                </md-not-found>
            </md-autocomplete>

            <md-button ng-click="attachRecommandation()" ng-disabled="!rec_edit.rec">
                <md-icon>link</md-icon>
                {{ 'Attach' | translate }}
            </md-button>
            <md-button ng-click="createRecommandation($event)">
                <md-icon>add</md-icon>
                {{ 'Create new recommendation' | translate }}
            </md-button>
        </div>

        <md-list>
            <md-list-item class="md-3-line" ng-repeat="recommandation in recommandations">
                <div class="md-padding-double md-list-item-text" kayout="column">
                    <h3>#{{ recommandation.recommandation.code }} <span ng-repeat="i in range(1, recommandation.recommandation.importance)">&starf;</span></h3>
                    <h4>{{ recommandation.recommandation.description }}</h4>
                    <div layout="column">
                        <b translate>Security measures:</b>
                        <ul class="no-list-style">
                            <li ng-repeat="measure in recommandation.measures"><b>{{ measure.measure.code }}</b> - {{ measure.measure[_langField('description')] }}
                                <md-button class="md-icon-button" ng-click="detachMeasureFromRecommandation($event, recommandation, measure)">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </li>
                            <li><md-button ng-click="attachMeasureToRecommandation($event, recommandation)"><md-icon>add</md-icon> {{ 'Add a measure' | translate }}</md-button></li>
                        </ul>
                        <div layout="row">
                            <md-button ng-click="detachRecommandation($event, recommandation)">{{ 'Detach' | translate }}</md-button>
                            <md-button ng-click="editRecommandation($event, recommandation)">{{ 'Edit' | translate }}</md-button>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </form>
</div>
