
<form class="md-padding" layout="column">
    <span class="md-subhead" translate>Edit recommendations</span>

    <md-list>
        <md-list-item class="md-3-line" ng-repeat="recommendation in recommendations">
            <div class="md-padding-double md-list-item-text" kayout="column">
                <h3>#{{ recommendation.recommendation.code }} <span ng-repeat="i in range(1, recommendation.recommendation.importance)" class="anr-importance">&bull;</span></h3>
                <h4>{{ recommendation.recommendation.description }}</h4>
                <div layout="column">
                    <b translate>Security controls:</b>
                    <ul class="no-list-style">
                        <li ng-repeat="measure in recommendation.measures"><b>{{ measure.measure.code }}</b> - {{ _langField(measure.measure,'description') }}
                            <md-button class="md-icon-button" ng-click="detachMeasureFromRecommendation($event, recommendation, measure)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </li>
                        <li><md-button ng-click="attachMeasureToRecommendation($event, recommendation)"><md-icon>add</md-icon> {{ 'Add a control' | translate }}</md-button></li>
                    </ul>
                    <div layout="row">
                        <md-button ng-click="detachRecommendation($event, recommendation)">{{ 'Detach' | translate }}</md-button>
                        <md-button ng-click="editRecommendation($event, recommendation)">{{ 'Edit' | translate }}</md-button>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>

    </md-list>
</form>
