
<form class="md-padding" layout="column">
    <span class="md-subhead" translate>Edit recommendations</span>

    <md-list>
        <md-list-item class="md-3-line" ng-repeat="recommandation in recommandations">
            <div class="md-padding-double md-list-item-text" kayout="column">
                <h3>#{{ recommandation.recommandation.code }} <span ng-repeat="i in range(1, recommandation.recommandation.importance)" class="anr-importance">&bull;</span></h3>
                <h4>{{ recommandation.recommandation.description }}</h4>
                <div layout="column">
                    <b translate>Security measures:</b>
                    <ul class="no-list-style">
                        <li ng-repeat="measure in recommandation.measures"><b>{{ measure.measure.code }}</b> - {{ _langField(measure.measure,'description') }}
                            <md-button class="md-icon-button" ng-click="detachMeasureFromRecommandation($event, recommandation, measure)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </li>
                        <li><md-button ng-click="attachMeasureToRecommandation($event, recommandation)"><md-icon>add</md-icon> {{ 'Add a measure' | translate }}</md-button></li>
                    </ul>
                    <div layout="row">
                        <md-button ng-click="detachRecommandation($event, recommandation)">{{ 'Detach' | translate }}</md-button>
                        <md-button ng-click="editRecommandation($event, recommandation)">{{ 'Edit' | translate }}</md-button>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>

    </md-list>
</form>