<div ng-include="'views/anr/_risk_sheet.html'" ng-if="sheet_risk"></div>

<div ng-if="risks && risks.length === 0" class="md-padding">
    <em>{{ 'There is no AMV link for this instance, so the risks table is empty.' | translate }}</em>
</div>
<div ng-if="risks === undefined" class="md-padding">
    <md-progress-circular md-indeterminate="true"></md-progress-circular>
</div>


<div layout-gt-lg="row" layout="column" layout-align="center center" ng-if="instmode == 'anr' && !sheet_risk">
    <md-card>
        <md-button>
            <md-icon>save</md-icon>
            {{ 'Export to CSV' | translate }}
        </md-button>
    </md-card>

    <md-card>
        <md-card-content layout="row" layout-align="center center">
            {{ 'Risk threshold (on max CID)' | translate }}&nbsp;
            <md-radio-group ng-model="risks_filters.thresholds" layout="row" class="md-primary">
                <md-radio-button ng-value="1"><div class="tbl-risk-calc anr-scales-demo-block green"></div></md-radio-button>
                <md-radio-button ng-value="2"><div class="tbl-risk-calc anr-scales-demo-block orange"></div></md-radio-button>
                <md-radio-button ng-value="3"><div class="tbl-risk-calc anr-scales-demo-block red"></div></md-radio-button>
            </md-radio-group>

            &nbsp;

            <md-input-container style="margin: 0 0">
                <label translate>Keywords</label>
                <input ng-model="risks_filters.keywords">
            </md-input-container>

            &nbsp;

            <md-input-container style="margin: 0 0; min-width: 120px;">
                <label translate>Processing type</label>
                <md-select ng-model="risks_filters.kindOfMeasure">
                    <md-option ng-value="null">{{ 'All (unfiltered)' | translate }}</md-option>
                    <md-option ng-value="5">{{ 'Not processed' | translate }}</md-option>
                    <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                    <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                    <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                    <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                </md-select>
            </md-input-container>

            <md-button>{{ 'Filter' | translate }}</md-button>
        </md-card-content>
    </md-card>
</div>

<table editable callback="onRisksTableEdited" class="md-html-table" ng-if="!sheet_risk && risks.length > 0">
    <thead>
    <tr>
        <th rowspan="2"><p translate>Instance</p></th>
        <th colspan="3"><p translate>Impact</p></th>
        <th rowspan="2"><p translate>Asset</p></th>
        <th colspan="2"><p translate>Threat</p></th>
        <th colspan="3"><p translate>Vulnerability</p></th>
        <th colspan="3"><p translate>Current risk</p></th>
        <th rowspan="2"><p translate>T</p></th>
        <th rowspan="2"><p translate>Target risk</p></th>
    </tr>
    <tr>
        <th>C</th>
        <th>I</th>
        <th>D</th>
        <th translate>Label</th>
        <th translate>Prob.</th>
        <th translate>Label</th>
        <th translate>Measures set</th>
        <th translate>Qualif.</th>
        <th>C</th>
        <th>I</th>
        <th>D</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="risk in risks" edit-model="risk">
        <td>{{instanceCache[risk.instance][_langField('label')]}}</td>
        <td title="{{ scaleCommCache[1][risk.c_impact] }}">{{risk.c_impact}}</td>
        <td title="{{ scaleCommCache[2][risk.i_impact] }}">{{risk.i_impact}}</td>
        <td title="{{ scaleCommCache[3][risk.d_impact] }}">{{risk.d_impact}}</td>
        <td class="preserve-newlines" title="{{::risk[_langField('assetDescription')]}}">{{::risk[_langField('assetLabel')]}}</td>
        <td class="preserve-newlines" title="{{::risk[_langField('threatDescription')]}}">{{::risk[_langField('threatLabel')]}}</td>
        <td edit-field="threatRate" edit-type="number" edit-filter="dashnull" title="{{threatCommCache[risk.threatRate]}}"></td>
        <td class="preserve-newlines" title="{{::risk[_langField('vulnDescription')]}}">{{::risk[_langField('vulnLabel')]}}</td>
        <td class="preserve-newlines" edit-field="comment" edit-type="textarea"></td>
        <td edit-field="vulnerabilityRate" edit-type="number" edit-filter="dashnull" title="{{vulnsCommCache[risk.vulnerabilityRate]}}"></td>
        <td ng-disabled="!risk.c_risk_enabled" class="tbl-risk-calc"
            ng-class="{'green': risk.c_risk > 0 && risk.c_risk < thresholds.thresholds.min, 'orange': risk.c_risk >= thresholds.thresholds.min && risk.c_risk < thresholds.thresholds.max, 'red': risk.c_risk >= thresholds.thresholds.max}">{{ risk.c_risk_enabled ? (risk.c_risk | dashnull) : '' }}</td>
        <td ng-disabled="!risk.i_risk_enabled" class="tbl-risk-calc"
            ng-class="{'green': risk.i_risk > 0 && risk.i_risk < thresholds.thresholds.min, 'orange': risk.i_risk >= thresholds.thresholds.min && risk.i_risk < thresholds.thresholds.max, 'red': risk.i_risk >= thresholds.thresholds.max}">{{ risk.i_risk_enabled ? (risk.i_risk | dashnull) : '' }}</td>
        <td ng-disabled="!risk.d_risk_enabled" class="tbl-risk-calc"
            ng-class="{'green': risk.d_risk > 0 && risk.d_risk < thresholds.thresholds.min, 'orange': risk.d_risk >= thresholds.thresholds.min && risk.d_risk < thresholds.thresholds.max, 'red': risk.d_risk >= thresholds.thresholds.max}">{{ risk.d_risk_enabled ? (risk.d_risk | dashnull) : '' }}</td>
        <td>
            <div layout="row" layout-align="center center">
                <a class="pointer" title="{{ ::('Open risk sheet' | translate) }}" ng-click="openRiskSheet(risk)">
                    <md-icon>open_in_new</md-icon>
                </a>
                <span class="green-dot" ng-if="risk.t"></span>
            </div>
        </td>
        <td class="txtcenter tbl-risk-calc"
            ng-class="{'green': risk.target_risk > 0 && risk.target_risk < thresholds.thresholds.min, 'orange': risk.target_risk >= thresholds.thresholds.min && risk.target_risk < thresholds.thresholds.max, 'red': risk.target_risk >= thresholds.thresholds.max}">{{risk.target_risk | dashnull}}</td>
    </tr>
    </tbody>
</table>
