<div ng-include="'views/anr/_risk_sheet.html'" ng-if="sheet_risk"></div>

<div ng-if="risks === undefined" class="md-padding" layout="row" layout-align="center center">
    <md-progress-circular md-indeterminate="true"></md-progress-circular>
</div>

<div ng-show="!sheet_risk">
    <div layout="row" layout-align="space-between center" class="md-padding md-padding-left md-padding-right">
        <span class="md-title md-padding-left" translate>{{ risks_total }} information risks</span>
        <md-progress-circular md-diameter="20" ng-if="anr_risks_table_loading"></md-progress-circular>
        <md-card ng-if="(instmode == 'anr' || instmode == 'inst') && !sheet_risk && OFFICE_MODE == 'FO'">
            <div layout="row" layout-wrap class="md-padding-left md-padding-right">
                <form layout="row" layout-wrap layout-align="center center" class="md-padding-left md-padding-right" ng-submit="updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()">
                    <input type="submit" style="position: absolute; left: -99999px">
                    <span ng-if="instmode == 'anr' || instmode == 'inst'">{{ 'Risk threshold (on max CIA)' | translate }}&nbsp;</span>
                    <md-radio-group ng-if="instmode == 'anr' || instmode == 'inst'" ng-model="risks_filters.thresholds" layout="row" class="md-primary">
                        <md-radio-button ng-value="-1" aria-label="G"><div class="tbl-risk-calc anr-scales-demo-block green"></div></md-radio-button>
                        <md-radio-button ng-value="thresholds.thresholds.min" aria-label="O"><div class="tbl-risk-calc anr-scales-demo-block orange"></div></md-radio-button>
                        <md-radio-button ng-value="thresholds.thresholds.max" aria-label="R"><div class="tbl-risk-calc anr-scales-demo-block red"></div></md-radio-button>
                    </md-radio-group>

                    &nbsp;

                    <md-input-container style="margin: 0 0">
                        <label translate>Keywords</label>
                        <input ng-model="risks_filters.keywords">
                    </md-input-container>

                    &nbsp;

                    <md-input-container style="margin: 0 0; min-width: 120px;">
                        <label translate>Kind of treatment</label>
                        <md-select ng-model="risks_filters.kindOfMeasure">
                            <md-option ng-value="null">{{ 'All (unfiltered)' | translate }}</md-option>
                            <md-option ng-value="5">{{ 'Not treated' | translate }}</md-option>
                            <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                            <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                            <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                            <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-icon-button" ng-click="updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()"><md-icon class="md-primary">search</md-icon><md-tooltip>{{ 'Filter table' | translate }}</md-tooltip></md-button>
                    <md-button class="md-icon-button" ng-click="resetRisksFilters(); updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()"><md-icon class="md-primary">settings_backup_restore</md-icon><md-tooltip>{{ 'Reset filter' | translate }}</md-tooltip></md-button>
                    <md-button ng-if="(instmode == 'anr' && OFFICE_MODE == 'FO')" class="md-icon-button" ng-click="exportAnrRisksTable()"><md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip><</md-button>
                    <md-button ng-if="(instmode == 'inst' && OFFICE_MODE == 'FO')" class="md-icon-button" ng-click="exportInstRisks()"><md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip><</md-button>

                    <div style="width:1px; background:#EAEAEA;height:48px;margin-left:2px;margin-right:10px;"></div>

                    <md-input-container>
                        <label translate>Sort</label>
                        <md-select ng-model="risks_filters.order">
                            <md-option value="auditOrder" ng-if="instance.asset.type != 1 && instmode == 'inst'">{{ 'Audit order' | translate }}</md-option>
                            <md-option value="instance" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'Asset' | translate }}</md-option>
                            <md-option value="c_impact" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'C Impact' | translate }}</md-option>
                            <md-option value="i_impact" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'I Impact' | translate }}</md-option>
                            <md-option value="d_impact" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'A Impact' | translate }}</md-option>
                            <md-option value="threat">{{ 'Threat' | translate }}</md-option>
                            <md-option value="threatRate">{{ 'Threat probability' | translate }}</md-option>
                            <md-option value="vulnerability">{{ 'Vulnerability' | translate }}</md-option>
                            <md-option value="vulnerabilityRate">{{ 'Vulnerability qualification' | translate }}</md-option>
                            <md-option value="maxRisk">{{ 'MAX risk' | translate }}</md-option>
                            <md-option value="targetRisk">{{ 'Residual risk' | translate }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label translate>Sort direction</label>
                        <md-select ng-model="risks_filters.order_direction">
                            <md-option value="asc">{{ 'Ascending' | translate }}</md-option>
                            <md-option value="desc">{{ 'Descending' | translate }}</md-option>
                        </md-select>
                    </md-input-container>
                </form>
            </div>
        </md-card>


    </div>

    <div ng-if="risks && risks.length === 0" class="md-padding">
        <em>{{ 'There are no risks for this instance, or your filters returned no results.' | translate }}</em>
    </div>

   <table editable callback="onRisksTableEdited" class="md-html-table md-html-table-grey big-border-all" ng-if="risks.length > 0">
        <thead class="big-border-bottom">
        <tr>
            <th rowspan="2" translate>Asset</th>
            <th colspan="3" translate>Impact</th>
            <th colspan="2" class="big-border-left" translate>Threat</th>
            <th colspan="3" class="big-border-left" translate>Vulnerability</th>
            <th colspan="3" class="big-border-left" style="min-width: 110px" translate>Current risk</th>
            <th rowspan="2" translate>Treatment</th>
            <th rowspan="2" translate>Residual risk</th>
        </tr>
        <tr>
            <th>C</th>
            <th>I</th>
            <th translate>A</th>
            <th class="big-border-left" translate>Label</th>
            <th title="{{scaleThreat}}">Prob.</th>
            <th class="big-border-left" translate>Label</th>
            <th translate style="min-width: 200px">Existing controls</th>
            <th title="{{scaleVul}}" translate>Qualif.</th>
            <th class="big-border-left">C</th>
            <th>I</th>
            <th translate>A</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="risk in risks" edit-model="risk" ng-class="{'specific-blue': risk.specific == 1}">
            <td title="{{instanceCache[risk.instance].completePath}}">{{_langField(instanceCache[risk.instance],'name')}}</td>
            <td title="{{ scaleCommCache[1][risk.c_impact] }}" class="txtcenter">{{risk.c_impact|dashnull}}</td>
            <td title="{{ scaleCommCache[2][risk.i_impact] }}" class="txtcenter">{{risk.i_impact|dashnull}}</td>
            <td title="{{ scaleCommCache[3][risk.d_impact] }}" class="txtcenter">{{risk.d_impact|dashnull}}</td>
            <td class="preserve-newlines big-border-left" title="{{_langField(risk,'threatDescription')}}">{{_langField(risk,'threatLabel')}}</td>
            <td edit-readonly="isAnrReadOnly" edit-field="threatRate" edit-filter="dashnull" class="txtcenter" title="{{threatCommCache[risk.threatRate]}}"></td>
            <td class="preserve-newlines big-border-left" title="{{_langField(risk,'vulnDescription')}}">{{_langField(risk,'vulnLabel')}}</td>
            <td class="preserve-newlines" edit-readonly="isAnrReadOnly" edit-field="comment" edit-type="textarea"></td>
            <td edit-readonly="isAnrReadOnly" edit-field="vulnerabilityRate" edit-filter="dashnull" class="txtcenter" title="{{vulnsCommCache[risk.vulnerabilityRate]}}"></td>
            <td ng-disabled="!risk.c_risk_enabled" class="tbl-risk-calc big-border-left"
                ng-class="{'green': risk.c_risk >= 0 && risk.c_risk <= thresholds.thresholds.min, 'orange': risk.c_risk > thresholds.thresholds.min && risk.c_risk <=thresholds.thresholds.max, 'red': risk.c_risk > thresholds.thresholds.max}">{{ risk.c_risk_enabled ? (risk.c_risk | dashnull) : '' }}</td>
            <td ng-disabled="!risk.i_risk_enabled" class="tbl-risk-calc"
                ng-class="{'green': risk.i_risk >= 0 && risk.i_risk <= thresholds.thresholds.min, 'orange': risk.i_risk > thresholds.thresholds.min && risk.i_risk <= thresholds.thresholds.max, 'red': risk.i_risk > thresholds.thresholds.max}">{{ risk.i_risk_enabled ? (risk.i_risk | dashnull) : '' }}</td>
            <td ng-disabled="!risk.d_risk_enabled" class="tbl-risk-calc"
                ng-class="{'green': risk.d_risk >= 0 && risk.d_risk <= thresholds.thresholds.min, 'orange': risk.d_risk > thresholds.thresholds.min && risk.d_risk <= thresholds.thresholds.max, 'red': risk.d_risk > thresholds.thresholds.max}">{{ risk.d_risk_enabled ? (risk.d_risk | dashnull) : '' }}</td>
            <td>
                <div layout="row" layout-align="center center">
                    <a ng-if="risk.specific == 1 && deleteSpecRisk" class="pointer" ng-click="deleteSpecRisk($event, risk)"><md-icon class="md-warn">delete</md-icon></a>
                    <a class="pointer blue" title="{{ 'Open risk sheet' | translate }}" ng-click="openRiskSheet(risk,risks)">
                        {{treatmentStr(risk.kindOfMeasure)|translate}}
                    </a>
                </div>
            </td>
            <td class="txtcenter tbl-risk-calc"
                ng-class="{'green': risk.target_risk >= 0 && risk.target_risk <= thresholds.thresholds.min, 'orange': risk.target_risk > thresholds.thresholds.min && risk.target_risk <= thresholds.thresholds.max, 'red': risk.target_risk > thresholds.thresholds.max}">{{risk.target_risk | dashnull}}</td>
        </tr>
        </tbody>
    </table>

    <div layout="row" layout-align="end center" class="md-table-pagination">
        <md-button ng-click="createSpecRisk($event)" ng-if="OFFICE_MODE == 'FO' && !isAnrReadOnly && instmode == 'inst' && instance.asset.type != 1"><md-icon>add</md-icon> {{ 'Create a specific risk' | translate }}</md-button>

        <span flex></span>

        <div class="page-select">
            <div class="label" translate>Page:</div>

            <md-select  class="md-table-select" md-container-class="md-pagination-select" ng-model="risks_filters.page" ng-change="updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()" aria-label="Page">
                <md-content>
                    <md-option ng-repeat="i in range(1, ceil(risks_total / risks_filters.limit))" ng-value="i">{{i}}</md-option>
                </md-content>
            </md-select>
        </div>

        <div class="limit-select">
            <div class="label" translate>Rows per page:</div>

            <md-select class="md-table-select" md-container-class="md-pagination-select"  ng-model="risks_filters.limit" ng-change="updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()" aria-label="Rows">
                <md-option ng-repeat="option in [20, 30, 50, 100]" ng-value="option.value ? $pagination.eval(option.value) : option">{{::option.label ? option.label : option}}</md-option>
            </md-select>
        </div>

        <div class="buttons">
            <div class="label">{{ (risks_filters.page - 1) * risks_filters.limit + 1 }} - {{ risks_total < risks_filters.page * risks_filters.limit ? risks_total : risks_filters.page * risks_filters.limit }} {{ 'of' | translate }} {{ risks_total }}</div>

            <md-button class="md-icon-button" type="button" ng-disabled="risks_filters.page <= 1" ng-click="risks_filters.page = risks_filters.page - 1; (updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable())" aria-label="Previous">
                <md-icon md-svg-icon="navigate-before.svg"></md-icon>
            </md-button>

            <md-button class="md-icon-button" type="button" ng-disabled="risks_filters.page >= ceil(risks_total / risks_filters.limit)" ng-click="risks_filters.page = risks_filters.page + 1; updateInstanceRisks ? updateInstanceRisks() : updateAnrRisksTable()" aria-label="Next">
                <md-icon md-svg-icon="navigate-next.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>
