<ng-include ng-if="object" src="'views/anr/_object.composition.html'"></ng-include>
<br/>
<div layout="row" layout-align="space-between center">
  <div layout="column" layout-align="end start">
    <span class="md-title md-padding-left" ng-if="!opsheet_risk" translate>{{ oprisks_total }} operational risks</span>
    <md-switch ng-disabled="isAnrReadOnly" ng-if="(instmode == 'anr' || instmode == 'inst') && !opsheet_risk && OFFICE_MODE == 'FO' && model.anr.cacheModelShowRolfBrut == 1" style="margin: 0" ng-model="rolfBrut.show" ng-change="updateShowRolfBrut()">{{ 'Show inherent operational risks' | translate }}</md-switch>
  </div>

    <md-card ng-if="(instmode == 'anr' || instmode == 'inst') && !opsheet_risk && OFFICE_MODE == 'FO'">
        <div layout="row" layout-align="center center" layout-wrap>
            <form layout="row" layout-align="center center" class="md-padding-left md-padding-right" layout-wrap ng-submit="updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()">
                <input type="submit" style="position: absolute; left: -99999px">

                {{ 'Risk threshold (on max NET risk)' | translate }}&nbsp;
                <md-radio-group ng-model="risks_op_filters.thresholds" layout="row" class="md-primary">
                    <md-radio-button ng-value="-1" aria-label="G"><div class="tbl-risk-calc anr-scales-demo-block green"></div></md-radio-button>
                    <md-radio-button ng-value="thresholds.rolf_thresholds.min" aria-label="O"><div class="tbl-risk-calc anr-scales-demo-block orange"></div></md-radio-button>
                    <md-radio-button ng-value="thresholds.rolf_thresholds.max" aria-label="R"><div class="tbl-risk-calc anr-scales-demo-block red"></div></md-radio-button>
                </md-radio-group>

                &nbsp;

                <md-input-container style="margin: 0 0">
                    <label translate>Keywords</label>
                    <input ng-model="risks_op_filters.keywords">
                </md-input-container>

                &nbsp;

                <md-input-container style="margin: 0 0; min-width: 120px;">
                    <label translate>Kind of treatment </label>
                    <md-select ng-model="risks_op_filters.kindOfMeasure">
                        <md-option ng-value="null">{{ 'All (unfiltered)' | translate }}</md-option>
                        <md-option ng-value="5">{{ 'Not treated' | translate }}</md-option>
                        <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                        <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                        <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                        <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-icon-button md-primary" ng-click="updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()"><md-icon>search</md-icon><md-tooltip>{{ 'Filter table' | translate }}</md-tooltip></md-button>
                <md-button class="md-icon-button md-primary" ng-click="resetRisksOpFilters(); updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()"><md-icon>settings_backup_restore</md-icon><md-tooltip>{{ 'Reset filter' | translate }}</md-tooltip></md-button>
                <md-button ng-if="(instmode == 'anr' && OFFICE_MODE == 'FO')" class="md-icon-button" ng-click="exportInstanceRisks ? exportInstanceRisks() : exportAnrRisksOpTable()"><md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip><</md-button>
                <md-button ng-if="(instmode == 'inst' && OFFICE_MODE == 'FO')" class="md-icon-button" ng-click="exportInstanceOpTable()"><md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip><</md-button>

                <div style="width:1px; background:#EAEAEA;height:48px;margin-left:2px;margin-right:10px;"></div>

                <md-input-container>
                    <label translate>Sort</label>
                    <md-select ng-model="risks_op_filters.order">
                        <md-option value="instance" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'Asset' | translate }}</md-option>
                        <md-option value="position" ng-if="instance.asset.type == 1 || instmode == 'anr'">{{ 'Position' | translate }}</md-option>
                        <md-option value="brutProb"  ng-if="model.showRolfBrut" >{{ 'Inherent probability' | translate }}</md-option>
                        <md-option value="cacheBrutRisk"  ng-if="model.showRolfBrut" >{{ 'Inherent risk' | translate }}</md-option>
                        <md-option value="netProb">{{ 'Net probability' | translate }}</md-option>
                        <md-option value="cacheNetRisk">{{ 'Net risk' | translate }}</md-option>
                        <md-option value="cacheTargetedRisk">{{ 'Residual risk' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label translate>Sort direction</label>
                    <md-select ng-model="risks_op_filters.order_direction">
                        <md-option value="asc">{{ 'Ascending' | translate }}</md-option>
                        <md-option value="desc">{{ 'Descending' | translate }}</md-option>
                    </md-select>
                </md-input-container>

            </form>
        </div>
    </md-card>
</div>


<div ng-include="'views/anr/_oprisk_sheet.html'" ng-if="opsheet_risk"></div>

<div ng-if="!oprisks || !oprisks.length" class="md-padding">
    <em ng-if="instmode == 'inst' ">{{ 'There are no operational risks for this instance, or the filters gave no results.' | translate }}</em>
    <em ng-if="instmode == 'anr' ">{{ 'There are no operational risks for this risk analysis, or the filters gave no results.' | translate }}</em>
    <em ng-if="instmode == 'obj' ">{{ 'There are no operational risks for this asset.' | translate }}</em>
</div>

<div class="op-riks-table">
  <table class="md-html-table inputs-as-number big-border-all" ng-if="!opsheet_risk && oprisks.length > 0" editable callback="changeRiskOp">
      <thead class="big-border-bottom">
      <tr>
          <th rowspan="3" translate>Asset</th>
          <th rowspan="3" translate>Risk description</th>
          <th colspan="{{2 + (opRiskImpactScales | filter:{isHidden:false}).length}}" ng-if="model.showRolfBrut && instmode != 'obj'" class="big-border-left"  translate>Inherent risk</th>
          <th colspan="{{3 + (opRiskImpactScales | filter:{isHidden:false}).length}}" ng-if="instmode != 'obj'" class="big-border-left" translate>Net risk</th>
          <th rowspan="3" class="big-border-left" ng-if="instmode != 'obj'" translate>Treatment</th>
          <th rowspan="3" ng-if="instmode != 'obj'" translate>Residual risk</th>
      </tr>

      <tr>
          <th rowspan="2" ng-if="model.showRolfBrut && (instmode != 'obj' || mode == 'anr')" class="big-border-left" title="{{scaleThreat}}" translate>Prob.</th>
          <th colspan="{{(opRiskImpactScales | filter:{isHidden:false}).length}}"  ng-if="model.showRolfBrut && (instmode != 'obj' || mode == 'anr')" translate>Impact</th>
          <th rowspan="2"  ng-if="model.showRolfBrut && (instmode != 'obj' || mode == 'anr')" translate>Inherent risk</th>

          <th rowspan="2" ng-if="instmode != 'obj'" class="big-border-left" title="{{scaleThreat}}" translate>Prob.</th>
          <th colspan="{{(opRiskImpactScales | filter:{isHidden:false}).length}}" ng-if="instmode != 'obj'" translate>Impact</th>
          <th rowspan="2" ng-if="instmode != 'obj'" translate>Current risk</th>
          <th rowspan="2" ng-if="instmode != 'obj'" translate>Existing controls</th>
      </tr>

      <tr>
          <th ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}" class="vertical-text" title="{{scale.label}}" ng-if="model.showRolfBrut && (instmode != 'obj' || mode == 'anr')">{{scale.label.substring(0,3)}}.</th>
          <th ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}" class="vertical-text" title="{{scale.label}}" ng-if="instmode != 'obj'">{{scale.label.substring(0,3)}}.</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="risk in oprisks" edit-model="risk" ng-class="{'specific-blue': risk.specific == 1}">
          <td class="preserve-newlines" ng-if="instmode == 'obj'">{{ _langField(object,'name') }}</td>
          <td class="preserve-newlines" ng-if="instmode != 'obj'" title="{{instanceCache[risk.instanceInfos.id].completePath}}">{{ _langField(risk.instanceInfos,'name') }}</td>
  	      <td class="preserve-newlines" title="{{ _langField(risk,'description') }}">{{ _langField(risk,'label') || _langField(risk,'label') }}</td>
          <td class="big-border-left txtcenter" ng-if="model.showRolfBrut && (instmode == 'anr' || instmode == 'inst')" edit-readonly="isAnrReadOnly" edit-filter="dashnull" edit-field="brutProb" title="{{threatCommCache[risk.brutProb]}}"></td>
          <td ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}"  ng-if="model.showRolfBrut && (instmode == 'anr' || instmode == 'inst')" edit-readonly="isAnrReadOnly" edit-filter="dashnull" edit-field="brutR" class="txtcenter" title="{{scaleCommCache[4][risk.brutR]}}"></td>

          <td ng-if="model.showRolfBrut && (instmode == 'anr' || instmode == 'inst')" class="tbl-risk-calc txtcenter"
              ng-class="{'green': risk.cacheBrutRisk >= 0 && risk.cacheBrutRisk <= thresholds.rolf_thresholds.min, 'orange': risk.cacheBrutRisk > thresholds.rolf_thresholds.min && risk.cacheBrutRisk <= thresholds.rolf_thresholds.max, 'red': risk.cacheBrutRisk > thresholds.rolf_thresholds.max}">{{risk.cacheBrutRisk|dashnull}}</td>
          <td class="small txtcenter big-border-left" ng-if="instmode == 'anr' || instmode == 'inst'" edit-readonly="isAnrReadOnly" edit-field="netProb" edit-filter="dashnull" title="{{threatCommCache[risk.netProb]}}"></td>

          <td ng-repeat="scale in opRiskImpactScales | filter:{isHidden:false}" class="small txtcenter" ng-if="instmode == 'anr' || instmode == 'inst'" edit-readonly="isAnrReadOnly" edit-field="netR" edit-filter="dashnull" title="{{scaleCommCache[4][risk.netR]}}"></td>

          <td class="tbl-risk-calc txtcenter" ng-if="instmode != 'obj'" ng-class="{'green': risk.cacheNetRisk >= 0 && risk.cacheNetRisk <= thresholds.rolf_thresholds.min, 'orange': risk.cacheNetRisk > thresholds.rolf_thresholds.min && risk.cacheNetRisk <= thresholds.rolf_thresholds.max, 'red': risk.cacheNetRisk > thresholds.rolf_thresholds.max}">{{ risk.cacheNetRisk|dashnull }}</td>
          <td class="preserve-newlines" ng-if="instmode == 'anr' || instmode == 'inst'" edit-readonly="isAnrReadOnly" edit-field="comment" edit-type="textarea"></td>
          <td class="txtcenter big-border-left" ng-if="instmode != 'obj'">
              <a ng-if="risk.specific == 1 && deleteSpecOpRisk" class="pointer" ng-click="deleteSpecOpRisk($event, risk)"><md-icon class="md-warn">delete</md-icon></a>
              <a class="pointer blue" title="{{ ('Open risk sheet' | translate) }}" ng-click="openOpRiskSheet(risk, oprisks)">
                  {{treatmentStr(risk.kindOfMeasure)|translate}}
              </a>
          </td>
          <td class="tbl-risk-calc txtcenter" ng-if="instmode != 'obj'" ng-class="{'green': (risk.cacheNetRisk >= 0 && risk.cacheNetRisk <= thresholds.rolf_thresholds.min && risk.cacheTargetedRisk==-1) || risk.cacheTargetedRisk >= 0 && risk.cacheTargetedRisk <= thresholds.rolf_thresholds.min ,
             'orange': (risk.cacheNetRisk > thresholds.rolf_thresholds.min && risk.cacheNetRisk <= thresholds.rolf_thresholds.max && risk.cacheTargetedRisk==-1) || risk.cacheTargetedRisk > thresholds.rolf_thresholds.min && risk.cacheTargetedRisk <= thresholds.rolf_thresholds.max,
             'red': (risk.cacheNetRisk > thresholds.rolf_thresholds.max && risk.cacheTargetedRisk==-1) || risk.cacheTargetedRisk > thresholds.rolf_thresholds.max}">{{ risk.cacheTargetedRisk==-1 ? risk.cacheNetRisk : risk.cacheTargetedRisk | dashnull }}</td>
      </tr>
      </tbody>
  </table>
</div>

<div layout="row" layout-align="end center" ng-if="!opsheet_risk && instmode != 'obj'" class="md-table-pagination">
    <md-button ng-click="createSpecRiskOp($event)" ng-if="OFFICE_MODE == 'FO' && !isAnrReadOnly && instmode == 'inst'"><md-icon>add</md-icon> {{ 'Create a specific risk' | translate }}</md-button>


    <span flex></span>

    <div class="page-select">
        <div class="label" translate>Page:</div>

        <md-select  class="md-table-select" md-container-class="md-pagination-select" ng-model="risks_op_filters.page" ng-change="updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()" aria-label="Page">
            <md-content>
                <md-option ng-repeat="i in range(1, ceil(oprisks_total / risks_op_filters.limit))" ng-value="i">{{i}}</md-option>
            </md-content>
        </md-select>
    </div>

    <div class="limit-select">
        <div class="label" translate>Rows per page:</div>

        <md-select class="md-table-select" md-container-class="md-pagination-select"  ng-model="risks_op_filters.limit" ng-change="updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()" aria-label="Rows">
            <md-option ng-repeat="option in [20, 30, 50, 100]" ng-value="option.value ? $pagination.eval(option.value) : option">{{::option.label ? option.label : option}}</md-option>
        </md-select>
    </div>

    <div class="buttons">
        <div class="label">{{ (risks_op_filters.page - 1) * risks_op_filters.limit + 1 }} - {{ oprisks_total < risks_op_filters.page * risks_op_filters.limit ? oprisks_total : risks_op_filters.page * risks_op_filters.limit }} {{ 'of' | translate }} {{ oprisks_total }}</div>

        <md-button class="md-icon-button" type="button" ng-disabled="risks_op_filters.page <= 1" ng-click="risks_op_filters.page = risks_op_filters.page - 1; (updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable())" aria-label="Previous">
            <md-icon md-svg-icon="navigate-before.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" type="button" ng-disabled="risks_op_filters.page >= ceil(oprisks_total / risks_op_filters.limit)" ng-click="risks_op_filters.page = risks_op_filters.page + 1; updateInstanceRisksOp ? updateInstanceRisksOp() : updateAnrRisksOpTable()" aria-label="Next">
            <md-icon md-svg-icon="navigate-next.svg"></md-icon>
        </md-button>
    </div>
</div>
