<md-dialog md-theme="light" class="dialog-width">
    <form name="processorForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!processor.id" translate>Add a processor for this record</h2>
                <h2 ng-if="processor.id" translate>Edit processor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block"  ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(lang_idx, lang) in languages" value="{{ lang_idx }}" ng-controller="BackofficeAccountCtrl">
                        <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                        {{ languagesNames[lang_idx] }}
                      </md-option>
                    </md-select>
                </md-input-container> <br/>
                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="processor['label']" name="label" required>
                    <div ng-messages="processorForm.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Contact</label>
                    <md-icon>contact</md-icon>
                    <input ng-model="processor['contact']" name="processorContact" required>
                    <div ng-messages="processorForm.processorContact.$error">
                        <div ng-message="required">{{ 'The contact may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <div layout="row" layout-align="center center">
                        <md-icon>supervisor_account</md-icon>
                        <md-chips ng-model="processor.controllers"
                                  md-autocomplete-snap
                                  md-require-match="true"
                                  style="width:100%;">
                            <md-autocomplete flex
                                             md-selected-item="selectedBehalfController"
                                             md-search-text="behalfControllerSearchText"
                                             md-items="item in queryRecordControllerSearch(behalfControllerSearchText)"
                                             md-item-text="item['label']"
                                             md-min-length="0"
                                             md-no-cache="true"
                                             placeholder="{{ 'Add controllers on behalf of which this processor is acting on' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="behalfControllerSearchText" md-highlight-flags="^i">{{item['label']}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'No controller matching your search was found. Click on' | translate }}
                                    <md-icon>add_to_photos</md-icon>
                                    {{ 'to create it.' | translate }}
                                </md-not-found>
                            </md-autocomplete>

                            <md-chip-template>
                                <span>
                                    <em>{{$chip['label']}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-button class="md-icon-button md-primary" ng-click="toggleBehalfController()">
                            <md-tooltip md-direction="left" ng-if="!addBehalfController">
                                {{ 'Add a new controller on behalf of which this processor is acting on' | translate }}
                            </md-tooltip>
                            <md-icon>{{toggleIcon}}</md-icon>
                        </md-button>
                    </div>
                </md-input-container>
                <div ng-if="addBehalfController">
                    <md-input-container class="md-block" flex>
                        <label translate>Name</label>
                        <input ng-model="behalf.name" name="behalfName" required>
                        <div ng-messages="processorForm.behalfName.$error">
                            <div ng-message="required">{{ 'The name may not be empty' | translate }}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Contact</label>
                        <input ng-model="behalf.contact" name="behalfContact" type="email" required>
                        <div ng-messages="processorForm.behalfContact.$error">
                            <div ng-message="required">{{ 'The contact may not be empty' | translate }}</div>
                            <div ng-message="email">{{ 'The contact must be an email address' | translate }}</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-accent md-hue-3" ng-disabled="!(behalf.name && behalf.contact)" ng-click="addNewBehalfController()" layout-align="end center">
                            {{ 'Add' | translate }}
                        </md-button>
                    </div>
                </div>
                <md-input-container class="md-block" flex>
                    <label translate>Technical and organisational security measures</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="processor['secMeasures']" rows="2"></textarea>
                </md-input-container>
                <md-switch style="margin: 0" ng-model="checkboxInternationalProcessor" ng-change="toggleCheckboxInternational()">{{ 'Is there transfers of personal data to a third country or an international organisation?' | translate }}</md-switch>
                <md-input-container class="md-block" ng-if="checkboxInternationalProcessor" flex>
                    <label translate>Identification</label>
                    <input ng-model="processor['idThirdCountry']" name="processorIdThirdCountry" required>
                    <div ng-messages="processorForm.processorIdThirdCountry.$error">
                        <div ng-message="required">{{ 'The id may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" ng-if="checkboxInternationalProcessor" flex>
                    <label translate>Data Protection Officer</label>
                    <input ng-model="processor['dpoThirdCountry']" name="processorDpoThirdCountry">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="addProcessor()" ng-disabled="processorForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ (processor.id ? 'Save' : 'Add') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
