<md-dialog class="dialog-width">
    <form style="min-height: 400px">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Add an object to the model library</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="center center">
                <p translate>Pick an existing object from the knowledge base</p>

                <md-input-container class="md-block" style="width: 62%;" flex>
                    <md-icon>class</md-icon>
                    {{counter.val}}
                    <label translate>Category</label>
                    <md-select ng-model="selected_categ.id" md-on-open="loadCategs()" ng-change="changeCateg()">
                        <md-option ng-repeat="cat in categories" ng-value="cat.id">{{ cat[_langField('label')] }}</md-option>
                    </md-select>
                </md-input-container>

                <div class="md-block" layout="column" style="margin-bottom: 8px">
                    <div layout="row">
                        <md-icon style="margin-right: 8px;">class</md-icon>
                        <md-autocomplete
                                flex
                                style="min-width: 500px"
                                md-no-cache="true"
                                md-selected-item="objlib.object"
                                md-search-text="objectSearchText"
                                md-selected-item-change="selectedObjectItemChange(item)"
                                md-items="item in queryObjectSearch(objectSearchText)"
                                md-item-text="item[_langField('name')]"
                                ng-disabled="!objlib.category.id"
                                md-min-length="0"
                                placeholder="{{ 'Select an object' | translate }}">
                            <md-item-template>
                                <span md-highlight-text="objectSearchText"
                                      md-highlight-flags="^i">{{ item[_langField('name')] }}</span>
                            </md-item-template>

                            <md-not-found>
                                {{ 'No object matching your search was found' | translate }}
                            </md-not-found>

                        </md-autocomplete>
                    </div>

                    <md-button ng-click="create()" class="md-primary"
                               ng-disabled="!objlib.object.id || !objlib.category.id">
                        <md-icon>add</md-icon>
                        {{ 'Add the object' | translate }}
                    </md-button>
                </div>

                <p translate>- or -</p>

                <md-button class="md-primary" ng-click="createAttachedObject()">
                    <md-icon>add</md-icon>
                    {{ 'Create a new object and attach it to this model' | translate }}
                </md-button>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
