<md-dialog md-theme="light" class="dialog-width" ng-init="loadCategs()">
    <form name="libraryObjectForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Add an asset</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="row" layout-align="center center">
            <div class="md-dialog-content" layout="row" ng-show="!categories">
                <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>&nbsp;
                <h3 translate>Loading library ...</h3>
            </div>

            <div class="md-dialog-content" layout="column" flex="75" ng-show="categories" >
                <p translate>Pick an existing category or asset from the knowledge base</p>
                <md-input-container class="md-block" flex>
                    <md-icon>class</md-icon>
                    <label translate>Category</label>
                    <md-select flex ng-model="selected_categ" ng-change="changeCateg()">
                        <md-option ng-repeat="cat in categories | filter: checkIsLinkedToAnr" ng-value="cat">{{ _langField(cat,'label') }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-icon>class</md-icon>
                    <label translate>Asset</label>
                    <md-select flex ng-model="selected_object" ng-change="changeObject()">
                        <md-option ng-repeat="object in objlib.category.objects | filter: { isLinkedToAnr: false }" ng-value="object">{{ _langField(object,'name') }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="createCategory()" ng-disabled="!objlib.category.id || objlib.category.id == -1" type="submit" class="md-accent md-hue-3">
                {{ 'Add a whole category' | translate }}
            </md-button>
            <md-button ng-click="createObject()" ng-disabled="!objlib.object.uuid || !objlib.category.id" type="submit" class="md-accent md-hue-3">
                {{ 'Add an asset' | translate }}
            </md-button>
            <md-button ng-click="createAttachedObject()" ng-disabled="libraryObjectForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ 'Create an asset' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
