<div flex ng-controller="AnrLayoutCtrl" md-theme="light">
    <div layout="column" layout-align="center center" ng-if="!model" flex class="md-padding">
        <md-progress-circular md-indeterminate="true"></md-progress-circular>
    </div>

    <div layout="column" ng-if="model" md-theme="light" class="md-padding-left md-padding-right">
        <div layout="row" layout-align="start center">
            <h2 style="margin-right: 8px">{{ ::model[_langField('label')] }}</h2>

            <div ng-if="OFFICE_MODE == 'FO'" layout="row" layout-align="start center" ng-repeat="(idx, step) in methodProgress" flex>
                <div class="monarc-wizard step-bullet {{ isMethodStepComplete(step) ? step.color : '' }} method-menu-step-{{::(idx+1)}}" ng-click="showMethodBox(idx+1, step, $event)">
                    <div flex class="txtcenter">{{ ::(idx+1) }}</div>
                </div>

                <md-progress-linear class="{{ ::step.color }}" md-mode="determinate" ng-value="getStepProgress(step) * 100 / step.steps.length"></md-progress-linear>
            </div>

            <div ng-if="OFFICE_MODE == 'FO'" class="monarc-wizard step-bullet white" layout="row" layout-align="center center">
                <img ng-src="img/monarc.png" style="width: 80%" />
            </div>
        </div>

        <md-card>
            <md-menu>
                <md-button style="position: absolute; right: 24px; margin-top: 4px; z-index:10" ng-show="OFFICE_MODE == 'FO'"
                           ng-click="openAnrToolsMenu($mdOpenMenu, $event)"> {{ 'Tools' | translate }}
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="openInterviewTools($event)">{{ 'Interviews table' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>{{ 'Consultant(s)' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="openSnapshotTools($event)">{{ 'Snapshots' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!isAnrReadOnly">
                        <md-button ng-click="importObject($event)">{{ 'Import an object' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!isAnrReadOnly">
                        <md-button ng-click="importInstance($event)">{{ 'Import an instance' | translate }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-tabs md-border-bottom="true" md-selected="display.anrSelectedTabIndex" md-dynamic-height>
                <md-tab label="{{ 'Risk analysis' | translate }}">
                    <div layout="row" class="md-padding">
                        <div layout="column" resizable r-directions="['right']" id="global-resize-menu" r-width="GlobalResizeMenuSize">
                            <div ng-hide="GlobalResizeMenuContentHide">
                                <md-subheader class="md-no-sticky md-small-subheader">
                                    <div layout="row" layout-align="space-between center">
                                        <div translate>Risk analysis</div>
                                        <md-button class="md-icon-button" ng-click="uiState.hideInstances = !uiState.hideInstances"><md-icon>{{ uiState.hideInstances ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                                    </div>
                                </md-subheader>

                                <div layout="row" layout-align="center center" ng-hide="uiState.hideInstances">
                                    <md-button style="font-size: 12px; margin:0; padding: 0;" ng-click="unwrapAll()">{{ 'Expand all' | translate }}</md-button> /
                                    <md-button style="font-size: 12px; margin:0; padding: 0;" ng-click="wrapAll()">{{ 'Wrap all' | translate }}</md-button>
                                </div>

                                <div layout="column" ng-hide="uiState.hideInstances" resizable r-directions="['bottom']">
                                    <md-input-container md-no-float class="md-block" style="margin: 0; margin-bottom: 8px">
                                        <md-icon>search</md-icon>
                                        <input type="text" ng-model="filter.instance" placeholder="{{ 'Search an instance...' | translate }}" flex="80">
                                    </md-input-container>

                                    <md-button ui-sref="main.kb_mgmt.models.details({modelId: model.id})" ng-click="clearSelectedInstAndObj();" ng-if="OFFICE_MODE == 'BO'" layout="row" layout-align="start center" style="margin:0 0 8px 0; text-align:left" ng-class="{'active-inst': anr_selected_object_id == null && anr_selected_instance_id == null}">
                                        <md-progress-circular md-diameter="24" ng-if="anr_instance_tree_is_patching"></md-progress-circular>
                                        <md-icon ng-if="!anr_instance_tree_is_patching">home</md-icon> &nbsp; <span>{{ model.anr[_langField('label')] }}</span> <span flex></span>
                                    </md-button>
                                    <md-button ui-sref="main.project.anr({modelId: model.anr.id})" ng-click="clearSelectedInstAndObj();"  ng-if="OFFICE_MODE == 'FO'" layout="row" layout-align="start center" style="margin:0 0 8px 0;">
                                        <md-progress-circular md-diameter="20" ng-if="anr_instance_tree_is_patching"></md-progress-circular>
                                        <md-icon ng-if="!anr_instance_tree_is_patching">home</md-icon> &nbsp; <span>{{ model.anr[_langField('label')] }}</span>  <span flex></span>
                                    </md-button>

                                    <div class="angular-ui-tree" ui-tree="insTreeCallbacks" data-drag-delay="150" id="insTree">
                                        <div layout="row" layout-align="center center" ng-if="!anr_obj_instances_data">
                                            <md-progress-circular md-diameter="24"></md-progress-circular>
                                        </div>

                                        <ol class="no-list-style" ui-tree-nodes="" ng-model="anr_obj_instances_data" id="inst-tree-root">
                                            <li ng-repeat="node in anr_obj_instances_data" ui-tree-node data-collapsed="{{node.__collapsed__}}" ng-include="'tree_node_renderer.html'"></li>
                                        </ol>
                                    </div>
                                </div>

                                <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                                    <div layout="row" layout-align="space-between center">
                                        <div translate>Objects library</div>
                                        <md-button class="md-icon-button" ng-click="uiState.hideLibrary = !uiState.hideLibrary"><md-icon>{{ uiState.hideLibrary ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                                    </div>
                                </md-subheader>

                                <div layout="column" ng-hide="uiState.hideLibrary" style="background:white; z-index: 10; min-height: 150px;">
                                    <div layout="row" layout-align="center center">
                                        <md-input-container class="md-block" md-no-float flex  style="margin: 0; margin-bottom: 8px">
                                            <md-icon>search</md-icon>
                                            <input type="text" ng-model="filter.library" placeholder="{{ 'Search an object...' | translate }}">
                                        </md-input-container>
                                        <md-button class="md-icon-button" ng-click="addObject($event)"><md-icon>add</md-icon></md-button>
                                    </div>

                                    <div class="angular-ui-tree" id="libTree" ui-tree="libTreeCallbacks" data-drag-delay="150">
                                        <div layout="row" layout-align="center center" ng-if="!anr_obj_library_data">
                                            <md-progress-circular md-diameter="24"></md-progress-circular>
                                        </div>
                                        <ol class="no-list-style" ui-tree-nodes="" ng-model="anr_obj_library_data" id="objlib-tree-root">
                                            <li ng-repeat="node in anr_obj_library_data" ui-tree-node data-collapsed="{{node.__collapsed__}}" ng-include="'tree_node_renderer.html'"></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div flex ui-view="anr" style="background:white; z-index: 15; margin-left: 8px;"></div>
                    </div>

                </md-tab>

                <md-tab label="{{ 'Evaluation scales' | translate }}">
                    <div class="md-padding-left md-padding-right" layout="column">
                        <md-input-container ng-if="OFFICE_MODE == 'BO'">
                            <md-icon>language</md-icon>
                            <md-select ng-model="scales.language">
                                <md-option ng-repeat="(idx, lang) in languages" ng-value="idx">{{ lang }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-card md-theme="default" class="md-card-crit" ng-if="(!scalesCanChange || !model.anr.cacheModelIsScalesUpdatable) && OFFICE_MODE == 'FO'">
                            <md-card-content>
                                <p ng-if="model.anr.cacheModelIsScalesUpdatable" translate>Some of the risks of your analysis, your library, or your trends assessment have already been assessed. This being done, you may not edit the scales values.</p>
                                <p ng-if="!model.anr.cacheModelIsScalesUpdatable" translate>The risk analysis model used does not allow you to change the scales values.</p>
                            </md-card-content>
                        </md-card>

                        <div editable callback="onImpactScaleChanged" layout="row">
                            <h4 ng-if="OFFICE_MODE == 'BO' || scalesCanChange" edit-model="scales.impacts"><span translate>Impacts scale:</span> [
                                <span class="text-blue" edit-field="min"></span> -
                                <span class="text-blue" edit-field="max"></span> ]
                            </h4>
                            <h4 ng-if="OFFICE_MODE == 'FO' && !scalesCanChange"><span translate>Impacts scale:</span> [
                                <span class="text-blue">{{ scales.impacts.min }}</span> -
                                <span class="text-blue">{{ scales.impacts.max }}</span> ]
                            </h4>
                        </div>
                        <md-switch ng-model="display.show_hidden_impacts">{{ 'Show hidden impacts' | translate }}</md-switch>

                        <div class="horz-expanding-table" id="horiz-scrollable">
                            <table editable callback="onImpactCommChanged" visible="checkCommentVisibility" class="md-html-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-show="!type.isHidden || display.show_hidden_impacts" ng-repeat="type in scales_types">{{ type['label' + scales.language] }} <md-button class="md-icon-button md-warn" ng-if="type.type == 'CUS' && !isAnrReadOnly" ng-click="deleteCustomScaleType(type.id)"><md-icon>delete</md-icon></md-button> <md-button class="md-icon-button" class="md-primary" ng-if="type.type != 'CUS' && !isAnrReadOnly" ng-click="setImpactVisibility(type.id, !!type.isHidden)"><md-icon>{{ type.isHidden ? 'visibility' : 'visibility_off' }}</md-icon></md-button></th>
                                        <th><span inline-edit="newColumn.name" inline-edit-callback="onCreateNewColumn(newValue)" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-on-click inline-edit-placeholder="{{ 'New column name' | translate }}"></span></th>
                                    </tr>
                                </thead>

                                <tbody ng-if="scales.impacts.min != scales.impacts.max && scales.impacts.max > 0">
                                <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)" edit-model="comms.impact[i]">
                                        <th>{{ i }}</th>
                                        <td class="preserve-newlines" ng-show="!type.isHidden || display.show_hidden_impacts" ng-repeat="type in scales_types" edit-readonly="isAnrReadOnly" edit-field edit-ng-field="'comment' + scales.language" edit-localmodel="comms.impact[i][type.id]" edit-type="textarea"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div editable callback="onThreatScaleChanged" layout="row">
                            <h4 ng-if="OFFICE_MODE == 'BO' || scalesCanChange" edit-model="scales.threats"><span translate>Threats scale:</span> [
                                <span class="text-blue" edit-field="min"></span> -
                                <span class="text-blue" edit-field="max"></span> ]
                            </h4>
                            <h4 ng-if="OFFICE_MODE == 'FO' && !scalesCanChange"><span translate>Threats scale:</span> [
                                <span class="text-blue">{{ scales.threats.min }}</span> -
                                <span class="text-blue">{{ scales.threats.max }}</span> ]
                            </h4>
                        </div>

                        <div ng-if="scales.threats.min != scales.threats.max && scales.threats.max > 0" editable callback="onThreatCommChanged">
                            <ul class="no-list-style" edit-model="comms">
                                <li ng-repeat="i in range(scales.threats.min, scales.threats.max)">{{i}}. <span edit-field edit-ng-field="'comment' + scales.language" edit-readonly="isAnrReadOnly" edit-type="textarea" edit-class="preserve-newlines" edit-localmodel="comms.threat[i]" edit-placeholder="{{ 'Click here to type...' | translate }}"></span></li>
                            </ul>
                        </div>


                        <div editable callback="onVulnScaleChanged" layout="row">
                            <h4 ng-if="OFFICE_MODE == 'BO' || scalesCanChange" edit-model="scales.vulns"><span translate>Vulnerabilities scale:</span> [
                                <span class="text-blue" edit-field="min"></span> -
                                <span class="text-blue" edit-field="max"></span> ]
                            </h4>
                            <h4 ng-if="OFFICE_MODE == 'FO' && !scalesCanChange"><span translate>Vulnerabilities scale:</span> [
                                <span class="text-blue">{{ scales.vulns.min }}</span> -
                                <span class="text-blue">{{ scales.vulns.max }}</span> ]
                            </h4>
                        </div>

                        <div ng-if="scales.vulns.min != scales.vulns.max && scales.vulns.max > 0" editable callback="onVulnCommChanged">
                            <ul class="no-list-style" edit-model="comms">
                                <li ng-repeat="i in range(scales.vulns.min, scales.vulns.max)">{{i}}. <span edit-field edit-ng-field="'comment' + scales.language" edit-type="textarea" edit-readonly="isAnrReadOnly" edit-class="preserve-newlines" edit-localmodel="comms.vuln[i]" edit-placeholder="{{ 'Click here to type...' | translate }}"></span></li>
                            </ul>
                        </div>

                        <h4 translate>Thresholds</h4>

                        <form name="thresholdsForm" layout="row">
                            <div layout="column" flex="50">
                                <h5 translate>Max risks thresholds</h5>
                                <div layout="row" layout-align="start center">
                                    <div class="anr-scales-demo-block green"></div>
                                    <md-input-container>
                                        <input type="number" name="thresholds_min" min="0" max="{{ thresholds.thresholds.max }}" ng-model="thresholds.thresholds.min" aria-label="min" />
                                        <div ng-messages="thresholdsForm.thresholds_min.$error">
                                            <div ng-message="min">{{ 'This cannot be lower than zero' | translate }}</div>
                                            <div ng-message="max">{{ 'This cannot be higher than the orange threshold' | translate }}</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-align="start center">
                                    <div class="anr-scales-demo-block orange"></div>
                                    <md-input-container>
                                        <input type="number" name="thresholds_max" min="{{ thresholds.thresholds.min }}" max="{{ scales.impacts.max*scales.threats.max*scales.vulns.max }}" ng-model="thresholds.thresholds.max" aria-label="max" />
                                        <div ng-messages="thresholdsForm.thresholds_max.$error">
                                            <div ng-message="min">{{ 'This cannot be lower than the green threshold' | translate }}</div>
                                            <div ng-message="max">{{ 'This cannot be higher than' | translate }} {{ scales.impacts.max*scales.threats.max*scales.vulns.max }}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="column" flex="50">
                                <h5 translate>Max ROLF thresholds</h5>
                                <div layout="row" layout-align="start center">
                                    <div class="anr-scales-demo-block green"></div>
                                    <md-input-container>
                                        <input type="number" name="rolf_thresholds_min" min="0" max="{{ thresholds.rolf_thresholds.max }}" ng-model="thresholds.rolf_thresholds.min" aria-label="min" />
                                        <div ng-messages="thresholdsForm.rolf_thresholds_min.$error">
                                            <div ng-message="min">{{ 'This cannot be lower than zero' | translate }}</div>
                                            <div ng-message="max">{{ 'This cannot be higher than the orange threshold' | translate }}</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-align="start center">
                                    <div class="anr-scales-demo-block orange"></div>
                                    <md-input-container>
                                        <input type="number" name="rolf_thresholds_max" min="{{ thresholds.rolf_thresholds.min }}" max="{{ scales.impacts.max*scales.threats.max*scales.vulns.max }}" ng-model="thresholds.rolf_thresholds.max" aria-label="max" />
                                        <div ng-messages="thresholdsForm.rolf_thresholds_max.$error">
                                            <div ng-message="min">{{ 'This cannot be lower than the green threshold' | translate }}</div>
                                            <div ng-message="max">{{ 'This cannot be higher than' | translate }} {{ scales.impacts.max*scales.threats.max*scales.vulns.max }}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </form>
                    </div>
                </md-tab>

                <md-tab label="{{ 'Knowledge base' | translate }}" ng-if="OFFICE_MODE == 'FO'">
                    <div ng-include="'views/anr/_anr.kbmgmt.html'"></div>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</div>


<script type="text/ng-template" id="tree_node_renderer.html">
    <div ui-tree-handle layout="row" layout-align="start center">
        <md-button class="md-icon-button md-tree-unwrap-button" ng-click="toggleItemCollapsed(node)" ng-if="node.type == 'libcat' || node.__children__.length > 0" ng-disabled="node.__children__.length == 0" data-nodrag>
            {{ (node.__collapsed__ || node.__children__.length == 0) ? '+' : '-' }}
        </md-button>

        <div class="md-tree-item-spacer" ng-if="!(node.type == 'libcat' || node.__children__.length > 0)"></div>

        <md-icon ng-if="node.scope == 2" class="md-tree-global-icon">language</md-icon>

        <p flex class="md-tree-link" ng-click="toggleItemCollapsed(node)" ng-if="node.type == 'libcat'"><strong>{{ ::node[_langField('label')] }}</strong></p>
        <p flex class="md-tree-link" ng-class="{'active-obj': node.type == 'lib' && node.id == anr_selected_object_id}" ui-sref="main.project.anr.object({objectId: node.id})" ng-if="node.type == 'lib' && OFFICE_MODE == 'FO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-inst': node.type == 'inst' && node.id == anr_selected_instance_id}" ui-sref="main.project.anr.instance({instId: node.id})" ng-if=" ! node.disableclick && node.type == 'inst' && OFFICE_MODE == 'FO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-obj': node.type == 'lib' && node.id == anr_selected_object_id}" ui-sref="main.kb_mgmt.models.details.object({objectId: node.id})" ng-if="node.type == 'lib' && OFFICE_MODE == 'BO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-inst': node.type == 'inst' && node.id == anr_selected_instance_id}" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})" ng-if=" ! node.disableclick && node.type == 'inst' && OFFICE_MODE == 'BO'">{{ ::node[_langField('name')] }}</p>
    </div>

    <ol class="no-list-style" ui-tree-nodes="" ng-model="node.__children__" ng-show="!node.__collapsed__">
        <li ng-repeat="node in node.__children__" ui-tree-node data-collapsed="{{node.__collapsed__}}" ng-include="'tree_node_renderer.html'" ng-show="visible(node)"></li>
    </ol>
</script>

<script type="text/ng-template" id="monarc-method.tmpl.html">
    <div layout="column" class="md-padding-double md-monarc-method-box">
        <h2>{{ ::step.label }}</h2>

        <div layout="row" ng-repeat="subStep in step.steps" layout-align="start center">
            <md-button class="md-icon-button" ng-click="setMethodStepStatus(subStep.progressField, subStep, subStep.done)"><md-icon>{{ ::subStep.done ? "check_box" : "check_box_outline_blank" }}</md-icon></md-button>
            <div class="pointer" ng-click="subStep.action(subStep)">{{ ::subStep.label }}</div>
        </div>

        <a href="javascript:;" class="bold" ng-click="openMethodDeliverable(step)" ng-if="step.deliverable">{{ 'Deliverable:' | translate }} {{ ::step.deliverable }}</a>
    </div>
</script>