<md-card flex>
    <div class="md-padding-left md-padding-right" layout="column" layout-gt-md="row" layout-align="space-between center" flex-gt-md>
        <div layout="row" layout-align="start center">
            <div flex ng-if="!model.anr">
                <md-progress-circular md-indeterminate="true"></md-progress-circular>
            </div>
            <div flex ng-if="model.anr && OFFICE_MODE == 'FO'" class="active-inst" ng-class="{'forceBreakWord': model.anr.label.includes(' ')}">
                <h2 class="no-margin ">{{ model.anr.label }}</h2>
                <span ng-if="OFFICE_MODE == 'FO'">{{ model.anr.description }}</span>
            </div>
            <div flex ng-if="model.anr && OFFICE_MODE == 'BO'" class="active-inst" ng-class="{'forceBreakWord': !_langField(model.anr,'label').includes(' ')}">
                <h2 class="no-margin ">{{ _langField(model,'label') }}</h2>
                <span>{{ _langField(model.anr,'description') }}</span>
            </div>

            <md-menu ng-if="OFFICE_MODE == 'FO'">
                <md-button ng-click="openAnrMenu($mdMenu.open, $event);" ng-disabled="updatingANR">
                    <md-tooltip md-direction="bottom">{{ 'Actions' | translate }}</md-tooltip>
                    <md-icon class="material-icons md-48 size-auto" md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-click="editAnrInfo($event)">
                            <md-icon class="md-light-theme material-icons">edit</md-icon><span class="black">{{ 'Edit risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="model.anr.status == 1">
                        <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-click="importInstance($event)">
                            <md-icon class="md-light-theme material-icons">play_for_work</md-icon><span class="black">{{ 'Import a risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="model.anr.status == 9">
                      <span class="black">{{ 'There is an import error (Restore a snapshot or remove analysis)' | translate }}</span>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-click="exportAnr($event)">
                            <md-icon class="md-light-theme material-icons">call_made</md-icon><span class="black">{{ 'Export the whole risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary md-warn" ng-disabled="isAnrReadOnly" ng-click="deleteAnr($event)">
                            <md-icon class="md-light-theme material-icons">delete</md-icon><span class="black">{{ 'Delete risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-card>
<md-tabs md-dynamic-height md-selected="ToolsAnrService.currentTab">
    <md-tab label="{{ 'Information risks' | translate }}">
        <ng-include src="'views/anr/_table_risks.html'"></ng-include>
    </md-tab>
    <md-tab label="{{ 'Operational risks' | translate }}">
        <ng-include src="'views/anr/_table_risks_op.html'"></ng-include>
    </md-tab>
</md-tabs>
