<div class="md-padding-left md-padding-right" layout="column" ng-controller="AnrRopaCtrl" ng-if="tabRopaDisplayed">
    <p class="md-title md-padding-left" translate>Records of processing activities</p>
    <!--md-tabs md-dynamic-height="true" ng-if="updatingRecords"-->
    <md-tabs md-dynamic-height="true" md-selected="recordTabSelected">
        <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="createNewRecord($event)">
            <md-tooltip md-direction="left">
                {{ 'Add a record' | translate }}
            </md-tooltip>
            <md-icon class="md-icon-button md-primary">add_to_photos</md-icon>
        </md-button>

        <md-tab id="tabRecord" ng-repeat="record in records.items.records" label="{{ _langField(record,'label')}}"
            md-on-select="selectRecord(record.id)">

            <div layout="row" layout-align="end center" class="md-padding-double" style="height:40px">
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                        <md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }}</md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="openMethodDeliverable(step, $event)">.docx</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="export()">.csv</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly && records.items.records.length > 0" ng-click="editRecord($event,record.id)">
                    <md-tooltip md-direction="left">
                        {{ 'Edit record' | translate }}
                    </md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn" ng-if="!isAnrReadOnly && records.items.records.length > 0" ng-click="deleteRecord($event, record.id)">
                    <md-tooltip md-direction="left">
                        {{ 'Delete record' | translate }}
                    </md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
            <p class="md-title md-padding-left"> <b> {{ _langField(record,'label')}} </b> </p>
            <p class="md-subhead md-padding-left" translate>Controller</p>
            <md-table-container flex>
                <table md-table>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell> <b> {{ 'Name: ' | translate }} </b> </td>
                            <td md-cell> {{ record.controller.label }} </td>
                            <td md-cell> <b> {{ 'Contact: ' | translate }} </b> </td>
                            <td md-cell> {{ record.controller.contact }} </td>
                        </tr>
                        <tr md-row>
                            <td md-cell> <b> {{ "Representative: " | translate }} </b> </td>
                            <td md-cell> {{ record.representative}} </td>
                            <td md-cell> <b> {{ "Data Protection Officer: " | translate }} </b> </td>
                            <td md-cell> {{ record.dpo }} </td>
                        </tr>
                        <tr md-row>
                        </tr>
                        <tr md-row>
                            <td md-cell>  <b> {{ "Purpose of the processing: " | translate }} </b> </td>
                            <td md-cell> {{ record.purpose }} </td>
                            <td md-cell>  <b> {{ "Categories of data subjects: " | translate }} </b> </td>
                            <td md-cell> {{ record.description }} </td>
                        </tr>
                        <tr md-row>
                            <td md-cell> <b> {{ "Time limits for erasure: " | translate }} </b> </td>
                            <td md-cell> {{  record.erasure.toLocaleDateString() }} </td>
                            <td md-cell> <b> {{ "Technical and organisational security measures: " | translate }} </b> </td>
                            <td md-cell> {{ record.secMeasures }} </td>
                        </tr>
                        <tr md-row ng-if="record.jointControllers.length > 0" >
                            <td md-cell > <span translate> <b> Joint Controllers: </b> </span> </td>
                            <td md-cell colspan="3">
                                <md-table-container flex>
                                    <table md-table>
                                        <tbody md-body>
                                            <tr md-row>
                                                <th md-cell width="30%"><span translate>Name</span></th>
                                                <th md-cell width="70%"><span translate>Contact</span></th>
                                            </tr>
                                            <tr md-row ng-repeat="jc in record.jointControllers">
                                                <td md-cell>{{ jc.label }}</td>
                                                <td md-cell>{{ jc.contact }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </td>
                        </tr>
                        <tr md-row ng-if="record.recipients.length > 0" >
                            <td md-cell rowspan="{{record.recipients.length}}">  <span translate> <b>Recipient Categories </b> </span> </td>
                            <td colspan="3"> {{record.recipients[0]['label'] }} </td>
                        </tr>
                        <tr ng-repeat="recipient in record.recipients.slice(1)" md-row>
                            <td colspan="3"> {{recipient['label'] }} </td>
                        </tr>
                        <tr md-row ng-if="record.idThirdCountry">
                            <td md-cell> {{ 'Third country or international organisation Id' | translate }} </td>
                            <td md-cell> {{ record.idThirdCountry }} </td>
                        </tr>
                        <tr md-row ng-if="record.dpoThirdCountry">
                            <td md-cell> {{ 'Third country data protection officer' | translate }} </td>
                            <td md-cell> {{ record.dpoThirdCountry }} </td>
                        </tr>
                  </tbody>
              </table>
          </md-table-container>
          <p class="md-title md-padding-left" ng-if="record.processors.length > 0" translate>Processors</p>
          <md-tabs md-dynamic-height="true" md-selected="processorTabSelected">
              <md-tab id="tabRecord" ng-repeat="processor in record.processors" label="{{processor.label}}"
                  md-on-select="selectProcessor(processor.id)">
                  <md-table-container flex>
                      <table md-table>
                          <tbody md-body>
                              <tr md-row>
                                  <td md-cell width=20% > {{ 'Name' | translate }} </td>
                                  <td md-cell> {{ processor.label }} </td>
                              </tr>
                              <tr md-row>
                                  <td md-cell> {{ "Contact" | translate }} </td>
                                  <td md-cell> {{ processor.contact }} </td>
                              </tr>

                              <tr md-row>
                                  <td md-cell > <span translate> Controllers on behalf this processor is acting on </span> </td>
                                  <td md-cell>
                                      <md-table-container ng-if="processor.controllers.length > 0" flex>
                                          <table md-table>
                                              <tbody md-body>
                                                  <tr md-row>
                                                      <th md-cell width="30%"><span translate>Name</span></th>
                                                      <th md-cell width="70%"><span translate>Contact</span></th>
                                                  </tr>
                                                  <tr md-row ng-repeat="bc in processor.controllers">
                                                      <td md-cell>{{ bc.label }}</td>
                                                      <td md-cell>{{ bc.contact }}</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </md-table-container>
                                  </td>
                              </tr>
                              <tr md-row ng-if="processor.idThirdCountry">
                                  <td md-cell> {{ 'Third country or international organisation Id' | translate }} </td>
                                  <td md-cell> {{ processor.idThirdCountry }} </td>
                              </tr>
                              <tr md-row ng-if="processor.dpoThirdCountry">
                                  <td md-cell> {{ 'Third country data protection officer' | translate }} </td>
                                  <td md-cell> {{ processor.dpoThirdCountry }} </td>
                              </tr>
                              <tr md-row ng-if="processor.secMeasures">
                                  <td md-cell> {{ "Technical and organisational security measures" | translate }} </td>
                                  <td md-cell> {{ processor.secMeasures }} </td>
                              </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
        </md-tabs>
      </md-tab>
    </md-tabs>
</div>
