<div class="md-padding-left md-padding-right" layout="column" ng-controller="AnrRopaCtrl" ng-if="tabRopaDisplayed">
    <div layout="row" layout-align="space-between center" style="padding-top:10px; padding-bottom: 10px;">
        <span class="md-title md-padding-double" translate>Records of processing activities</span>
        <span style="margin-right:38px">
            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-tooltip md-direction="left">
                        {{ 'Export all the records in one file' | translate }}
                    </md-tooltip>
                    <md-icon class="md-warn">file_download</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click="openMethodDeliverable({ 'num' : 7}, $event)">.docx</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="jsonExportAll()">.json</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="export($event, true)">.csv</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-disabled="updatingRecords" ng-click="createNewRecord($event)">
                <md-tooltip md-direction="left">
                    {{ 'Add a record' | translate }}
                </md-tooltip>
                <md-icon class="md-icon-button md-primary">add_to_photos</md-icon>
            </md-button>
        </span>
    </div>
    <md-tabs class="record-tabs" md-dynamic-height="true" md-selected="records.recordTabSelected" ng-if="!(updatingRecords)" style="padding-bottom: 100px;">
        <div layout="row" layout-align="end center">
            <form flex name="records.filter.form">
                <md-input-container class="md-block md-padding-left md-padding-right">
                    <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                    <input ng-model="records.query.filter">
                </md-input-container>
            </form>
        </div>
        <md-tab ng-repeat="(recordIndex,record) in records.items.records" label="{{ record.label }}" ng-if="records.items.count>0"
            md-on-select="selectRecord(record.id)">
            <div layout="row" layout-align="space-between center">
                <h3 class="md-padding-left" translate>Description of processing activities</h3>
                <div layout="row" layout-align="end center">
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }}</md-tooltip>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                              <md-button ng-click="openMethodDeliverable(step, $event)">.docx</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="jsonExport($event, record)">.json</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="export($event, false, record)">.csv</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button class="md-icon-button md-warn" ng-if="!isAnrReadOnly && records.items.records.length > 0" ng-click="deleteRecord($event, record.id)">
                        <md-tooltip md-direction="left">
                            {{ 'Delete record' | translate }}
                        </md-tooltip>
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="uiState.hideDescription = !uiState.hideDescription"><md-icon>{{ uiState.hideDescription ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                </div>
            </div>
            <div ng-hide=uiState.hideDescription>
                <md-table-container flex>
                    <table editable callback="onRecordTableEdited" class="md-html-table md-html-table-grey big-border-all">
                        <tbody edit-model="record">
                            <tr>
                                <td> <b translate> Name </b> </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="label" edit-type="textarea"></td>
                            </tr>
                            <tr>
                                <td> <b translate> Creation date </b> </td>
                                <td> {{record.createdAt.date.substring(0,10)}} </td>
                            </tr>
                            <tr>
                                <td> <b translate> Update date </b> </td>
                                <td> {{record.updatedAt.date.substring(0,10)}} </td>
                            </tr>
                            <tr>
                                <td> <b translate> Purpose(s) </b> </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="purposes" edit-type="textarea" edit-class="preserve-newlines"></td>
                            </tr>
                            <tr>
                                <td style="width:1%; white-space:nowrap"> <b translate> Security measures </b> </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="secMeasures" edit-type="textarea" edit-class="preserve-newlines"></td>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <br/>
            <div layout="row" layout-align="space-between center">
                <h3 class="md-padding-left" translate>Actors</h3>
                <md-button class="md-icon-button" ng-click="uiState.hideActors = !uiState.hideActors"><md-icon>{{ uiState.hideActors ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
            </div>
            <div ng-hide=uiState.hideActors>
                <md-table-container flex>
                    <table editable callback="onActorTableEdited" class="md-html-table md-html-table-grey big-border-all">
                        <tbody>
                            <tr>
                                <th translate> Actor </th>
                                <th translate style="width:30%;"> Name </th>
                                <th translate> Contact </th>
                                <th ng-if="!isAnrReadOnly" style="width:1%; white-space:nowrap"> </th>
                            </tr>
                            <tr edit-model="records.items.records[recordIndex].controller" ng-if="!updatingActor">
                                <td style="width:1%; white-space:nowrap"> <b translate> Processing activity controller </b> </td>
                                <td>
                                    <md-autocomplete
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedItemController"
                                        md-search-text="record.controller.label"
                                        md-items="item in queryRecordActorSearch(record.controller.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemController, 'controller')"
                                        ng-blur="updateActorLabel(record, recordIndex, record.controller, 'controller')">
                                        <md-item-template>
                                            <span md-highlight-text="record.controller.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="record.controller.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                <td ng-if="!record.controller.id"></td>
                                <td class="txtcenter">
                                    <md-button ng-if="!isAnrReadOnly && record.controller.id" class="md-icon-button md-warn"ng-click="detachActor(record, 'controller')">
                                        <md-tooltip md-direction="left">
                                            {{ 'Detach controller' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="updatingActor">
                            </tr>
                            <tr edit-model="records.items.records[recordIndex].dpo" ng-if="!updatingActor">
                                <td> <b translate> Data protection officer </b> </td>
                                <td>
                                    <md-autocomplete
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedItemDpo"
                                        md-search-text="record.dpo.label"
                                        md-items="item in queryRecordActorSearch(record.dpo.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemDpo, 'dpo')"
                                        ng-blur="updateActorLabel(record, recordIndex, record.dpo, 'dpo')">
                                        <md-item-template>
                                            <span md-highlight-text="record.dpo.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td edit-readonly="isAnrReadOnly" ng-model="record.dpo.contact" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="record.dpo.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                <td ng-if="!record.dpo.id"></td>
                                <td class="txtcenter">
                                    <md-button ng-if="!isAnrReadOnly && record.dpo.id" class="md-icon-button md-warn"ng-click="detachActor(record, 'dpo')">
                                        <md-tooltip md-direction="left">
                                            {{ 'Detach data protection officer' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="updatingActor">
                            </tr>
                            <tr edit-model="records.items.records[recordIndex].representative" ng-if="!updatingActor">
                                <td> <b translate> Representative </b> </td>
                                <td>
                                    <md-autocomplete
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedItemRepresentative"
                                        md-search-text="record.representative.label"
                                        md-items="item in queryRecordActorSearch(record.representative.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemRepresentative, 'representative')"
                                        ng-blur="updateActorLabel(record, recordIndex, record.representative, 'representative')">
                                        <md-item-template>
                                            <span md-highlight-text="record.representative.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="record.representative.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                <td ng-if="!record.representative.id"></td>
                                <td class="txtcenter">
                                    <md-button ng-if="!isAnrReadOnly && record.representative.id" class="md-icon-button md-warn"ng-click="detachActor(record, 'representative')">
                                        <md-tooltip md-direction="left">
                                            {{ 'Detach representative' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="updatingActor">
                            </tr>
                            <tr edit-model="record.jointControllers[0]" >
                                <td>
                                    <span flex><b translate> Joint controllers </b> </span>
                                    <md-button class="md-icon-button md-primary" ng-click="addJointControllers(record)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Add a new joint controller' | translate }}
                                        </md-tooltip>
                                        <md-icon>add_to_photos</md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    <md-autocomplete ng-if="record.jointControllers.length > 0"
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedJointController"
                                        md-search-text="record.jointControllers[0].label"
                                        md-items="item in queryRecordActorSearch(record.jointControllers[0].label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedJointController, 'jointControllers', 0)"
                                        ng-blur="updateActorLabel(record, recordIndex, record.jointControllers[0], 'jointControllers', 0)">
                                        <md-item-template>
                                            <span md-highlight-text="record.jointCrontollers[0].label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="record.jointControllers[0].id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                <td ng-if="!record.jointControllers[0].id"></td>
                                <td class="txtcenter">
                                    <md-button ng-if="!isAnrReadOnly && record.jointControllers[0].id" class="md-icon-button md-warn"ng-click="detachActor(record, 'jointControllers', 0)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Detach joint controller' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="updatingActor">
                            </tr>
                            <tr ng-repeat="jc in record.jointControllers.slice(1)" edit-model="jc">
                                <td> </td>
                                <td>
                                    <md-autocomplete
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedJointController"
                                        md-search-text="jc.label"
                                        md-items="item in queryRecordActorSearch(jc.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedJointController, 'jointControllers', $index + 1)"
                                        ng-blur="updateActorLabel(record, recordIndex, jc, 'jointControllers', $index+1)">
                                        <md-item-template>
                                            <span md-highlight-text="jc.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="jc.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                <td ng-if="!jc.id"></td>
                                <td class="txtcenter">
                                    <md-button ng-if="!isAnrReadOnly && record.jointControllers[$index+1].id" class="md-icon-button md-warn"ng-click="detachActor(record, 'jointControllers', $index+1)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Detach joint controller' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="updatingActor">
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <br/>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <h3 class="md-padding-left" translate>Categories of personal data and data subjects</h3>
                    <md-button class="md-icon-button md-primary" ng-click="addPersonalData(record)" ng-hide=uiState.hidePersonalData>
                        <md-tooltip md-direction="left">
                            {{ 'Add a new category of personal data and data subjects' | translate }}
                        </md-tooltip>
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                </div>
                <md-button class="md-icon-button" ng-click="uiState.hidePersonalData = !uiState.hidePersonalData"><md-icon>{{ uiState.hidePersonalData ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
            </div>
            <div ng-hide=uiState.hidePersonalData>
                <md-table-container flex>
                    <table editable callback="onPersonalDataTableEdited" class="md-html-table md-html-table-grey big-border-all">
                        <tbody>
                            <tr>
                                <th translate style="width:20%"> Data subject </th>
                                <th translate style="width:15%"> Categories of personal data </th>
                                <th translate style="width:30%"> Description </th>
                                <th translate style="width:15%"> Duration of data retention </th>
                                <th translate style="width:20%"> Description of retention period </th>
                                <th ng-if="!isAnrReadOnly" style="width:1%; white-space:nowrap" ></th>
                            </tr>
                            <tr ng-repeat="(personalDataIndex, personalData) in record.personalData" edit-model="personalData" ng-if="!(updatingPersonalData)">
                                <td edit-readonly="isAnrReadOnly" edit-field="dataSubject" edit-type="textarea" edit-class="preserve-newlines" style="word-wrap:break-word;"></td>
                                <td>
                                    <md-chips class="chips-horizontal md-chips-table"
                                        md-on-remove="onPersonalDataEdit(record, personalData, personalDataIndex)"
                                        md-on-add="onPersonalDataEdit(record, personalData, personalDataIndex)"
                                        md-transform-chip="transformChip($chip)"
                                        ng-model="personalData.dataCategories"
                                        md-autocomplete-snap flex>
                                        <md-autocomplete md-selected-item="selectedDataCategory"
                                                         md-search-text="$parent.dataCategorySearchText"
                                                         md-items="item in queryRecordDataCategorySearch(dataCategorySearchText, personalData)"
                                                         md-item-text="item['label']"
                                                         md-min-length="0"
                                                         md-no-cache="true"
                                                         md-require-match="true"
                                                         style="min-width:100px">
                                            <md-item-template>
                                                <span md-highlight-text="dataCategorySearchText" md-highlight-flags="^i">{{item['label']}}</span>
                                            </md-item-template>
                                        </md-autocomplete>

                                        <md-chip-template>
                                            <span>
                                                <em>{{$chip['label']}}</em>
                                            </span>
                                        </md-chip-template>
                                        <md-not-found>
                                             {{ 'No data category matching your search was found. Click on' | translate }}
                                             <md-icon>add_to_photos</md-icon>
                                             {{ 'to create it.' | translate }}
                                         </md-not-found>
                                    </md-chips>
                                    <md-button class="md-icon-button md-primary" ng-disabled="!dataCategorySearchText" ng-click="addNewDataCategory(record, dataCategorySearchText, personalData, personalDataIndex)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Add a new data category' | translate }}
                                        </md-tooltip>
                                        <md-icon>add_to_photos</md-icon>
                                    </md-button>
                                </td>
                                <td edit-readonly="isAnrReadOnly || !personalData.id" edit-field="description" edit-type="textarea" ng-disabled="!personalData.id" edit-class="preserve-newlines"  style="word-wrap:break-word;"></td>
                                <td>
                                    <span>
                                        <input type="number" ng-model="personalData.retentionPeriod" min="0" style="width:20%" ng-change="onPersonalDataTableEdited(personalData)" ng-disabled="!personalData.id">
                                    </span>
                                    <span class="select-retention-period-mode">
                                        <md-select ng-model="personalData.retentionPeriodMode" ng-change="onPersonalDataTableEdited(personalData)" ng-disabled="!personalData.id">
                                            <md-option ng-value="0"> {{ 'day(s)' | translate }} </md-option>
                                            <md-option ng-value="1"> {{ 'month(s)' | translate }} </md-option>
                                            <md-option ng-value="2"> {{ 'year(s)' | translate }} </md-option>
                                        </md-select>
                                    </span>
                                </td>
                                <td edit-readonly="isAnrReadOnly || !personalData.id" edit-field="retentionPeriodDescription" edit-type="textarea" ng-disabled="!personalData.id"></td>
                                <td ng-if="!isAnrReadOnly">
                                    <md-button class="md-icon-button md-warn"ng-click="deletePersonalData(record, $personalDataIndex)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Delete personal data record' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <br/>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                  <h3 class="md-padding-left" translate> Recipients</h3>
                  <md-button class="md-icon-button md-primary" ng-click="addRecipient(record)">
                      <md-tooltip md-direction="left">
                          {{ 'Add a new recipient of data' | translate }}
                      </md-tooltip>
                      <md-icon>add_to_photos</md-icon>
                  </md-button>
                </div>
                <md-button class="md-icon-button" ng-click="uiState.hideRecipients = !uiState.hideRecipients"><md-icon>{{ uiState.hideRecipients ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
            </div>
            <div ng-hide=uiState.hideRecipients>
                <md-table-container flex>
                    <table editable callback="onRecipientTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody>
                            <tr>
                                <th translate style="width:30%;"> Recipient </th>
                                <th translate style="width:1%; white-space:nowrap"> Recipient type </th>
                                <th translate> Description </th>
                                <th ng-if="!isAnrReadOnly" style="width:1%; white-space:nowrap" ></th>
                            </tr>
                            <tr ng-repeat="(recipientIndex, recipient) in record.recipients" edit-model="recipient">
                                <td>
                                    <md-autocomplete
                                        class="autocomplete-record-gdpr"
                                        md-selected-item="selectedItemRecipient"
                                        md-search-text="recipient.label"
                                        md-items="item in queryRecordRecipientSearch(record, recipient.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="recipientItemSelected(record, selectedItemRecipient, recipientIndex)"
                                        ng-blur="updateRecipientLabel(record, recipient, recipientIndex)">
                                        <md-item-template>
                                            <span md-highlight-text="recipient.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td>
                                    <md-select ng-model="recipient.type" ng-change="onRecipientTableEdited(recipient)" ng-if="recipient.id">
                                        <md-option ng-value="0"> {{ 'Internal' | translate }} </md-option>
                                        <md-option ng-value="1"> {{ 'External' | translate }} </md-option>
                                    </md-select>
                                </td>
                                <td edit-readonly="isAnrReadOnly || !recipient.id" edit-field="description" edit-type="textarea" ng-if="recipient.id"></td>
                                <td ng-if="!recipient.id"></td>
                                <td ng-if="!isAnrReadOnly">
                                    <md-button class="md-icon-button md-warn"ng-click="deleteRecipient(record, recipientIndex)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Delete recipient' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div layout="row" layout-align="space-between center">
              <div layout="row" layout-align="start center">
                <h3  class="md-padding-left" translate> International transfers </h3>
                <md-button class="md-icon-button md-primary" ng-click="addInternationalTransfer(record)">
                    <md-tooltip md-direction="left">
                        {{ 'Add a new record of data international transfer' | translate }}
                    </md-tooltip>
                    <md-icon>add_to_photos</md-icon>
                </md-button>
              </div>
              <md-button class="md-icon-button" ng-click="uiState.hideTranfers = !uiState.hideTranfers"><md-icon>{{ uiState.hideTranfers ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
            </div>
            <div ng-hide=uiState.hideTranfers>
                <md-table-container flex>
                    <table editable callback="onTransferTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody>
                            <tr>
                                <th translate> Organisation </th>
                                <th translate> Description </th>
                                <th translate> Country </th>
                                <th translate style="width:40%; white-space:nowrap"> Documents </th>
                                <th ng-if="!isAnrReadOnly" style="width:1%; white-space:nowrap"></th>
                            </tr>
                            <tr ng-repeat="internationalTransfer in record.internationalTransfers"  edit-model="internationalTransfer">
                                <td edit-readonly="isAnrReadOnly" edit-field="organisation" edit-type="textarea" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="description" edit-type="textarea" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="country" edit-type="textarea" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="documents" edit-type="textarea" class="txtcenter"></td>
                                <td ng-if="!isAnrReadOnly">
                                    <md-button class="md-icon-button md-warn"ng-click="deleteInternationalTransfer(record, $index)">
                                        <md-tooltip md-direction="left">
                                            {{ 'Delete international transfer record' | translate }}
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <br/>
            <div layout="row" layout-align="space-between center">
              <div layout-align="start center">
                <div layout="row" layout-align="start center">
                  <h3 class="md-padding-left" translate> Processors </h3>
                  <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="createNewProcessor($event, record)">
                      <md-tooltip md-direction="left">
                          {{ 'Add a processor' | translate }}
                      </md-tooltip>
                      <md-icon class="md-icon-button md-primary">add_to_photos</md-icon>
                  </md-button>
                </div>
              </div>
              <md-button class="md-icon-button" ng-click="uiState.hideProcessors = !uiState.hideProcessors"><md-icon>{{ uiState.hideProcessors ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
            </div>
            <div ng-hide=uiState.hideProcessors>
                <md-tabs md-dynamic-height="true" md-selected="processorTabSelected" ng-if="record.processors.length > 0 || !isAnrReadOnly">
                    <md-tab ng-repeat="processor in record.processors" label="{{processor.label}}"
                            md-on-select="selectProcessor(processor.id)">
                        <div layout="row" layout-align="end center" class="md-padding-double" style="height:40px">
                            <md-button class="md-icon-button" ng-if="!isAnrReadOnly" ng-click="detachProcessor($event, record, $index)">
                                <md-tooltip md-direction="left">
                                    {{ 'Detach processor' | translate }}
                                </md-tooltip>
                                <md-icon>content_cut</md-icon>
                            </md-button>
                        </div>
                        <div>
                            <md-table-container flex>
                                <table editable callback="onProcessorTableEdited" class="md-html-table md-html-table-grey big-border-all">
                                    <tbody edit-model="processor">
                                        <tr>
                                            <td> <b translate> Name </b> </td>
                                            <td edit-readonly="isAnrReadOnly" edit-field="label" edit-type="textarea"></td>
                                        </tr>
                                        <tr>
                                            <td> <b translate> Contact </b> </td>
                                            <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines"></td>
                                        </tr>
                                        <tr>
                                            <td> <b translate> Activity(s) </b> </td>
                                            <td edit-readonly="isAnrReadOnly" edit-field="activities" edit-type="textarea" edit-class="preserve-newlines"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:1%; white-space:nowrap"> <b translate> Security measures </b> </td>
                                            <td edit-readonly="isAnrReadOnly" edit-field="secMeasures" edit-type="textarea" edit-class="preserve-newlines"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                        <br/>
                        <div layout="row" layout-align="space-between center">
                            <h3 class="md-padding-left" translate> Actors </h3>
                            <md-button class="md-icon-button" ng-click="uiState.hideProcessorActors = !uiState.hideProcessorActors"><md-icon>{{ uiState.hideProcessorActors ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                        </div>
                        <div ng-hide=uiState.hideProcessorActors>
                            <md-table-container flex>
                                <table editable callback="onActorTableEdited" class="md-html-table md-html-table-grey big-border-all">
                                    <tbody>
                                        <tr>
                                            <th translate> Actor </th>
                                            <th translate> Name </th>
                                            <th translate> Contact </th>
                                            <th ng-if="!isAnrReadOnly" style="width:1%; white-space:nowrap"> </th>
                                        <tr edit-model="processor.representative" ng-if="!updatingActor">
                                            <td> <b translate> Representative </b> </td>
                                            <td style="width:30%;">
                                                <md-autocomplete
                                                    class="autocomplete-record-gdpr"
                                                    md-selected-item="selectedItemRepresentativeProcessor"
                                                    md-search-text="processor.representative.label"
                                                    md-items="item in queryRecordActorSearch(processor.representative.label)"
                                                    md-item-text="item['label']"
                                                    md-min-length="0"
                                                    md-no-cache="true"
                                                    md-selected-item-change="processorActorItemSelected(processor, selectedItemRepresentativeProcessor, 'representative')"
                                                    ng-blur="processorUpdateActorLabel(processor, processor.representative, 'representative')">
                                                    <md-item-template>
                                                        <span md-highlight-text="processor.representative.label" md-highlight-flags="^i">{{item['label']}}</span>
                                                    </md-item-template>
                                                </md-autocomplete>
                                            </td>
                                            <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="processor.representative.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                            <td ng-if="!processor.representative.id"></td>
                                            <td class="txtcenter" style="width:1%; white-space:nowrap">
                                                <md-button ng-if="!isAnrReadOnly && processor.representative.id" class="md-icon-button md-warn"ng-click="processorDetachActor(processor, 'representative')">
                                                    <md-tooltip md-direction="left">
                                                        {{ 'Detach representative' | translate }}
                                                    </md-tooltip>
                                                    <md-icon>delete</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        <tr ng-if="updatingActor">
                                        </tr>
                                        <tr edit-model="processor.dpo" ng-if="!updatingActor">
                                            <td style="width:1%; white-space:nowrap"> <b translate> Data protection officer </b> </td>
                                            <td style="width:30%;">
                                                <md-autocomplete
                                                    class="autocomplete-record-gdpr"
                                                    md-selected-item="selectedItemDpoProcessor"
                                                    md-search-text="processor.dpo.label"
                                                    md-items="item in queryRecordActorSearch(processor.dpo.label)"
                                                    md-item-text="item['label']"
                                                    md-min-length="0"
                                                    md-no-cache="true"
                                                    md-selected-item-change="processorActorItemSelected(processor, selectedItemDpoProcessor, 'dpo')"
                                                    ng-blur="processorUpdateActorLabel(processor, processor.dpo, 'dpo')">
                                                    <md-item-template>
                                                        <span md-highlight-text="processor.dpo.label" md-highlight-flags="^i">{{item['label']}}</span>
                                                    </md-item-template>
                                                </md-autocomplete>
                                            </td>

                                            <td edit-readonly="isAnrReadOnly" edit-field="contact" edit-type="textarea" edit-class="preserve-newlines" ng-if="processor.dpo.id" edit-placeholder="{{ 'Address, mail, telephone, ...' | translate }}"></td>
                                            <td ng-if="!processor.dpo.id"></td>
                                            <td class="txtcenter">
                                                <md-button ng-if="!isAnrReadOnly && processor.dpo.id" class="md-icon-button md-warn"ng-click="processorDetachActor(processor, 'dpo')">
                                                    <md-tooltip md-direction="left">
                                                        {{ 'Detach data protection officer' | translate }}
                                                    </md-tooltip>
                                                    <md-icon>delete</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        <tr ng-if="updatingActor">
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </md-tab>
    </md-tabs>
</div>
