<div class="md-padding" ng-cloak layout="column" ng-controller="AnrObjectInstanceCtrl">
    <div layout="row" layout-align="space-around start">
        <div flex ng-if="instance" class="active-inst">
            <h2>
                <md-icon ng-if="instance.object.scope == 2" style="color: #F57C00">share</md-icon>
                {{ instance[_langField('name')] }}
            </h2>

            <p>{{ instance[_langField('label')] }}</p>
        </div>

        <md-card flex-gt-md="85">
            <md-card-content layout="column" layout-gt-md="row" flex-gt-md layout-wrap>
                <div flex-gt-md="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold" ng-class="{'txtright': $mdMedia('gt-md')}" translate>Confidentiality:&nbsp;</div>
                    <div flex>{{ instance.c < 0 ? ('Inherited' | translate) : instance.c }} <span ng-if="instance.ch == 1 && instance.c >= 0" translate>(inherited)</span></div>
                </div>

                <div flex-gt-md="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold" ng-class="{'txtright': $mdMedia('gt-md')}" translate>Integrity:&nbsp;</div>
                    <div flex>{{ instance.i < 0 ? ('Inherited' | translate) : instance.i }} <span ng-if="instance.ih == 1 && instance.i >= 0" translate>(inherited)</span></div>
                </div>

                <div flex-gt-md="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold" ng-class="{'txtright': $mdMedia('gt-md')}" translate>Availability:&nbsp;</div>
                    <div flex>{{ instance.d < 0 ? ('Inherited' | translate) : instance.d }} <span ng-if="instance.dh == 1 && instance.d >= 0" translate>(inherited)</span></div>
                </div>
            </md-card-content>
        </md-card>

        <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon>menu</md-icon>
                    <md-tooltip md-direction="left">{{ 'Object actions' | translate }}</md-tooltip>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="{{ 'Edit instance settings' | translate }}" class="md-fab md-raised md-mini" ng-click="editInstanceDetails($event)">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-direction="left">{{ 'Edit instance settings' | translate }}</md-tooltip>
                </md-button>

                <md-button ng-disabled="isSafari()" aria-label="{{ 'Export instance' | translate }}" class="md-fab md-raised md-mini" ng-click="exportInstance($event)">
                    <md-icon>save</md-icon>
                    <md-tooltip md-direction="left">{{ 'Export instance' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Detach' | translate }}" class="md-fab md-raised md-mini md-warn" ng-click="detachInstance($event)">
                    <md-icon>content_cut</md-icon>
                    <md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>


    <md-card ng-if="instance_updating">
        <md-card-content layout="row" layout-align="center center" layout-padding>
            <md-progress-circular></md-progress-circular>
            <p translate>Updating risks...</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-tabs md-dynamic-height md-border-bottom md-selected="ToolsAnrService.currentTab">
            <md-tab label="{{ 'General information' | translate }}">
                <div layout="row" layout-align="center center" class="md-padding" ng-if="!instance.id">
                    <md-progress-circular></md-progress-circular>
                </div>

                <div class="md-padding" ng-if="instance.id">
                    <a aria-title="{{ 'See object in the library' | translate }}" href="javascript:void(0);" ng-click="showObjectInLibrary(instance.object.id);"><md-icon>folder_open</md-icon>{{ 'See object in the library' | translate }}</a>

                    <p class="md-title" translate>This asset is attached to the following parents</p>

                    <p ng-if="instance.instances.length <= 0" translate>This asset has no parents.</p>


                    <table md-table ng-if="instance.instances.length > 0">
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span translate>Active parent</span></th>
                                <th md-column><span translate>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="node in instance.instances">
                                <td md-cell>{{ node[_langField('name')] }}</td>
                                <td md-cell>
                                    <md-button class="md-icon-button" aria-title="{{ node[_langField('name')] }}" ng-if="instance.id != node.id" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>folder_open</md-icon><md-tooltip md-direction="left">{{ node[_langField('name')] }}</md-tooltip></md-button>
                                    <md-button class="md-icon-button" aria-title="{{ 'Detach' | translate }}" ng-if="instance.id != node.id" ng-click="detachInstance($event,node)""><md-icon>content_cut</md-icon><md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip></md-button>
                                     <!--"-->
                                     <em ng-if="instance.id == node.id">{{'(Current instance)' | translate}}</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-tab>

            <md-tab label="{{ 'Risks table' | translate }}">
                <ng-include src="'views/anr/_table_risks.html'"></ng-include>
            </md-tab>
            <ng-include src="'views/anr/_table_risks_op.html'" ng-if="instance.asset.type == 1"></ng-include>

        </md-tabs>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>{{ node.children && node.children.length > 0 ? 'add': 'note' }}</md-icon> {{ node[_langField('name')] }}</a>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>

