<div class="md-padding" ng-controller="AnrRisksPlanHistoryCtrl">
    <md-button ng-click="backToList()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button>
    <p class="md-title" translate>Implementation history</p>

    <table class="md-html-table">
        <thead>
        <tr>
            <th translate>By</th>
            <th translate>Recommendation</th>
            <th translate>Risk</th>
            <th translate>Implementation comment</th>
            <th translate>Risk before</th>
            <th translate>Risk after</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="entry in history">
            <td>{{ entry.creator }}</td>
            <td>
                <span ng-repeat="i in range(1, entry.recoImportance)" class="anr-importance">&bull;</span> <b>{{ entry.recoCode }}</b><br />
                {{entry.recoDescription}}<br />
                <b translate>Comment:</b> {{ entry.recoComment }}<br />
                <b translate>Deadline:</b> {{ formatDate(entry.recoDuedate.date) | date : 'dd/MM/yyyy' }}<br />
                <b translate>Manager:</b> {{ entry.recoResponsable }}
            </td>
            <td>
                <b translate>Asset type:</b> {{ entry.riskAsset }}<br />
		<b translate>Asset:</b> {{ entry.riskInstance }}<br />
                <b translate>Threat:</b> {{ entry.riskThreat }}<br />
                <b translate>Vulnerability:</b> {{ entry.riskVul }}<br />
                <b translate>Treatment type:</b> {{ treatmentStr(entry.riskKindOfMeasure) | translate }}<br />
                <b translate>Existing controls:</b> {{ entry.riskCommentBefore }}<br />
                <b translate>New controls:</b> {{ entry.riskCommentAfter }}
            </td>
            <td class="preserve-newlines">{{ entry.implComment }}</td>
            <td class="tbl-risk-calc" ng-class="{'green': entry.riskMaxRiskBefore >= 0 && entry.riskMaxRiskBefore <= thresholds.thresholds.min, 'orange': entry.riskMaxRiskBefore > thresholds.thresholds.min && entry.riskMaxRiskBefore <= thresholds.thresholds.max, 'red': entry.riskMaxRiskBefore > thresholds.thresholds.max}">{{ entry.riskMaxRiskBefore }}</td>
            <td class="tbl-risk-calc" ng-class="{'green': entry.riskMaxRiskAfter >= 0 && entry.riskMaxRiskAfter <= thresholds.thresholds.min, 'orange': entry.riskMaxRiskAfter > thresholds.thresholds.min && entry.riskMaxRiskAfter <= thresholds.thresholds.max, 'red': entry.riskMaxRiskAfter > thresholds.thresholds.max}">{{ entry.riskMaxRiskAfter }}</td>
        </tr>
        </tbody>
    </table>
</div>

