<md-tabs md-dynamic-height md-selected="ToolsAnrService.currentTab">
    <md-tab label="{{ 'General information' | translate }}">
        <div class="md-padding">
            <md-button ng-click="editAnrInfo($event)"><md-icon>edit</md-icon> {{ 'Edit risk analysis details' | translate }}</md-button>
            <md-button ng-click="exportAnr($event)" ng-disabled="isSafari()"><md-icon>save</md-icon> {{ 'Export risk analysis' | translate }}</md-button>

            <h4 translate>Calculation of risk / Thresholds - Information Risks</h4>

            <div layout="row">
                <table class="tbl-risk-calc">
                    <tbody>
                    <tr>
                        <th></th>
                        <th ng-repeat="v in info_risk_columns">{{v}}</th>
                    </tr>
                    <tr ng-repeat="i in info_risk_rows">
                        <th>{{i}}</th>
                        <td ng-class="{'green': v*i <= thresholds.thresholds.min, 'orange': v*i <= thresholds.thresholds.max && v*i > thresholds.thresholds.min, 'red': v*i > thresholds.thresholds.max}"
                            ng-repeat="v in info_risk_columns">{{v*i}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="anr-formula-container">
                    <div class="anr-formula">
                        <span class="green">R</span> = I x ( M x V )
                    </div>
                    <p class="md-caption">{{ 'R: Risk, I: Impact, M: Threat, V: Vulnerability' | translate }}</p>
                </div>
            </div>

            <h4 translate>Calculation of risk / Thresholds - Operational Risks</h4>

            <div layout="row" layout-align="start center">
                <p class="anr-table-sidetitle" translate>Impact</p>
                <table class="tbl-risk-calc">
                    <tbody>
                    <tr>
                        <td></td>
                        <td colspan="{{scales.threats.max - scales.threats.min + 1 }}" class="anr-table-toptitle" translate>Probability</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th ng-repeat="p in range(scales.threats.min, scales.threats.max)">{{p}}</th>
                    </tr>
                    <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)">
                        <th>{{i}}</th>
                        <td ng-repeat="p in range(scales.threats.min, scales.threats.max)"
                            ng-class="{'green': p*i <= thresholds.rolf_thresholds.min, 'orange': p*i <= thresholds.rolf_thresholds.max && p*i > thresholds.rolf_thresholds.min, 'red': p*i > thresholds.rolf_thresholds.max}">{{i*p}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="anr-formula-container">
                    <div class="anr-formula">
                        <span class="green">R</span> = I x P
                    </div>

                    <p class="md-caption">{{ 'R: Risk, I: Impact, P: Probability' | translate }}</p>
                </div>
            </div>

        </div>
    </md-tab>

    <md-tab label="{{ 'Risks table' | translate }}">
        <p class="md-title md-padding" translate>{{ model.anr.risks.length || 0 }} risk(s)</p>

        <div ng-if="!model.anr.risks || !model.anr.risks" class="md-padding">
            <em>{{ 'There are no risks for this risk analysis.' | translate }}</em>
        </div>

        <table class="md-html-table" ng-if="model.anr.risks.length > 0">
            <thead>
            <tr>
                <th colspan="2"><p translate>Threat</p></th>
                <th colspan="3"><p translate>Vulnerability</p></th>
                <th colspan="3"><p translate>Current risk</p></th>
                <th rowspan="2"><p translate>T</p></th>
                <th rowspan="2"><p translate>Target risk</p></th>
            </tr>
            <tr>
                <th translate>Label</th>
                <th translate>Prob.</th>
                <th translate>Label</th>
                <th translate>Measures set</th>
                <th translate>Qualif.</th>
                <th>C</th>
                <th>I</th>
                <th>D</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="risk in model.anr.risks">
                <td>{{ risk.threat[_langField('label')] }}</td>
                <td>{{ risk.threatRate }}</td>
                <td>{{ risk.vulnerability[_langField('label')] }}</td>
                <td>{{ risk.comment }}</td>
                <td>{{ risk.vulnerabilityRate }}</td>
                <td>{{ risk.riskC }}</td>
                <td>{{ risk.riskI }}</td>
                <td>{{ risk.riskD }}</td>

                <td><span class="green-dot" ng-if="risk.t"></span></td>
                <td>{{ risk.cacheTargetedRisk }}</td>
            </tr>
            </tbody>
        </table>
    </md-tab>

    <md-tab label="{{ 'OP risks table' | translate }}">
        <p class="md-title md-padding" translate>{{ model.anr.risksop.length || 0 }} operational risk(s)</p>

        <div ng-if="!model.anr.risksop || !model.anr.risksop" class="md-padding">
            <em>{{ 'There are no operational risks for this risk analysis.' | translate }}</em>
        </div>

        <table class="md-html-table" ng-if="model.anr.risksop.length > 0">
            <thead>
            <tr>
                <th rowspan="3" translate>Risk description</th>
                <th colspan="7" translate>NET</th>
                <th rowspan="3" translate>Observation</th>
                <th rowspan="3">T</th>
                <th rowspan="3" translate>Target risk</th>
            </tr>

            <tr>
                <th rowspan="2" translate>Prob.</th>
                <th colspan="5" translate>Impact</th>
                <th rowspan="2" translate>Calculated risk</th>
            </tr>

            <tr>
                <th>R</th>
                <th>O</th>
                <th>L</th>
                <th>F</th>
                <th>P</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="risk in model.anr.risksop">
                <td>{{ risk.riskCacheDescription1 }}</td>
                <td>{{ risk.netProb }}</td>
                <td>{{ risk.netR }}</td>
                <td>{{ risk.netO }}</td>
                <td>{{ risk.netL }}</td>
                <td>{{ risk.netF }}</td>
                <td>{{ risk.netP }}</td>
                <td>{{ risk.cacheNetRisk }}</td>
                <td>{{ risk.comment }}</td>
                <td>-</td>
                <td>{{ risk.cacheTargetedRisk }}</td>
            </tr>
            </tbody>
        </table>

    </md-tab>
</md-tabs>