<md-card flex>
    <div class="md-padding-left md-padding-right" layout="column" layout-gt-md="row" layout-align="space-between center" flex-gt-md>
        <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" ng-if="OFFICE_MODE == 'BO'" ui-sref="main.kb_mgmt.info_risk({tab: 'objlibs'})"><md-icon>arrow_back</md-icon></md-button>
            <div flex ng-if="!model.anr">
                <md-progress-circular md-indeterminate="true"></md-progress-circular>
            </div>
            <div flex ng-if="model.anr">
                <h2 class="no-margin">
                    {{ model.anr[_langField('label')] }}
                </h2>
                <span>{{ model.anr[_langField('description')] }}</span>
            </div>

            <md-menu>
                <md-button ng-click="openAnrMenu($mdOpenMenu, $event);">
                    <md-tooltip md-direction="bottom">{{ 'Object actions' | translate }}</md-tooltip>
                    <md-icon class="material-icons md-48 size-auto" md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-if="OFFICE_MODE == 'FO'" ng-click="editAnrInfo($event)">
                            <md-icon class="md-light-theme material-icons">edit</md-icon><span class="black">{{ 'Edit risk analysis details' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-click="deleteAnr($event)" ng-if="OFFICE_MODE == 'FO'">
                            <md-icon class="md-light-theme material-icons">delete</md-icon><span class="black">{{ 'Delete risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-click="importInstance($event)" ng-if="OFFICE_MODE == 'FO'">
                            <md-icon class="md-light-theme material-icons">play_for_work</md-icon><span class="black">{{ 'Import analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-click="exportAnr($event)" ng-disabled="isSafari()">
                            <md-icon class="md-light-theme material-icons">call_made</md-icon><span class="black">{{ 'Export risk analysis' | translate }}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-card>
<md-tabs md-dynamic-height md-selected="ToolsAnrService.currentTab">
    <md-tab label="{{ 'General information' | translate }}">
        <div class="md-padding">
            <h4 translate>Calculation of risk / Thresholds - Information Risks</h4>
            <div layout="row">
                <table class="tbl-risk-calc">
                    <tbody>
                    <tr>
                        <th></th>
                        <th ng-repeat="v in info_risk_columns">{{v}}</th>
                    </tr>
                    <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)">
                        <th>{{i}}</th>
                        <td ng-class="{'green': v*i <= thresholds.thresholds.min, 'orange': v*i <= thresholds.thresholds.max && v*i > thresholds.thresholds.min, 'red': v*i > thresholds.thresholds.max}"
                            ng-repeat="v in info_risk_columns">{{v*i}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="anr-formula-container">
                    <div class="anr-formula">
                        <span class="green">R</span> = I x ( M x V )
                    </div>
                    <p class="md-caption">{{ 'R: Risk, I: Impact, M: Threat, V: Vulnerability' | translate }}</p>
                </div>
            </div>

            <h4 translate>Calculation of risk / Thresholds - Operational Risks</h4>

            <div layout="row" layout-align="start center">
                <p class="anr-table-sidetitle" translate>Impact</p>
                <table class="tbl-risk-calc">
                    <tbody>
                    <tr>
                        <td></td>
                        <td colspan="{{scales.threats.max - scales.threats.min + 1 }}" class="anr-table-toptitle" translate>Probability</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th ng-repeat="p in range(scales.threats.min, scales.threats.max)">{{p}}</th>
                    </tr>
                    <tr ng-repeat="i in range(scales.impacts.min, scales.impacts.max)">
                        <th>{{i}}</th>
                        <td ng-repeat="p in range(scales.threats.min, scales.threats.max)"
                            ng-class="{'green': p*i <= thresholds.rolf_thresholds.min, 'orange': p*i <= thresholds.rolf_thresholds.max && p*i > thresholds.rolf_thresholds.min, 'red': p*i > thresholds.rolf_thresholds.max}">{{i*p}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="anr-formula-container">
                    <div class="anr-formula">
                        <span class="green">R</span> = I x P
                    </div>

                    <p class="md-caption">{{ 'R: Risk, I: Impact, P: Probability' | translate }}</p>
                </div>
            </div>

        </div>
    </md-tab>

    <md-tab label="{{ 'Information risks' | translate }}">
        <ng-include src="'views/anr/_table_risks.html'"></ng-include>
    </md-tab>
    <md-tab label="{{ 'Operational risks' | translate }}">
        <ng-include src="'views/anr/_table_risks_op.html'"></ng-include>
    </md-tab>
</md-tabs>
