<div class="md-padding" ng-controller="AnrRisksPlanSheetCtrl">
    <md-button ng-click="backToList()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button>
    <p class="md-title" translate>Implementation of the recommendation {{ rec.code }} - {{ rec.description }}</p>

    <table class="md-html-table" editable callback="onTableEdited">
        <thead>
        <tr>
            <th translate>Asset</th>
            <th translate>Threat</th>
            <th translate>Vulnerability</th>
            <th translate>Observation before measure</th>
            <th translate>Current risk</th>
            <th translate>Observation after measure</th>
            <th translate>Target risk</th>
            <th translate>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr edit-model="risk" ng-repeat="risk in risks">
            <td>{{ risk.asset[_langField('label')] }}</td>
            <td>{{ risk.threat.code }} - {{ risk.threat[_langField('label')] }}</td>
            <td>{{ risk.vulnerability.code }} - {{ risk.vulnerability[_langField('label')] }}</td>
            <td>{{ risk.instanceRisk.comment }}</td>
            <td ng-class="{'green': risk.instanceRisk.cacheMaxRisk > 0 && risk.instanceRisk.cacheMaxRisk <= thresholds.thresholds.min, 'orange': risk.instanceRisk.cacheMaxRisk > thresholds.thresholds.min && risk.instanceRisk.cacheMaxRisk <= thresholds.thresholds.max, 'red': risk.instanceRisk.cacheMaxRisk > thresholds.thresholds.max}" class="tbl-risk-calc txtcenter">{{ risk.instanceRisk.cacheMaxRisk | dashnull }}</td>
            <td class="preserve-newlines" edit-field="commentAfter" edit-type="textarea"></td>
            <td ng-class="{'green': risk.instanceRisk.cacheTargetedRisk > 0 && risk.instanceRisk.cacheTargetedRisk <= thresholds.thresholds.min, 'orange': risk.instanceRisk.cacheTargetedRisk > thresholds.thresholds.min && risk.instanceRisk.cacheTargetedRisk <= thresholds.thresholds.max, 'red': risk.instanceRisk.cacheTargetedRisk > thresholds.thresholds.max}" class="tbl-risk-calc txtcenter">{{ risk.instanceRisk.cacheTargetedRisk | dashnull }}</td>
            <td><md-button class="md-icon-button" ng-click="validate(measure)"><md-icon>check_circle</md-icon></md-button></td>
        </tr>
        </tbody>
    </table>
</div>

