<div class="md-padding-left md-padding-right" layout="column" ng-controller="AnrSoaCtrl" ng-if="tabSoaDisplayed">
    <p class="md-title md-padding-left" translate>Statement of applicability</p>
    <md-tabs md-dynamic-height="true" ng-if="updatingReferentials">
      <md-tab id="tabRef" ng-repeat="ref in referentials.items.referentials" label="{{ _langField(ref,'label')}}"
              ng-click="selectReferential(ref.uuid)">

          <div layout="row" layout-align="start center" class="md-padding-double" style="height:40px">

              <form flex name="soa.filter.form">
                  <md-input-container class="md-block md-padding-left md-padding-right">
                      <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                      <input ng-model="soa_measures[ref.uuid].query.filter" ng-model-options="soa_measures[ref.uuid].filter.options">
                  </md-input-container>
              </form>

              <md-select ng-model="soa_measures[ref.uuid].selectedCategory" style="margin:0">
                <md-option ng-value="0">{{ 'All categories' | translate }}</md-option>
                <md-option ng-value="-1">{{ 'Uncategorized' | translate }}</md-option>
                <md-option ng-repeat="cat in Categories" ng-value="cat.id" >{{_langField(cat,'label')}}</md-option>
              </md-select>

              <md-menu>
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }}</md-tooltip>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="openMethodDeliverable(step, $event)">.docx</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="export()">.csv</md-button>
                  </md-menu-item>
              </md-menu>

              <md-button class="md-icon-button" ng-click="import($event, ref.uuid)" ng-if="!isAnrReadOnly && referentials.items.referentials.length > 1">
                  <md-icon class="md-primary">play_for_work</md-icon><md-tooltip>{{ 'Import from other referential' | translate }}</md-tooltip>
              </md-button>
          </div>

          <md-table-container flex>
          <table editable callback="onTableEdited" class="md-html-table soa-table" ng-if="updatingMeasures">
            <thead md-order="soa_measures[ref.uuid].query.order" md-on-reorder="updateSoaMeasures">
              <tr>
                <th style="width: 7%"><span translate>Category</span></th>
                <th style="width: 3%"><button class="buttonsoa" ng-click="sortByCode()"><span translate>Code</span></button></th>
                <th style="width: 14%"><span translate>Control</span></th>
                <th style="width: 8%"><span translate>Inclusion/Exclusion</span></th>
                <th style="width: 18%"><span translate>Remarks/Justification</span></th>
                <th style="width: 18%"><span translate>Evidences</span></th>
                <th style="width: 18%"><span translate>Actions</span></th>
                <th style="width: 5%"><span translate>Level of compliance</span></th>
              </tr>
            </thead>
            <tbody>
                <tr edit-model="soa" ng-repeat="soa in soa_measures[ref.uuid].items.soaMeasures">
                  <td style="max-width: 300px" class="txtleft">{{_langField(soa.measure.category,'label')}}</td>
                  <td class="txtcenter"><md-button ng-disabled="soa.measure.amvs.length == 0 && soa.measure.rolfRisks.length == 0" class="md-primary" ng-click="goToSoaSheet(soa.measure)">{{ soa.measure.code }}</md-button></td>
                  <td class="txtleft">{{_langField(soa.measure,'label')}}</td>
                  <td class="btn">
                    <button type="button" ng-model="soa.EX"  ng-click="onTableEdited(soa, 'EX')"
                      ng-disabled="soa.LR || soa.CO || soa.BR || soa.BP|| soa.RRA || isAnrReadOnly"
                      ng-class="{'bouton-true': soa.EX=='1' ,'bouton-false':soa.EX=='0'  }">
                      {{ 'EX' | translate }}
                      <md-tooltip>{{ 'Excluded' | translate }}</md-tooltip>
                    </button>
                    <button type="button" ng-model="soa.LR"  ng-click="onTableEdited(soa, 'LR')"
                      ng-disabled="soa.EX || isAnrReadOnly"
                      ng-class="{'bouton-true': soa.LR=='1' ,'bouton-false':soa.LR=='0'  }">
                      {{ 'LR' | translate }}
                      <md-tooltip>{{ 'Legal requirements' | translate }}</md-tooltip>
                    </button>
                    <button type="button" ng-model="soa.CO" ng-click="onTableEdited(soa, 'CO')"
                      ng-disabled="soa.EX || isAnrReadOnly"
                      ng-class="{'bouton-true': soa.CO=='1' ,'bouton-false':soa.CO=='0'  }">
                      {{ 'CO' | translate }}
                      <md-tooltip>{{ 'Contractual obligations' | translate }}</md-tooltip>
                    </button>
                    <button type="button" ng-model="soa.BR" ng-click="onTableEdited(soa, 'BR')"
                      ng-disabled="soa.EX || isAnrReadOnly"
                      ng-class="{'bouton-true': soa.BR=='1' ,'bouton-false':soa.BR=='0'  }">
                      {{ 'BR' | translate }}
                      <md-tooltip>{{ 'Business requirements' | translate }}</md-tooltip>
                    </button>
                    <button type="button" ng-model="soa.BP" ng-click="onTableEdited(soa, 'BP')"
                     ng-disabled="soa.EX || isAnrReadOnly"
                     ng-class="{'bouton-true': soa.BP=='1' ,'bouton-false':soa.BP=='0'  }">
                     {{ 'BP' | translate }}
                      <md-tooltip>{{ 'Best practices' | translate }}</md-tooltip>
                    </button>
                    <button type="button" ng-model="soa.RRA" ng-click="onTableEdited(soa, 'RRA')"
                      ng-disabled="soa.EX || isAnrReadOnly"
                      ng-class="{'bouton-true': soa.RRA=='1' ,'bouton-false':soa.RRA=='0'  }">
                      {{ 'RRA' | translate }}
                      <md-tooltip>{{ 'Results of risk assessment' | translate }}</md-tooltip>
                    </button>
                  </td>
                  <td  edit-field="remarks" edit-readonly="isAnrReadOnly" class="preserve-newlines"  edit-type="textarea"></td>
                  <td  edit-field="evidences" edit-readonly="isAnrReadOnly" class="preserve-newlines" edit-type="textarea"></td>
                  <td  edit-field="actions"  edit-readonly="isAnrReadOnly" class="preserve-newlines" edit-type="textarea"></td>
                  <td
                    class="tbl-soa"
                    ng-class="{
                        'green' : soa.compliance == '5' && soa.EX==0,
                        'orange' : (soa.compliance == '4' || soa.compliance == '3') && soa.EX==0,
                        'red' : (soa.compliance == '2' || soa.compliance == '1') && soa.EX==0,
                        'gray': soa.EX==1
                    }">
                    <md-input-container ng-if="soa.EX=='0'" >
                        <md-select ng-disabled="isAnrReadOnly" ng-model="soa.compliance" ng-change="onTableEdited(soa, 'compliance') "  style="width: 110px;">
                            <md-option value="0">{{ 'Non-existent' | translate }}</md-option>
                            <md-option value="1">{{ 'Initial' | translate }}</md-option>
                            <md-option value="2">{{ 'Managed' | translate }}</md-option>
                            <md-option value="3">{{ 'Defined' | translate }}</md-option>
                            <md-option value="4">{{ 'Quantitatively Managed' | translate }}</md-option>
                            <md-option value="5">{{ 'Optimized' | translate }}</md-option>
                        </md-select>
                    </md-input-container>
                  </td>
                </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="soa_measures[ref.uuid].query.limit" md-limit-options="[20, 30, 50, 100]" md-page="soa_measures[ref.uuid].query.page"
                             md-total="{{soa_measures[ref.uuid].items.count}}" md-on-paginate="updateSoaMeasures" md-page-select md-label="{{paginationLabels}}">
        </md-table-pagination>
      </md-tab>
  </md-tabs>
</div>
