<div class="md-padding" ng-cloak layout="column" ng-controller="AnrObjectInstanceCtrl">
    <md-card flex>
        <div class="md-padding-left md-padding-right" layout="column" layout-gt-md="row" layout-align="space-between center">
            <div layout="row" layout-align="start center" class="border-right mw250p">
                <div flex ng-if="instance" class="active-inst" ng-class="{'forceBreakWord': !_langField(instance,'name').includes(' ')}">
                    <h2 class="no-margin">
                        <md-icon ng-if="instance.object.scope == 2" style="color: #F57C00">language</md-icon>
                        {{ _langField(instance,'name') }}
                    </h2>

                    <span>{{ _langField(instance,'label') }}</span>
                </div>

                <md-menu>
                    <md-button ng-click="openAnrToolsMenu($mdMenu.open, $event);" class="min-size-auto">
                        <md-tooltip md-direction="bottom">{{ 'Asset actions' | translate }}</md-tooltip>
                        <md-icon class="material-icons md-48 size-auto" md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="OFFICE_MODE == 'FO'?4:3">
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="editInstanceDetails($event)" ng-disabled="isAnrReadOnly">
                                <md-icon class="md-light-theme material-icons">edit</md-icon><span class="black">{{ 'Edit impacts' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="OFFICE_MODE == 'FO'">
                            <md-button class="md-primary" ng-disabled="isAnrReadOnly" ng-click="importInstance($event, instance.id)">
                                <md-icon class="md-light-theme material-icons">play_for_work</md-icon><span class="black">{{ 'Import analysis' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="OFFICE_MODE == 'FO'">
                            <md-button class="md-primary" ng-click="exportInstance($event)">
                                <md-icon class="md-light-theme material-icons">call_made</md-icon><span class="black">{{ 'Export analysis' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="OFFICE_MODE == 'FO'">
                            <md-button class="md-primary" ng-click="contextInstance($event)">
                                <md-icon class="md-light-theme material-icons">info</md-icon><span class="black">{{ 'Asset context' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="showObjectInLibrary(instance.object.uuid);">
                                <md-icon class="md-light-theme material-icons">folder_open</md-icon><span class="black">{{ 'See asset in the library' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary md-warn" ng-click="detachInstance($event)" ng-disabled="isAnrReadOnly">
                                <md-icon class="md-light-theme material-icons">content_cut</md-icon><span class="black">{{ 'Detach' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div flex="grow" layout="row" layout-align="end top" class="hpad-10 bigger">
                <div flex="33">
                    <span class="bold" ng-class="{'txtright': $mdMedia('gt-md')}"><span translate>Confidentiality</span> :</span>
                    <span>
                        <md-tooltip class="tooltip-object-header" ng-if="instance.c >= 0">
                          <span ng-if="instance.asset.type == 1" ng-bind-html="getEveryScaleComm(instance, 'c')"></span>
                          <span ng-if="instance.asset.type != 1">{{scaleCommCache[1][instance.c]}}</span>
                        </md-tooltip>
                        {{ instance.c < 0 ? ('Inherited' | translate) : instance.c }}
                        <span ng-if="instance.ch == 1 && instance.c >= 0">(<span translate>inherited</span>)</span>
                    </span>
                </div>

                <div flex="33">
                    <span class="bold" ng-class="{'txtright': $mdMedia('gt-md')}"><span translate>Integrity</span> :</span>
                    <span>
                        <md-tooltip class="tooltip-object-header" ng-if="instance.i >= 0">
                          <span ng-if="instance.asset.type == 1" ng-bind-html="getEveryScaleComm(instance, 'i')"></span>
                          <span ng-if="instance.asset.type != 1">{{scaleCommCache[2][instance.i]}}</span>
                        </md-tooltip>
                        {{ instance.i < 0 ? ('Inherited' | translate) : instance.i }}
                        <span ng-if="instance.ih == 1 && instance.i >= 0">(<span translate>inherited</span>)</span>
                    </span>
                </div>

                <div flex="33">
                    <span class="bold" ng-class="{'txtright': $mdMedia('gt-md')}"><span translate>Availability</span> :</span>
                    <span>
                        <md-tooltip class="tooltip-object-header" ng-if="instance.d >= 0">
                          <span ng-if="instance.asset.type == 1" ng-bind-html="getEveryScaleComm(instance, 'd')"></span>
                          <span ng-if="instance.asset.type != 1">{{scaleCommCache[3][instance.d]}}</span>
                        </md-tooltip>
                        {{ instance.d < 0 ? ('Inherited' | translate) : instance.d }}
                        <span ng-if="instance.dh == 1 && instance.d >= 0">(<span translate>inherited</span>)</span>
                    </span>
                </div>
            </div>
        </div>
    </md-card>

    <md-card ng-if="instance_updating">
        <md-card-content layout="row" layout-align="center center" layout-padding>
            <md-progress-circular></md-progress-circular>
            <p translate>Updating risks...</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-tabs md-dynamic-height md-border-bottom md-selected="ToolsAnrService.currentTab" ng-if="instance.asset.type == 1">
            <md-tab label="{{ 'Information risks' | translate }}">
                <ng-include src="'views/anr/_table_risks.html'"></ng-include>
            </md-tab>
            <md-tab label="{{ 'Operational risks' | translate }}">
                <ng-include src="'views/anr/_table_risks_op.html'"></ng-include>
            </md-tab>
        </md-tabs>
        <ng-include src="'views/anr/_table_risks.html'" ng-if="instance.asset.type != 1"></ng-include>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>{{ node.children && node.children.length > 0 ? 'add': 'note' }}</md-icon> {{ _langField(node,'name') }}</a>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>
