<div flex ng-controller="AnrLayoutCtrl" md-theme="light">
    <div layout="column" layout-align="center center" ng-if="!model" flex class="md-padding">
        <md-progress-circular md-indeterminate="true"></md-progress-circular>
    </div>

    <div layout="column" ng-if="model" md-theme="light" class="md-padding-left md-padding-right">
        <div layout="row" layout-align="start center">
            <h2 style="margin-right: 8px">{{ ::model[_langField('label')] }}</h2>

            <div ng-if="OFFICE_MODE == 'FO'" layout="row" layout-align="start center" ng-repeat="(idx, step) in methodProgress" flex>
                <div class="monarc-wizard step-bullet {{ isMethodStepComplete(step) ? step.color : '' }} method-menu-step-{{::(idx+1)}}" ng-click="showMethodBox(idx+1, step, $event)">
                    <div flex class="txtcenter">{{ ::(idx+1) }}</div>
                </div>

                <md-progress-linear class="{{ ::step.color }}" md-mode="determinate" ng-value="getStepProgress(step) * 100 / step.steps.length"></md-progress-linear>
            </div>

            <div ng-if="OFFICE_MODE == 'FO'" class="monarc-wizard step-bullet white" layout="row" layout-align="center center">
                <img ng-src="img/monarc.png" style="width: 80%" />
            </div>
        </div>

        <md-card>
            <div ng-include="'views/anr/_anr.infosnapshot.html'"></div>
            <md-menu md-position-mode="target-right target">
                <md-button class="anr-tools-button" title="{{ 'Tools' | translate }}" ng-show="OFFICE_MODE == 'FO'" ng-click="openAnrToolsMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="display.anrSelectedTabIndex = 0" ui-sref="main.project.anr({modelId: model.anr.id})">{{ 'Risk analysis' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="display.anrSelectedTabIndex = 1">{{ 'Evaluation scales' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="display.anrSelectedTabIndex = 2">{{ 'Knowledge base' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="openInterviewTools($event)">{{ 'Interviews table' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="openSnapshotTools($event)">{{ 'Snapshots' | translate }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-tabs md-border-bottom="true" md-selected="display.anrSelectedTabIndex" md-dynamic-height id="anrMainTab">
                <md-tab label="{{ 'Risk analysis' | translate }}">
                    <div ng-include="'views/anr/_anr.riskanalysis.html'"></div>
                </md-tab>

                <md-tab label="{{ 'Evaluation scales' | translate }}">
                    <div ng-include="'views/anr/_anr.evalscales.html'"></div>
                </md-tab>

                <md-tab label="{{ 'Knowledge base' | translate }}" ng-if="OFFICE_MODE == 'FO'">
                    <div ng-include="'views/anr/_anr.kbmgmt.html'"></div>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</div>

<script type="text/ng-template" id="tree_node_renderer.html">
    <div ui-tree-handle layout="row" layout-align="start center">
        <span class="tree-toggler" ng-click="toggleItemCollapsed(node)" ng-if="node.type == 'libcat' || node.__children__.length > 0" ng-disabled="node.__children__.length == 0" data-nodrag>
            {{ (node.__collapsed__ || node.__children__.length == 0) ? '+' : '-' }}
        </span>

        <div class="md-tree-item-spacer" ng-if="!(node.type == 'libcat' || node.__children__.length > 0)"></div>

        <md-icon ng-if="node.scope == 2" class="md-tree-global-icon">language</md-icon>

        <p flex class="md-tree-link" ng-click="toggleItemCollapsed(node)" ng-if="node.type == 'libcat'"><strong>{{ ::node[_langField('label')] }}</strong></p>
        <p flex class="md-tree-link" ng-class="{'active-obj': node.type == 'lib' && node.id == anr_selected_object_id}" ui-sref="main.project.anr.object({objectId: node.id})" ng-if="node.type == 'lib' && OFFICE_MODE == 'FO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-inst': node.type == 'inst' && node.id == anr_selected_instance_id}" ui-sref="main.project.anr.instance({instId: node.id})" ng-if=" ! node.disableclick && node.type == 'inst' && OFFICE_MODE == 'FO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-obj': node.type == 'lib' && node.id == anr_selected_object_id}" ui-sref="main.kb_mgmt.models.details.object({objectId: node.id})" ng-if="node.type == 'lib' && OFFICE_MODE == 'BO'">{{ ::node[_langField('name')] }}</p>
        <p flex class="md-tree-link" ng-class="{'active-inst': node.type == 'inst' && node.id == anr_selected_instance_id}" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})" ng-if=" ! node.disableclick && node.type == 'inst' && OFFICE_MODE == 'BO'">{{ ::node[_langField('name')] }}</p>
    </div>

    <ol class="no-list-style" ui-tree-nodes="" ng-model="node.__children__" ng-show="!node.__collapsed__">
        <li ng-repeat="node in node.__children__" ui-tree-node data-collapsed="{{node.__collapsed__}}" ng-include="'tree_node_renderer.html'" ng-show="visible(node)"></li>
    </ol>
</script>

<script type="text/ng-template" id="monarc-method.tmpl.html">
    <div layout="column" class="md-padding-double md-monarc-method-box">
        <h2>{{ ::step.label }}</h2>

        <div layout="row" ng-repeat="subStep in step.steps" layout-align="start center">
            <md-button class="md-icon-button" ng-click="setMethodStepStatus(subStep.progressField, subStep, subStep.done)"><md-icon>{{ subStep.done ? "check_box" : "check_box_outline_blank" }}</md-icon></md-button>
            <div class="pointer" ng-click="subStep.action(subStep)">{{ ::subStep.label }}</div>
        </div>

        <a href="javascript:;" class="bold" ng-click="openMethodDeliverable(step)" ng-if="step.deliverable">{{ 'Deliverable:' | translate }} {{ ::step.deliverable }}</a>
    </div>
</script>
