<div class="md-padding-left md-padding-right" layout="column" ng-controller="AnrRopaCtrl" ng-if="tabRopaDisplayed">
    <p class="md-title md-padding-left" translate>Records of processing activities</p>
    <md-tabs md-dynamic-height="true" md-selected="recordTabSelected" ng-if="!(updatingRecords)" >
        <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-disabled="selectingRecord || updatingRecords" ng-click="createNewRecord($event)">
            <md-tooltip md-direction="left">
                {{ 'Add a record' | translate }}
            </md-tooltip>
            <md-icon class="md-icon-button md-primary">add_to_photos</md-icon>
        </md-button>
        <md-menu>
            <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                <md-tooltip md-direction="left">
                    {{ 'Export all the records in one file' | translate }}
                </md-tooltip>
                <md-icon class="md-warn">file_download</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="openMethodDeliverable(step, $event)">.docx</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="jsonExportAll()">.json</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-tab ng-repeat="record in records.items.records" label="{{ record.label }}"
            md-on-select="selectRecord(record.id, $index)">

            <div layout="row" layout-align="end center" class="md-padding-double" style="height:40px">
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                        <md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }}</md-tooltip>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                          <md-button ng-click="openMethodDeliverable(step, $event)">.docx</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="jsonExport()">.json</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="export()">.csv</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button class="md-icon-button md-warn" ng-if="!isAnrReadOnly && records.items.records.length > 0" ng-click="deleteRecord($event, currentRecord.id)">
                    <md-tooltip md-direction="left">
                        {{ 'Delete record' | translate }}
                    </md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
            <div>
                <p class="md-title md-padding-left" translate>Description of processing activities</p>
            </div>
            <div>
                <md-table-container flex>
                    <table editable callback="onRecordTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody edit-model="record">
                            <tr>
                                <td translate> <b> Name </b> </td>
                                <td colspan="5" edit-readonly="isAnrReadOnly" edit-field="label" class="txtcenter"></td>
                            </tr>
                            <tr>
                                <td translate> <b> Purpose(s) </b> </td>
                                <td colspan="5" class="txtcenter">
                                    <div layout="row" layout-align="start center">
                                        <md-chips
                                        md-on-remove="onRecordTableEdited(record)"  md-on-add="onRecordTableEdited(record)"
                                        class="chips-horizontal" ng-model="record.purposes" md-require-match="true" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td translate style="width:1%; white-space:nowrap"> <b> Creation date </b> </td>
                                <td class="txtcenter" style="width:1%; white-space:nowrap"> {{ record.createdAt.date.substring(0,10) }}</td>
                                <td translate style="width:1%; white-space:nowrap"> <b> Update date </b> </td>
                                <td class="txtcenter" style="width:1%; white-space:nowrap"> {{ record.updatedAt.date.substring(0,10) }}</td>
                                <td translate style="width:1%; white-space:nowrap"> <b> Security measures </b> </td>
                                <td edit-readonly="isAnrReadOnly" edit-field="secMeasures" class="txtcenter"></td>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <br/>
            <div>
                <p class="md-title md-padding-left" translate>Actors</p>
            </div>
            <div>
                <md-table-container flex>
                    <table md-table>
                        <tbody md-body>
                            <tr md-row>
                                <th md-head translate> Actor </th>
                                <th md-head translate> Name </th>
                                <th md-head translate> Contact </th>
                            </tr>
                            <tr md-row>
                                <td md-cell style="width:1%; white-space:nowrap" translate> <b> Processing activity controller </b> </td>
                                <td md-cell>
                                    <md-autocomplete
                                        md-selected-item="selectedItemController"
                                        md-search-text="record.controller.label"
                                        md-items="item in queryRecordActorSearch(record.controller.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemController, 'controller')"
                                        md-search-text-change="actorSearchTextChanged()"
                                        ng-blur="updateActorLabel(record, record.controller, 'controller')"
                                        placeholder="{{ 'Processing activity controller' | translate }}"
                                        ng-init="initController(record)">
                                        <md-item-template>
                                            <span md-highlight-text="record.controller.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal"
                                            md-on-remove="onActorContactEdit(record.controller)"
                                            md-on-add="onActorContactEdit(record.controller)"
                                            ng-model="record.controller.contact" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row>
                                <td md-cell translate> <b> Data protection officer </b> </td>
                                <td md-cell>
                                    <md-autocomplete
                                        md-selected-item="selectedItemDpo"
                                        md-search-text="record.dpo.label"
                                        md-items="item in queryRecordActorSearch(record.dpo.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemDpo, 'dpo')"
                                        md-search-text-change="actorSearchTextChanged()"
                                        ng-blur="updateActorLabel(record, record.dpo, 'dpo')"
                                        placeholder="{{ 'Data protection officer' | translate }}"
                                        ng-init="initDpo(record)">
                                        <md-item-template>
                                            <span md-highlight-text="record.dpo.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal"
                                            md-on-remove="onActorContactEdit(record.dpo)"
                                            md-on-add="onActorContactEdit(record.dpo)"
                                            ng-model="record.dpo.contact" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row>
                                <td md-cell translate> <b> Representative </b> </td>
                                <td md-cell>
                                    <md-autocomplete
                                        md-selected-item="selectedItemRepresentative"
                                        md-search-text="record.representative.label"
                                        md-items="item in queryRecordActorSearch(record.representative.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="actorItemSelected(record, selectedItemRepresentative, 'representative')"
                                        md-search-text-change="actorSearchTextChanged()"
                                        ng-blur="updateActorLabel(record, record.representative, 'representative')"
                                        placeholder="{{ 'Representative' | translate }}"
                                        ng-init="initRepresentative(record)">
                                        <md-item-template>
                                            <span md-highlight-text="record.representative.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal"
                                            md-on-remove="onActorContactEdit(record.representative)"
                                            md-on-add="onActorContactEdit(record.representative)"
                                            ng-model="record.representative.contact" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row>
                                <td md-cell translate> <b> Joint controllers </b> </td>
                                <td md-cell>
                                    <md-autocomplete ng-if="record.jointControllers.length > 0"
                                        md-selected-item="selectedJointController"
                                        md-search-text="record.jointContollers[0].label"
                                        md-items="item in queryRecordActorSearch(record.jointContollers[0].label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="jointControllerItemSelected(recordId, record.jointContollers[0].label, record.jointControllers, 0)"
                                        md-search-text-change="actorSearchTextChanged()"
                                        ng-blur="updateJointControllerLabel(record, record.jointContollers[0], 0)"
                                        placeholder="{{ 'Joint controller' | translate }}">
                                        <md-item-template>
                                            <span md-highlight-text="record.jointContollers[0].label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal"
                                            md-on-remove="onActorContactEdit(record.jointController[0])"
                                            md-on-add="onActorContactEdit(record.jointController[0])"
                                            ng-model="record.jointController[0].contact" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row ng-repeat="jc in record.jointControllers.slice(1)">
                                <td md-cell translate> </td>
                                <td md-cell>
                                    <md-autocomplete
                                        md-selected-item="selectedJointController"
                                        md-search-text="searchTextJointController"
                                        md-items="item in queryRecordActorSearch(jc.label)"
                                        md-item-text="item['label']"
                                        md-min-length="0"
                                        md-no-cache="true"
                                        md-selected-item-change="jointControllerItemSelected(recordId, selectedJointController, record,jointControllers, $index+1)"
                                        md-search-text-change="actorSearchTextChanged()"
                                        ng-blur="updateJointControllerLabel(record, jc, $index+1)"
                                        placeholder="{{ 'Joint controller' | translate }}">
                                        <md-item-template>
                                            <span md-highlight-text="jc.label" md-highlight-flags="^i">{{item['label']}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </td>
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal"
                                            md-on-remove="onActorContactEdit(record.jointController[$index+1])"
                                            md-on-add="onActorContactEdit(record.jointController[$index+1])"
                                            ng-model="record.jointController[$index+1].contact" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div>
                <p class="md-title md-padding-left" translate>Categories of personal data and data subjects</p>
            </div>
            <div>
                <md-table-container flex>
                    <table editable callback="onPersonalDataTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody>
                            <tr>
                                <th translate> Data subjects </th>
                                <th translate> Categories of personal data </th>
                                <th translate> Description </th>
                                <th translate> Duration of data retention </th>
                            </tr>
                            <tr ng-repeat="personalData in currentRecord.personalData" edit-localmodel="personalData">
                                <td class="txtcenter"></td>
                                <td class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="description" class="txtcenter"></td>
                                <td class="txtcenter">
                                    <input type="number" edit-readonly="isAnrReadOnly" edit-field="retentionPeriod">
                                    <md-select edit-readonly="isAnrReadOnly" edit-field="retentionPeriodMode">
                                        <md-option ng-value="0" translate>{{ day(s) }}</md-option>
                                        <md-option ng-value="1" translate>{{ month(s) }}</md-option>
                                        <md-option ng-value="2" translate>{{ year(s) }}</md-option>
                                    </md-select>
                                    <textarea edit-readonly="isAnrReadOnly" edit-field="retentionPeriodDescription"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div>
                <p class="md-title md-padding-left" translate> Recipients/Transfers </p>
            </div>
            <div>
                <md-subheader class="md-padding-left" translate> Recipients </p>
            </div>
            <div>
                <md-table-container flex>
                    <table editable callback="onRecipientTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody>
                            <tr>
                                <th translate> Recipient </th>
                                <th translate> Description </th>
                            </tr>
                            <tr ng-repeat="recipient in currentRecord.recipients" edit-localmodel="recipient">
                                <td edit-readonly="isAnrReadOnly" edit-field="label" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="description" class="txtcenter"></td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div>
                <md-subheader class="md-padding-left" translate> International transfers </p>
            </div>
            <div>
                <md-table-container flex>
                    <table editable callback="onTransferTableEdited" class="md-html-table md-html-table-grey big-border-all" >
                        <tbody>
                            <tr>
                                <th translate> Organisation </th>
                                <th translate> Description </th>
                                <th translate> Country </th>
                                <th translate> Documents </th>
                            </tr>
                            <tr ng-repeat="internationalTransfer in currentRecord.internationalTransfers" edit-localmodel="internationalTransfer">
                                <td edit-readonly="isAnrReadOnly" edit-field="organisation" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="description" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="country" class="txtcenter"></td>
                                <td edit-readonly="isAnrReadOnly" edit-field="country" class="txtcenter">
                                    <div layout="row" layout-align="start center">
                                        <md-chips class="chips-horizontal" edit-readonly="isAnrReadOnly" edit-field="documents" md-autocomplete-snap md-require-match="true" flex>
                                            <input type="text" style="width:100%">
                                        </md-chips>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </md-tab>
    </md-tabs>
</div>
