<head>
</head>
<div class="md-padding" ng-controller="AnrSoaCtrl">
    <p class="md-title" translate>Statement of applicability</p>

    <div layout="row" layout-align="start center" class="md-padding" >
        <form flex >
            <md-input-container class="md-block md-padding-left md-padding-right">
                <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                <input ng-model="searchText" >
            </md-input-container>
        </form>
        <md-button class="md-icon-button" ng-if="!isAnrReadOnly" ng-click="export()">
            <md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip>
        </md-button>
    </div>

    <table class="md-html-table" editable callback="onTableEdited">
        <!-- <thead md-head md-order="soas.query.order" md-on-reorder=""> -->
      <thead>

            <tr>

                <th translate>Category</th>
                <th translate>Ref.</th>
                <th translate>Control</th>
                <th translate>inclusion/exclusion</th>
                <th translate>Remarks</th>
                <th translate>Evidences</th>
                <th translate>Actions</th>
                <th translate>level of compliance</th>
            </tr>
        </thead>
        <tbody ng-repeat="cat in Categories| filter:searchText" >
          <!-- .slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText -->

            <tr edit-model="soa" ng-repeat="soa in soas  " ng-if="soa.category.id==cat.id">
               <td  rowspan="{{Category[cat.id-1]}}" style="max-width: 300px" class="txtleft" ng-if="$index == CategoryIndex[cat.id-1]">{{_langField(cat,'label')}}</td>

                <td  class="txtcenter" > <md-button class="md-primary" ui-sref="main.project.anr.soa.sheet({modelId: model.anr.id, soaId: soa.id})">{{ soa.reference }}</md-button></td>
                <td  class="txtleft">{{ soa.control }}</td>

                <td class="btn">
                <button type="button" ng-model="soa.EX"  ng-click="onTableEdited(soa, 'EX') " ng-disabled="soa.LR || soa.CO || soa.BR || soa.BP|| soa.RRA " ng-class="{'bouton-true': soa.EX=='1' ,'bouton-false':soa.EX=='0'  }">{{ 'EX' | translate }} <md-tooltip>{{ 'excluded' | translate }}</md-tooltip></button>
                <button type="button" ng-model="soa.LR"  ng-click="onTableEdited(soa, 'LR')" ng-disabled="soa.EX" ng-class="{'bouton-true': soa.LR=='1' ,'bouton-false':soa.LR=='0'  }">{{ 'LR' | translate }}<md-tooltip>{{ 'legal requirements' | translate }}</md-tooltip></button>
                <button type="button" ng-model="soa.CO"  ng-click="onTableEdited(soa, 'CO')" ng-disabled="soa.EX" ng-class="{'bouton-true': soa.CO=='1' ,'bouton-false':soa.CO=='0'  }">{{ 'CO' | translate }}<md-tooltip>{{ 'contractual obligations' | translate }}</md-tooltip></button>
                <button type="button" ng-model="soa.BR"  ng-click="onTableEdited(soa, 'BR')" ng-disabled="soa.EX" ng-class="{'bouton-true': soa.BR=='1' ,'bouton-false':soa.BR=='0'  }">{{ 'BR' | translate }}<md-tooltip>{{ 'business requirements/adopted' | translate }}</md-tooltip></button>
                <button type="button" ng-model="soa.BP"  ng-click="onTableEdited(soa, 'BP')" ng-disabled="soa.EX" ng-class="{'bouton-true': soa.BP=='1' ,'bouton-false':soa.BP=='0'  }">{{ 'BP' | translate }}<md-tooltip>{{ 'best practices' | translate }}</md-tooltip></button>
                <button type="button" ng-model="soa.RRA" ng-click="onTableEdited(soa, 'RRA')" ng-disabled="soa.EX" ng-class="{'bouton-true': soa.RRA=='1' ,'bouton-false':soa.RRA=='0'  }">{{ 'RRA' | translate }}<md-tooltip>{{ 'results of risk assessment' | translate }}</md-tooltip></button>
                <td edit-field="remarks" class="preserve-newlines"  edit-type="textarea"></td>


                </td>
                <td edit-field="evidences" edit-type="textarea"></td>
                <td edit-field="actions"  edit-type="textarea"></td>
                <td class="tbl-soa"
                 ng-class="{'greeen':  soa.compliance == '5', 'green': soa.compliance == '4' ,'yellow': soa.compliance == '3' ,'orange': soa.compliance == '2' , 'red': soa.compliance == '1'  }"
                 >
                  <md-input-container>
                    <md-select ng-model="soa.compliance" ng-change="onTableEdited(soa, 'compliance') ">
                        <md-option value="1">{{ 'Initial' | translate }}</md-option>
                        <md-option value="2">{{ 'Developing' | translate }}</md-option>
                        <md-option value="3">{{ 'Defined' | translate }}</md-option>
                        <md-option value="4">{{ 'Managed' | translate }}</md-option>
                        <md-option value="5">{{ 'Optimized' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                </td>
            </tr>
        </tbody>
    </table>


    <div layout="row" layout-align="end center" class="md-table-pagination">
        <span flex></span>
        <div class="page-select">
            <div class="label" translate>Page:</div>
            <md-select  class="md-table-select" md-container-class="md-pagination-select"   ng-model="currentPage" ng-change="setPage(currentPage)" aria-label="Page">
                <md-content>
                    <md-option ng-repeat="i in range(1, ceil(totalItems / itemsPerPage))" ng-default="1" ng-value="i">{{i}}</md-option>
                </md-content>
            </md-select>
        </div>

        <div class="limit-select">
            <div class="label" translate>Rows per page:</div>

            <md-select class="md-table-select" md-container-class="md-pagination-select"   ng-model="viewby" ng-change="setItemsPerPage(viewby)" aria-label="Rows" >
                <md-option ng-repeat="option in [10, 20, 30, 50, 100]"  ng-value="option.value ? $pagination.eval(option.value) : option">{{::option.label ? option.label : option}}</md-option>
            </md-select>
        </div>

        <div class="buttons">
            <div class="label">{{ (currentPage - 1) * viewby + 1 }} - {{ totalItems < currentPage * viewby ? totalItems : currentPage * viewby }} {{ 'of' | translate }} {{ totalItems }}</div>

            <md-button class="md-icon-button" type="button" ng-disabled="currentPage <= 1" ng-click="currentPage = currentPage - 1; (pageChanged())" aria-label="Previous">
                <md-icon md-svg-icon="navigate-before.svg"></md-icon>
            </md-button>

            <md-button class="md-icon-button" type="button" ng-disabled="currentPage >= ceil(totalItems / viewby)" ng-click="currentPage = currentPage + 1; pageChanged()" aria-label="Next">
                <md-icon md-svg-icon="navigate-next.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>
