<div class="md-padding-left md-padding-right" ng-controller="ClientDashboardCtrl" md-theme="light" ng-if="tabDashboardDisplayed">
    <md-tabs md-dynamic-height="true" md-border-bottom="true" md-selected="dashboard.currentTabIndex" ng-init="updateGraphs()">
        <div style="margin-right: 50px" ng-if="loadingPptx">
            <md-progress-circular md-indeterminate="true"></md-progress-circular>
        </div>
        <md-menu style="margin-right: 50px" ng-if="!loadingPptx">
            <md-button class="md-icon-button" ng-click="$mdMenu.open()" ng-disabled="!dashboard.riskInfo || !loadCompliance" >
                <md-icon class="md-warn" >file_download</md-icon><md-tooltip>{{ 'Export' | translate }}</md-tooltip>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="generatePptxSildes()">.pptx</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="generateXlsxData()">.xlsx</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <d3 id="loadPptx" class="generateChartPptx"></d3>
        <md-tab label="{{ 'Risks' | translate }}" md-on-select="selectGraphRisks()">
            <div layout="row" layout-align="space-around">
                <div layout="column" flex="35">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <p class="md-title" translate>Current risks</p>
                    <div layout="row" layout-align="start center">
                        <md-input-container id="riskTab">
                            <label translate>Display current risks by</label>
                            <md-select ng-model="displayCurrentRisksBy">
                                <md-option value="level" selected>{{ 'Level' | translate }}</md-option>
                                <md-option value="asset" >{{ 'All assets' | translate }}</md-option>
                                <md-option value="parentAsset" >{{ 'Parent asset' | translate }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container id="riskTab" ng-show ="displayCurrentRisksBy=='level'">
                            <label translate >Chart type</label>
                            <md-select ng-model="currentRisksOptions" >
                                <md-option value="vertical" selected>{{ 'Discrete Bar Chart' | translate }}</md-option>
                                <md-option value="donut" >{{ 'Donut Chart' | translate }}</md-option>
                            </md-select >
                        </md-input-container>

                        <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphCurrentRisks', 'currentRisksChartBy' + displayCurrentRisksBy)">
                            <md-icon class="md-warn">file_download</md-icon>
                        </md-button>

                        <md-button class="md-icon-button" title="{{ 'Go back' | translate }}" ng-show="dashboard.currentRisksParentAssetMemoryTab.length>1 && displayCurrentRisksBy=='parentAsset'" ng-click="goBackCurrentRisksParentAsset()">
                            <md-icon class="md-primary">arrow_back</md-icon>
                        </md-button>
                    </div>

                    <div layout='row' ng-show="displayCurrentRisksBy=='parentAsset'">
                        <md-button class="added-button" ng-click="breadcrumbGoBackCurrentRisksParentAsset(0)">
                            {{dashboard.currentRisksBreadcrumb[(dashboard.currentRisksBreadcrumb.length < 4) ? 0 : dashboard.currentRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.currentRisksBreadcrumb.length > 1" class="added-button">></p>
                        <md-button class="added-button" ng-show="dashboard.currentRisksBreadcrumb.length > 1" ng-click="breadcrumbGoBackCurrentRisksParentAsset(1)">
                            {{dashboard.currentRisksBreadcrumb[(dashboard.currentRisksBreadcrumb.length < 4) ? 1 : 1 + dashboard.currentRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.currentRisksBreadcrumb.length > 2" class="added-button">></p>
                        <md-button class="added-button" ng-show="dashboard.currentRisksBreadcrumb.length > 2" ng-click="breadcrumbGoBackCurrentRisksParentAsset(2)">
                            {{dashboard.currentRisksBreadcrumb[(dashboard.currentRisksBreadcrumb.length < 4) ? 2 : 2 + dashboard.currentRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.currentRisksBreadcrumb.length > 3" class="added-button">></p>
                        <md-button  class="added-button" ng-show="dashboard.currentRisksBreadcrumb.length > 3" ng-click="breadcrumbGoBackCurrentRisksParentAsset(3)">
                            {{dashboard.currentRisksBreadcrumb[(dashboard.currentRisksBreadcrumb.length < 4) ? 3 : 3 + dashboard.currentRisksBreadcrumb.length - 4]}}</md-button>
                    </div>

                    <d3 id="graphCurrentRisks"></d3>

                </div>
                <div layout="column" flex="35">
                    <p class="md-title" translate>Residual risks</p>
                    <div layout="row" layout-align="start center">
                        <md-input-container id="riskTab">
                            <label translate>Display residual risks by</label>
                            <md-select ng-model="displayTargetRisksBy">
                                <md-option value="level" selected>{{ 'Level' | translate }}</md-option>
                                <md-option value="asset" >{{ 'All assets' | translate }}</md-option>
                                <md-option value="parentAsset" >{{ 'Parent asset' | translate }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container id="riskTab" ng-show ="displayTargetRisksBy=='level'">
                            <label translate>Chart type</label>
                            <md-select ng-model="targetRisksOptions">
                                <md-option value="vertical" selected>{{ 'Discrete Bar Chart' | translate }}</md-option>
                                <md-option value="donut" >{{ 'Donut Chart' | translate }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-button class="md-icon-button" title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphTargetRisks', 'targetRisksChartBy' + displayTargetRisksBy)">
                            <md-icon class="md-warn">file_download</md-icon>
                        </md-button>

                        <md-button class="md-icon-button" title="{{ 'Go back' | translate }}" ng-show="dashboard.targetRisksParentAssetMemoryTab.length>1 && displayTargetRisksBy=='parentAsset'" ng-click="goBackTargetRisksParentAsset()">
                            <md-icon class="md-primary">arrow_back</md-icon>
                        </md-button>
                    </div>

                    <div layout='row' ng-show="displayTargetRisksBy=='parentAsset'">
                        <md-button class="added-button" ng-click="breadcrumbGoBackTargetRisksParentAsset(0)">
                            {{dashboard.targetRisksBreadcrumb[(dashboard.targetRisksBreadcrumb.length < 4) ? 0 : dashboard.targetRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.targetRisksBreadcrumb.length > 1" class="added-button">></p>
                        <md-button class="added-button" ng-show="dashboard.targetRisksBreadcrumb.length > 1" ng-click="breadcrumbGoBackTargetRisksParentAsset(1)">
                            {{dashboard.targetRisksBreadcrumb[(dashboard.targetRisksBreadcrumb.length < 4) ? 1 : 1 + dashboard.targetRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.targetRisksBreadcrumb.length > 2" class="added-button">></p>
                        <md-button class="added-button" ng-show="dashboard.targetRisksBreadcrumb.length > 2" ng-click="breadcrumbGoBackTargetRisksParentAsset(2)">
                            {{dashboard.targetRisksBreadcrumb[(dashboard.targetRisksBreadcrumb.length < 4) ? 2 : 2 + dashboard.targetRisksBreadcrumb.length - 4]}}</md-button>
                        <p ng-show="dashboard.targetRisksBreadcrumb.length > 3" class="added-button">></p>
                        <md-button class="added-button" ng-show="dashboard.targetRisksBreadcrumb.length > 3" ng-click="breadcrumbGoBackTargetRisksParentAsset(3)">
                            {{dashboard.targetRisksBreadcrumb[(dashboard.targetRisksBreadcrumb.length < 4) ? 3 : 3 + dashboard.targetRisksBreadcrumb.length - 4]}}</md-button>
                    </div>

                    <d3 id="graphTargetRisks"></d3>
                </div>
            </div>
        </md-tab>

        <md-tab label="{{ 'Threats' | translate }}" md-on-select="selectGraphThreats()">
            <div layout="row" layout-align="start center" flex="35" class="md-padding-left">
                <md-input-container flex>
                    <label translate>Display threats by</label>
                    <md-select ng-model="displayThreatsBy">
                        <md-option value="number" selected>{{ 'Number' | translate }}</md-option>
                        <md-option value="probability" >{{ 'Probability' | translate }}</md-option>
                        <md-option value="max_associated_risk" >{{ 'Max. associated risk level' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label translate>Chart type</label>
                    <md-select ng-model="threatsOptions">
                        <md-option value="vertical">{{ 'Discrete Bar Chart' | translate }}</md-option>
                        <md-option value="horizontal" selected>{{ 'Horizontal Bar Chart' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphThreats', 'threatsChartBy' + displayThreatsBy)">
                    <md-icon class="md-warn">file_download</md-icon>
                </md-button>
            </div>
            <d3 id="graphThreats" layout="row" layout-align="center center"></d3>
        </md-tab>

        <md-tab label="{{ 'Vulnerabilities' | translate }}" md-on-select="selectGraphVulnerabilities()">
            <div layout="row" layout-align="start center" flex="50" class="md-padding-left">
                <md-input-container flex>
                    <label translate>Display vulnerabilities by</label>
                    <md-select ng-model="displayVulnerabilitiesBy">
                        <md-option value="number" selected>{{ 'Number' | translate }}</md-option>
                        <md-option value="qualification" >{{ 'Qualification' | translate }}</md-option>
                        <md-option value="max_associated_risk">{{ 'Max. associated risk level' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label translate>Number of vulnerabilities to display</label>
                    <md-select ng-model="vulnerabilitiesDisplayed">
                        <md-option value="5" > 5 </md-option>
                        <md-option value="10" > 10 </md-option>
                        <md-option value="15" > 15 </md-option>
                        <md-option value="20" selected> 20 </md-option>
                        <md-option value="25" > 25 </md-option>
                        <md-option value="30" > 30 </md-option>
                        <md-option value="all" > {{ 'All' | translate }} </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label translate>Chart type</label>
                    <md-select ng-model="vulnerabilitiesOptions">
                        <md-option value="vertical" selected> {{ 'Discrete Bar Chart' | translate }} </md-option>
                        <md-option value="horizontal" > {{ 'Horizontal Bar Chart' | translate }} </md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphVulnerabilities', 'vulnerabilitiesChartBy' + displayVulnerabilitiesBy)">
                    <md-icon class="md-warn">file_download</md-icon>
                </md-button>
            </div>
            <d3 id="graphVulnerabilities" layout="row" layout-align="center center"></d3>
        </md-tab>

        <md-tab label="{{ 'Cartography' | translate }}" md-on-select="selectGraphCartography()">
            <div layout="row" layout-align="start center" flex="25" class="md-padding-left">
                <md-input-container flex>
                    <label translate>Type of risks</label>
                    <md-select ng-model="cartographyRisksType">
                        <md-option value="info_risks" ng-disabled="!dashboard.riskInfo" selected>{{ 'Information risks' | translate }}</md-option>
                        <md-option value="op_risks" ng-disabled="!dashboard.riskOp" >{{ 'Operational risks' | translate }}</md-option>
                    </md-select>
                </md-input-container>


            </div>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start center" flex>
                    <div layout="row" layout-align="start center">
                        <p class="md-title" translate>Current risks</p>
                        <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphCartographyCurrent', 'cartographyChartCurrentBy' + cartographyRisksType)">
                            <md-icon class="md-warn">file_download</md-icon>
                        </md-button>
                    </div>
                    <d3 id="graphCartographyCurrent"></d3>
                </div>
                <div layout="column" layout-align="start center" flex>
                    <div layout="row" layout-align="start center">
                        <p class="md-title" translate>Residual risks</p>
                        <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphCartographyTarget', 'cartographyChartTargetBy' + cartographyRisksType)">
                            <md-icon class="md-warn">file_download</md-icon>
                        </md-button>
                    </div>
                    <d3 id="graphCartographyTarget"></d3>
                </div>
            </div>
        </md-tab>

        <md-tab label="{{ 'Compliance' | translate }}" md-on-select="selectGraphCompliance()">
            <div layout="row" layout-align="start center" flex="25" class="md-padding-left">
                <md-input-container flex>
                    <label translate>Display compliance of</label>
                    <md-select ng-model="dashboard.refSelected">
                        <md-option ng-repeat="ref in dashboard.referentials" ng-value="ref.uuid">
                            {{ _langField(ref,'label') }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-button class="md-icon-button " title="{{ 'Export (PNG)' | translate }}" ng-click="exportAsPNG('graphCompliance', 'ComplianceChart')">
                    <md-icon class="md-warn">file_download</md-icon>
                </md-button>
            </div>
            <d3 id="graphCompliance" layout="row" layout-align="center center"></d3>
        </md-tab>

        <!--<md-tab label="{{ 'Perspective' | translate }}" md-on-select="selectGraphPerspective()">
        </md-tab>-->
    </md-tabs>
</div>
