<div class="md-padding" ng-cloak layout="column" ng-controller="AnrObjectInstanceCtrl">
    <div layout="row" layout-align="space-around start">
        <div flex="20" ng-if="instance" class="active-inst">
            <h2>
                <md-icon ng-if="instance.object.scope == 2" style="color: #F57C00">share</md-icon>
                {{ instance[_langField('name')] }}
            </h2>

            <p>{{ instance[_langField('label')] }}</p>
        </div>

        <md-card flex="85">
            <md-card-content layout="column" layout-gt-md="row" flex layout-wrap>
                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold txtright" translate>Confidentiality:&nbsp;</div>
                    <div flex translate>Inherited</div>
                </div>

                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold txtright" translate>Integrity:&nbsp;</div>
                    <div flex translate>Inherited</div>
                </div>

                <div flex="33" layout="column" layout-gt-md="row" layout-align="space-between">
                    <div class="bold txtright" translate>Availability:&nbsp;</div>
                    <div flex translate>Inherited</div>
                </div>
            </md-card-content>
        </md-card>

        <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon>menu</md-icon>
                    <md-tooltip md-direction="left">{{ 'Object actions' | translate }}</md-tooltip>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="{{ 'Edit instance settings' | translate }}" class="md-fab md-raised md-mini" ng-click="editInstanceDetails($event)">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-direction="left">{{ 'Edit instance settings' | translate }}</md-tooltip>
                </md-button>

                <md-button ng-disabled="isSafari()" aria-label="{{ 'Export instance' | translate }}" class="md-fab md-raised md-mini" ng-click="exportInstance($event)">
                    <md-icon>save</md-icon>
                    <md-tooltip md-direction="left">{{ 'Export instance' | translate }}</md-tooltip>
                </md-button>

                <md-button aria-label="{{ 'Detach' | translate }}" class="md-fab md-raised md-mini" ng-click="detachInstance($event)">
                    <md-icon>content_cut</md-icon>
                    <md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>



    <md-card>
        <md-tabs md-dynamic-height md-border-bottom md-selected="ToolsAnrService.currentTab">
            <md-tab label="{{ 'General information' | translate }}">
                <div layout="row" layout-align="center center" class="md-padding" ng-if="!instance.id">
                    <md-progress-circular></md-progress-circular>
                </div>

                <div class="md-padding" ng-if="instance.id">
                    <a aria-title="{{ 'See object in the library' | translate }}" href="javascript:void(0);" ng-click="showObjectInLibrary(instance.object.id);"><md-icon>folder_open</md-icon>{{ 'See object in the library' | translate }}</a>

                    <p class="md-title" translate>This asset is attached to the following parents</p>

                    <p ng-if="instance.instances.length <= 0" translate>This asset has no parents.</p>


                    <table md-table ng-if="instance.instances.length > 0">
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span translate>Active parent</span></th>
                                <th md-column><span translate>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="node in instance.instances">
                                <td md-cell>{{ node[_langField('name')] }}</td>
                                <td md-cell>
                                    <md-button class="md-icon-button" aria-title="{{ node[_langField('name')] }}" ng-if="instance.id != node.id" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>folder_open</md-icon><md-tooltip md-direction="left">{{ node[_langField('name')] }}</md-tooltip></md-button>
                                    <md-button class="md-icon-button" aria-title="{{ 'Detach' | translate }}" ng-if="instance.id != node.id" ng-click="detachInstance($event,node)""><md-icon>content_cut</md-icon><md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip></md-button>
                                     <!--"-->
                                     <em ng-if="instance.id == node.id">{{'(Current instance)' | translate}}</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-tab>

            <md-tab label="{{ 'Risks table' | translate }}">
                <div ng-include="'views/anr/risk_sheet.html'" ng-if="sheet_risk"></div>

                <div ng-if="!instance.risks || !instance.risks.length" class="md-padding">
                    <em>{{ 'There is no AMV link for this instance, so the risks table is empty.' | translate }}</em>
                </div>

                <table class="md-html-table" ng-if="!sheet_risk && instance.risks.length > 0">
                    <thead>
                    <tr>
                        <th colspan="3"><p translate>Impact</p></th>
                        <th colspan="2"><p translate>Threat</p></th>
                        <th colspan="3"><p translate>Vulnerability</p></th>
                        <th colspan="3"><p translate>Current risk</p></th>
                        <th rowspan="2"><p translate>T</p></th>
                        <th rowspan="2"><p translate>Target risk</p></th>
                    </tr>
                    <tr>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                        <th translate>Label</th>
                        <th translate>Prob.</th>
                        <th translate>Label</th>
                        <th translate>Measures set</th>
                        <th translate>Qualif.</th>
                        <th>C</th>
                        <th>I</th>
                        <th>D</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="risk in instance.risks">
                        <td>{{risk.c_impact}}</td>
                        <td>{{risk.i_impact}}</td>
                        <td>{{risk.d_impact}}</td>
                        <td>{{risk.threatDescription1}}</td>
                        <td inline-edit-group="anr_instance" inline-edit="risk.threatRate" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></td>
                        <td>{{risk.vulnDescription1}}</td>
                        <td inline-edit-group="anr_instance" inline-edit="risk.comment" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-placeholder="{{ 'Click to type...' | translate }}" inline-edit-on-click inline-edit-textarea></td>
                        <td inline-edit-group="anr_instance" inline-edit="risk.vulnerabilityRate" inline-edit-btn-edit="" inline-edit-on-blur="save" inline-edit-validation="inlineNumberValidator(newValue)" inline-edit-on-click></td>
                        <td ng-disabled="!risk.c_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.c_risk > 0 && risk.c_risk < scales.thresholds.min, 'orange': risk.c_risk >= scales.thresholds.min && risk.c_risk < scales.thresholds.max, 'red': risk.c_risk >= scales.thresholds.max}">{{ risk.c_risk_enabled ? risk.c_risk : '' }}</td>
                        <td ng-disabled="!risk.i_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.i_risk > 0 && risk.i_risk < scales.thresholds.min, 'orange': risk.i_risk >= scales.thresholds.min && risk.i_risk < scales.thresholds.max, 'red': risk.i_risk >= scales.thresholds.max}">{{ risk.i_risk_enabled ? risk.i_risk : '' }}</td>
                        <td ng-disabled="!risk.d_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.d_risk > 0 && risk.d_risk < scales.thresholds.min, 'orange': risk.d_risk >= scales.thresholds.min && risk.d_risk < scales.thresholds.max, 'red': risk.d_risk >= scales.thresholds.max}">{{ risk.d_risk_enabled ? risk.d_risk : '' }}</td>
                        <td>
                            <div layout="row" layout-align="center center">
                                <md-button class="md-icon-button" ng-click="openRiskSheet(risk)">
                                    <md-tooltip>{{ 'Open risk sheet' | translate }}</md-tooltip>
                                    <md-icon>open_in_new</md-icon>
                                </md-button>
                                <span class="green-dot" ng-if="risk.t"></span>
                            </div>
                        </td>
                        <td class="txtcenter">{{risk.target_risk}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-tab>

            <md-tab label="{{ 'OP risks table' | translate }}" ng-if="instance.asset.type == 1">
                <p class="md-title md-padding" translate>{{ instance.oprisks.length || 0 }} operational risk(s)</p>

                <div ng-include="'views/anr/oprisk_sheet.html'" ng-if="opsheet_risk"></div>

                <div ng-if="!instance.oprisks || !instance.oprisks.length" class="md-padding">
                    <em>{{ 'There are no operational risks for this instance, so the operational risks table is empty.' | translate }}</em>
                </div>

                <table class="md-html-table" ng-if="!opsheet_risk && instance.oprisks.length > 0">
                    <thead>
                    <tr>
                        <th rowspan="3" translate>Risk description</th>
                        <th ng-if="model.showRolfBrut" colspan="7" translate>RAW</th>
                        <th colspan="7" translate>NET</th>
                        <th rowspan="3" translate>Observation</th>
                        <th rowspan="3">T</th>
                        <th rowspan="3" translate>Target risk</th>
                        <th rowspan="3" translate>Actions</th>
                    </tr>

                    <tr>
                        <th rowspan="2" translate ng-if="model.showRolfBrut">Prob.</th>
                        <th colspan="5" translate ng-if="model.showRolfBrut">Impact</th>
                        <th rowspan="2" translate ng-if="model.showRolfBrut">Calculated risk</th>

                        <th rowspan="2" translate>Prob.</th>
                        <th colspan="5" translate>Impact</th>
                        <th rowspan="2" translate>Calculated risk</th>
                    </tr>

                    <tr>
                        <th ng-if="model.showRolfBrut">R</th>
                        <th ng-if="model.showRolfBrut">O</th>
                        <th ng-if="model.showRolfBrut">L</th>
                        <th ng-if="model.showRolfBrut">F</th>
                        <th ng-if="model.showRolfBrut">P</th>

                        <th>R</th>
                        <th>O</th>
                        <th>L</th>
                        <th>F</th>
                        <th>P</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="risk in instance.oprisks">
                        <td>{{ risk[_langField('description')] }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutProb }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutR }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutO }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutL }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutF }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.brutP }}</td>
                        <td ng-if="model.showRolfBrut">{{ risk.cacheBrutRisk }}</td>
                        <td>{{ risk.netProb }}</td>
                        <td>{{ risk.netR }}</td>
                        <td>{{ risk.netO }}</td>
                        <td>{{ risk.netL }}</td>
                        <td>{{ risk.netF }}</td>
                        <td>{{ risk.netP }}</td>
                        <td>{{ risk.cacheNetRisk }}</td>
                        <td>{{ risk.comment }}</td>
                        <td class="txtcenter"><div style="display:inline-block" class="green-dot" ng-if="risk.t"></div></td>
                        <td>{{ risk.cacheTargetedRisk }}</td>
                        <td class="txtcenter"><md-button class="md-icon-button" ng-click="openOpRiskSheet(risk)">
                            <md-tooltip>{{ 'Open risk sheet' | translate }}</md-tooltip>
                            <md-icon>open_in_new</md-icon>
                        </md-button></td>
                    </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})"><md-icon>{{ node.children && node.children.length > 0 ? 'add': 'note' }}</md-icon> {{ node[_langField('name')] }}</a>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>

