<div class="md-padding" ng-controller="AnrSoaSheetCtrl" ng-if="tabSoaDisplayed">
    <md-button ng-click="backToList()" ui-sref="main.project.anr.soa({modelId: model.anr.id})"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button>
    <div layout="row" layout-align="space-between end">
      <p class="md-title">{{ soa.measure.code }}-{{_langField(soa.measure,'description')}}  </p>



      <md-button class="md-icon-button" ng-if="!isAnrReadOnly" ng-click="exportSoaSheet()"><md-icon class="md-warn">file_download</md-icon><md-tooltip>{{ 'Export' | translate }} (CSV)</md-tooltip></md-button>
    </div>






    <table  class="md-html-table soa-table md-html-table-grey big-border-all"    >
         <thead class="big-border-bottom"  >
         <tr>
             <th rowspan="2" translate>Asset</th>
             <th colspan="3" translate>Impact</th>
             <th colspan="2" class="big-border-left" translate>Threat</th>
             <th colspan="3" class="big-border-left" translate>Vulnerability</th>
             <th colspan="3" class="big-border-left" style="min-width: 110px" translate>Current risk</th>
             <th rowspan="2" translate>Treatment</th>
             <th rowspan="2" translate>Residual risk</th>
         </tr>
         <tr>
             <th>C</th>
             <th>I</th>
             <th translate>A</th>
             <th class="big-border-left" translate>Label</th>
             <th title="{{scaleThreat}}">Prob.</th>
             <th class="big-border-left" translate>Label</th>
             <th translate style="min-width: 200px">Existing controls</th>
             <th title="{{scaleVul}}" translate>Qualif.</th>
             <th class="big-border-left">C</th>
             <th>I</th>
             <th translate>A</th>
         </tr>
         </thead>

         <tbody>
           <tr class="txtleft" ng-repeat="risk in risks" ng-if="risk.measure1==soa.measure.code+' - '+soaDescription || risk.measure2==soa.measure.code+' - '+soaDescription || risk.measure3==soa.measure.code+' - '+soaDescription">
             <td  class="txtleft" ng-repeat="instance in instanceCache" ng-if="instance.id ==risk.instance" ><a ui-sref="main.project.anr.instance({modelId: model.anr.id, instId: instance.id})" href="javascript:;"> {{_langField(instance,'name')}}</a></td>
             <td  class="txtcenter">{{risk.c_impact|dashnull}}</td>
             <td  class="txtcenter">{{risk.i_impact|dashnull}}</td>
             <td  class="txtcenter">{{risk.d_impact|dashnull}}</td>
             <td  class="preserve-newlines big-border-left txtleft" >{{_langField(risk,'threatLabel')}}</td>
             <td  class="txtcenter" >{{risk.threatRate|dashnull}}</td>
             <td  class="txtleft">{{_langField(risk,'vulnLabel')}}</td>
             <td  class="txtleft" >{{risk.comment }}</td>
             <td  class="txtcenter" >{{risk.vulnerabilityRate	|dashnull}}</td>
             <td  ng-disabled="!risk.c_risk_enabled" class="tbl-risk-calc big-border-left"
                  ng-class="{'green': risk.c_risk >= 0 && risk.c_risk <= thresholds.thresholds.min, 'orange': risk.c_risk > thresholds.thresholds.min && risk.c_risk <=thresholds.thresholds.max, 'red': risk.c_risk > thresholds.thresholds.max}">{{ risk.c_risk_enabled ? (risk.c_risk | dashnull) : '' }}</td>
             <td  ng-disabled="!risk.i_risk_enabled" class="tbl-risk-calc"
                  ng-class="{'green': risk.i_risk >= 0 && risk.i_risk <= thresholds.thresholds.min, 'orange': risk.i_risk > thresholds.thresholds.min && risk.i_risk <= thresholds.thresholds.max, 'red': risk.i_risk > thresholds.thresholds.max}">{{ risk.i_risk_enabled ? (risk.i_risk | dashnull) : '' }}</td>
             <td  ng-disabled="!risk.d_risk_enabled" class="tbl-risk-calc"
                  ng-class="{'green': risk.d_risk >= 0 && risk.d_risk <= thresholds.thresholds.min, 'orange': risk.d_risk > thresholds.thresholds.min && risk.d_risk <= thresholds.thresholds.max, 'red': risk.d_risk > thresholds.thresholds.max}">{{ risk.d_risk_enabled ? (risk.d_risk | dashnull) : '' }}</td>
             <td>
                 <div layout="row" layout-align="center center">
                         {{treatmentStr(risk.kindOfMeasure)|translate}}
                 </div>
             </td>
             <td class="txtcenter tbl-risk-calc"
                 ng-class="{'green': risk.target_risk >= 0 && risk.target_risk <= thresholds.thresholds.min, 'orange': risk.target_risk > thresholds.thresholds.min && risk.target_risk <= thresholds.thresholds.max, 'red': risk.target_risk > thresholds.thresholds.max}">{{risk.target_risk | dashnull}}</td>
         </tr>
         </tbody>
     </table>

        </div  >
           <!-- </div  >
   </div  >
</div  > -->
