<div class="md-padding" ng-controller="AnrRisksPlanCtrl">
    <p class="md-title" translate>Risk treatment plan management</p>

    <md-button ui-sref="main.project.anr.risksplan.history({modelId: model.anr.id})"><md-icon>history</md-icon> {{ 'Open the implementation history' | translate }}</md-button>

    <table class="md-html-table" editable callback="onTableEdited">
        <thead>
        <tr>
            <th><md-icon>alarm</md-icon></th>
            <th translate>Recommendation</th>
            <th translate>Imp.</th>
            <th translate>Comment</th>
            <th translate>Manager</th>
            <th translate>Deadline</th>
            <th translate>Status</th>
            <th translate>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr edit-model="rec" ng-repeat="rec in recommendations">
            <td class="txtcenter"><md-icon>alarm_on</md-icon></td>
            <td><b>{{ rec.code }}</b><br/><span class="md-caption">{{ rec.description }}</span></td>
            <td class="txtcenter"><span ng-repeat="i in range(1, rec.importance)" class="anr-importance">&bull;</span></td>
            <td class="preserve-newlines" edit-field="comment" edit-type="textarea"></td>
            <td edit-field="responsable"></td>
            <td edit-field="duedate" edit-placeholder="jj-mm-yyyy"></td>
            <td ng-if="rec.counterTreated == 0" translate>Coming</td>
            <td ng-if="rec.counterTreated > 0" translate>In progress ({{rec.counterTreated}})</td>
            <td>
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button md-primary" ui-sref="main.project.anr.risksplan.sheet({modelId: model.anr.id, recId: rec.id})"><md-icon>open_in_new</md-icon></md-button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

