<div class="md-padding" ng-controller="AnrRisksPlanHistoryCtrl">
    <md-button ng-click="backToList()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button>
    <p class="md-title" translate>Implementation history</p>

    <table class="md-html-table">
        <thead>
        <tr>
            <th translate>By</th>
            <th translate>Recommendation</th>
            <th translate>Risk</th>
            <th translate>Implementation comment</th>
            <th translate>Risk before</th>
            <th translate>Risk after</th>
            <th translate>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="entry in history">
            <td>{{ entry.creator }}</td>
            <td>
                <span ng-repeat="i in range(1, entry.recommandation.importance)">&starf;</span> <b>{{ entry.recommandation.code }}</b><br />
                {{entry.recommandation.description}}<br />
                <b translate>Comment:</b> {{ entry.recommandation.comment }}<br />
                <b translate>Deadline:</b> {{ entry.recommandation.duedate}}<br />
                <b translate>Manager:</b> {{ entry.recommandation.responsable}}
            </td>
            <td>
                <b translate>Instance:</b> {{ entry.risk.instance[_langField('label')] }} ({{ entry.risk.instance.code }})<br />
                <b translate>Asset:</b> {{ entry.risk.asset[_langField('label')] }} ({{ entry.risk.asset.code }})<br />
                <b translate>Threat:</b> {{ entry.risk.threat[_langField('label')] }} ({{ entry.risk.threat.code }})<br />
                <b translate>Vulnerability:</b> {{ entry.risk.vulnerability[_langField('label')] }} ({{ entry.risk.vulnerability.code }})<br />
                <b translate>Treatment type:</b> {{ entry.risk.kindOfMeasure }}<br />
                <b translate>Observation before measure:</b> {{ entry.risk.comment }}<br />
                <b translate>Observation after measure:</b> {{ entry.risk.commentAfter }}
            </td>
            <td>{{ entry.comment }}</td>
            <td>{{ entry.risk.cache_targeted_risk }}</td>
            <td>{{ entry.risk.cache_targeted_risk - entry.risk.reduction_amount }}</td>
            <td>
                <md-button class="md-icon-button"><md-icon>edit</md-icon></md-button>
                <md-button class="md-icon-button"><md-icon>delete</md-icon></md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

