<md-dialog md-theme="light" class="dialog-width">
    <form name="categoryForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!category.id" translate>Add a category</h2>
                <h2 ng-if="category.id" translate>Edit category</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block"  ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(lang_idx, lang) in languages" value="{{ lang_idx }}" ng-controller="BackofficeAccountCtrl">
                        <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                        {{ languagesNames[lang_idx] }}
                      </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="category['label' + language ]" name="label" required>
                    <div ng-messages="categoryForm.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Code</label>
                    <md-icon>language</md-icon>
                    <input ng-model="category.reference" name="reference" required>
                    <div ng-messages="categoryForm.reference.$error">
                        <div ng-message="required">{{ 'The code may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="categoryForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ (category.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="categoryForm.$error.required" ng-if="!category.id" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
