<md-dialog class="dialog-width">
    <form name="measureForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!instance.id" translate>Add a new instance</h2>
                <h2 ng-if="instance.id" translate>Update instance "{{instance[_langField('name')]}}" details</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div layout="column" style="flex-grow: 1; margin-right: 20px;">
                        <div layout="row" style="align-items: center;">
                            <h4 translate style="flex-grow: 1;">Consequences</h4>
                            <md-switch style="margin:0px; height: auto; line-height: auto;" ng-model="display.hidden" ng-true-value="true" ng-false-value="false">{{ 'Show hidden consequences' | translate }}</md-switch>
                        </div>
                        <div layout="row" style="border: 1px solid #DFDFDF; padding: 1em;">
                            <div layout="column" ng-repeat="(idx, col) in instance.consequences" ng-if="!col.isHidden || (display.hidden && col.locallyTouched) ">
                                <p>{{ col.scaleImpactTypeDescription1 }} <md-button class="md-icon-button" ng-click="setConsequenceVisibility(col.id, !!col.isHidden)"><md-icon>{{ col.isHidden ? 'visibility_off' : 'visibility' }}</md-icon></md-button></p>
                                <md-input-container>
                                    <label translate>Confidentiality</label>
                                    <md-select ng-model="instance.consequences[idx].c_risk" ng-change="calculeImpact('c')">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <label translate>Integrity</label>
                                    <md-select ng-model="instance.consequences[idx].i_risk" ng-change="calculeImpact('i')">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <label translate>Availability</label>
                                    <md-select ng-model="instance.consequences[idx].d_risk" ng-change="calculeImpact('d')">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div layout="column">
                        <div layout="row">
                            <h4 translate>Impact</h4>
                        </div>
                        <div layout="column" style="border: 1px solid #DFDFDF; padding: 1em;">
                            <p style="height: 54px;">&nbsp;</p>
                            <md-input-container>
                                <label translate>Confidentiality</label>
                                <input type="text" ng-value="calculeImpact('c')" disabled />
                            </md-input-container>
                            <md-input-container>
                                <label translate>Integrity</label>
                                <input type="text" ng-value="calculeImpact('i')" disabled />
                            </md-input-container>
                            <md-input-container>
                                <label translate>Availability</label>
                                <input type="text" ng-value="calculeImpact('d')" disabled />
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="measureForm.$error.required" class="md-accent md-hue-3">
                {{ (instance.id > 0 ? 'Update' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
