<md-dialog md-theme="light" class="dialog-width">
    <form name="riskForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!recommandation.recommandation.id" translate>Add a recommendation</h2>
                <h2 ng-if="recommandation.recommandation.id" translate>Edit a recommendation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label translate>Enter a code or search a recommendation</label>
                    <!-- <md-autocomplete
                            flex
                            ng-disabled="isAnrReadOnly"
                            md-search-text="recSearchText1"
                            md-items="item in queryRecSearch1(recSearchText1)"
                            md-item-text="item.description"
                            md-delay="300"
                            md-min-length="0"
                            md-input-name="rec1"
                            md-menu-class="reco-autocomplete">
                        <md-item-template>
                            <span md-highlight-text="queryRecSearch1" md-highlight-flags="^i">{{ item.code }} - {{ item.description }}</span>
                        </md-item-template>
                        <md-not-found>
                            {{ 'No recommendation matching your search was found' | translate }}
                        </md-not-found>
                    </md-autocomplete> -->

                    <!-- <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in queryRecSearch1(searchText)">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item}}</span>
                        </md-item-template>
                    </md-autocomplete> -->

                    <!-- <md-autocomplete
                            flex
                            md-no-cache
                            md-search-text="searchText"
                            md-items="item in queryRecSearch1(searchText)"
                            md-item-text="item.description"
                            md-delay="600">
                        <span md-highlight-text="searchText">{{item.description}}</span>
                    </md-autocomplete> -->
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon>toc</md-icon>
                    <input type="text" ng-model="recommandation.recommandation.code">
                </md-input-container>

                <md-radio-group ng-model="recommandation.recommandation.importance">
                    <md-icon>star</md-icon>
                    <label translate>Importance</label>
                    <md-radio-button ng-value="1"><span class="anr-importance">&bull;</span> {{ 'Useful information for safety, advice' | translate }}</md-radio-button>
                    <md-radio-button ng-value="2"><span class="anr-importance">&bull;&bull;</span> {{ 'Recommendation which requires a dedicated action to solve a vulnerability or a missing best practice' | translate }}</md-radio-button>
                    <md-radio-button ng-value="3"><span class="anr-importance">&bull;&bull;&bull;</span> {{ 'Priority recommendation' | translate }}</md-radio-button>
                </md-radio-group>

                <md-input-container class="md-block">
                    <label translate>Description</label>
                    <md-icon>description</md-icon>
                    <textarea rows="3" ng-model="recommandation.recommandation.description"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="deleteRecommandation($event, recommandation)" ng-if="recommandation.recommandation.id && !isRecoContext" type="submit" class="md-warn md-hue-3">
                {{ 'Delete' | translate }}
            </md-button>
            <md-button ng-if="recommandation.recommandation.id && !isRecoContext" ng-click="detachRecommandation($event, recommandation)">{{ 'Detach' | translate }}</md-button>
            <md-button ng-if="recommandation.recommandation.id && !isRecoContext" ng-click="copyRecommandation($event, recommandation)">{{ 'Copy' | translate }}</md-button>
            <md-button ng-click="create()" ng-disabled="riskForm.$invalid" type="submit" class="md-accent md-hue-3">
                {{ (recommandation.recommandation.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
