<md-dialog md-theme="light" class="dialog-width">
    <form name="assetForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!asset.uuid" translate>Add an asset type</h2>
                <h2 ng-if="asset.uuid" translate>Edit asset type</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-card ng-if="!asset.uuid && OFFICE_MODE == 'FO'" layout="row" >
                  <span flex></span>
                  <md-button class="md-primary" ng-click="importFile($event,'Asset types')" ng-controller="AnrKbMgmtCtrl">
                      <md-icon>play_for_work</md-icon><span>&nbsp;{{ 'Import from file' | translate }}</span>
                  </md-button>
                  <span flex></span>
                  <md-button class="md-primary" ng-click="importNewAsset($event)" ng-controller="AnrKbMgmtCtrl">
                      <md-icon>cloud_download</md-icon><span>&nbsp;{{ 'Import from MOSP' | translate }}</span>
                  </md-button>
                  <span flex></span>
                </md-card>
                <md-card ng-if="!asset.uuid && OFFICE_MODE == 'BO'" layout="row" layout-align="center center">
                  <md-button class="md-primary" ng-click="importFile($event,'Asset types')" ng-controller="BackofficeKbInfoCtrl">
                      <md-icon>play_for_work</md-icon><span>&nbsp;{{ 'Import from file' | translate }}</span>
                  </md-button>
                </md-card>

                <md-subheader ng-if="!asset.uuid && OFFICE_MODE == 'FO'" layout="row" layout-align="center"><strong>{{ 'Manual creation' | translate }}</strong></md-subheader><br />

                <md-subheader>{{ 'Labels and descriptions' | translate }}</md-subheader>

                <md-input-container class="md-block" ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(index, lang) in $root.languages" value="{{ index }}">
                        <span class="fi fi-{{ $root.languages[index].flag }}"></span>
                        {{ $root.languages[index].name | translate }}
                      </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="asset['label' + language ]" name="label" required>
                    <div ng-messages="assetForm.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Description</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="asset['description' + language]" rows="4"></textarea>
                </md-input-container>

                <md-subheader>{{ 'General information' | translate }}</md-subheader>

                <md-input-container class="md-block" layout="row" ng-if="OFFICE_MODE == 'BO'" flex>
                    <label translate>Mode</label>
                    <md-icon>view_list</md-icon>
                    <md-select ng-model="asset.mode">
                        <md-option ng-value="0">{{ 'Generic' | translate }}</md-option>
                        <md-option ng-value="1">{{ 'Specific' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Code</label>
                    <md-icon>language</md-icon>
                    <input ng-model="asset.code" name="code" required>
                    <div ng-messages="assetForm.code.$error">
                        <div ng-message="required">{{ 'The code may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" layout="row" flex>
                    <label translate>Type</label>
                    <md-icon>turned_in</md-icon>
                    <md-select ng-model="asset.type">
                        <md-option ng-value="1">{{ 'Primary' | translate }}</md-option>
                        <md-option ng-value="2">{{ 'Secondary' | translate }}</md-option>
                    </md-select>
                </md-input-container>

                <div ng-if="OFFICE_MODE == 'BO' && models && models.length > 0">
                    <md-subheader>{{ 'Specific models links' | translate }}</md-subheader>

                    <md-input-container class="md-block" layout="row" flex>
                        <label translate>Models</label>
                        <md-icon>class</md-icon>
                        <md-select ng-disabled="asset.mode != 1" multiple ng-model="asset.models">
                            <md-option ng-repeat="availModel in models" ng-value="availModel.id">{{ _langField(availModel,'label') }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox ng-disabled="asset.mode != 1" ng-model="asset.follow">{{ 'Force risks to follow movement' | translate }}</md-checkbox>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="assetForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ (asset.uuid ? 'Save' : 'Create') | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="assetForm.$error.required" ng-if="!asset.uuid" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
