<md-dialog md-theme="light" class="dialog-width">
    <form name="recordForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!record.uuid" translate>Add a record</h2>
                <h2 ng-if="record.uuid" translate>Edit record</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-subheader layout="row" layout-align="center"><strong>Manual creation</strong></md-subheader>

                <md-input-container class="md-block"  ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(lang_idx, lang) in languages" value="{{ lang_idx }}" ng-controller="BackofficeAccountCtrl">
                        <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                        {{ languagesNames[lang_idx] }}
                      </md-option>
                    </md-select>
                </md-input-container> <br/>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="record['label' + language ]" name="label" required>
                    <div ng-messages="record.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-subheader layout="row" layout-align="left"><strong>Controller</strong></md-subheader>
                <md-input-container class="md-block" flex>
                    <label translate>Name</label>
                    <md-autocomplete flex
                                     md-selected-item="selectedController"
                                     md-search-text="controllerSearchText"
                                     md-items="item in queryRecordControllerSearch(controllerSearchText)"
                                     md-item-text="item['label']"
                                     md-min-length="0"
                                     md-no-cache="true"
                                     md-selected-item-change="controllerItemSelected()"
                                     md-search-text-change="controllerTextChanged()"
                                     placeholder="{{ 'Select controller' | translate }}">
                        <md-item-template>
                            <span md-highlight-text="controllerSearchText" md-highlight-flags="^i">{{item['label']}}</span>
                        </md-item-template>
                        <md-not-found>
                            {{ 'No controller matching your search was found.' }}
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Contact</label>
                    <input ng-model="record.controller['contact']" ng-disabled="selectedController.id" name="controllerContact" required>
                    <div ng-messages="record.controllerContact.$error">
                        <div ng-message="required">{{ 'The contact may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <div layout="row" layout-align="center center">
                        <md-chips ng-model="record.jointControllers"
                                  md-autocomplete-snap
                                  md-require-match="true">
                            <md-autocomplete flex
                                             md-selected-item="selectedJointController"
                                             md-search-text="jointControllerSearchText"
                                             md-items="item in queryRecordControllerSearch(jointControllerSearchText)"
                                             md-item-text="item['label']"
                                             md-min-length="0"
                                             md-no-cache="true"
                                             placeholder="{{ 'Add joint controllers' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="jointControllerSearchText" md-highlight-flags="^i">{{item['label']}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'No controller matching your search was found. Click on' | translate }}
                                    <md-icon>add_to_photos</md-icon>
                                    {{ 'to create it.' | translate }}
                                </md-not-found>
                            </md-autocomplete>

                            <md-chip-template>
                                <span>
                                    <em>{{$chip['label']}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-button class="md-icon-button md-primary" ng-click="toggleJointControllerOn()">
                            <md-tooltip md-direction="left">
                                {{ 'Add a new joint controller' | translate }}
                            </md-tooltip>
                            <md-icon>add_to_photos</md-icon>
                        </md-button>
                    </div>
                </md-input-container>
                <div ng-if="addJointController">
                    <md-input-container class="md-block" flex>
                        <label translate>Name</label>
                        <input ng-model="joint.name" name="jointName" required>
                        <div ng-messages="jointName.$error">
                            <div ng-message="required">{{ 'The name may not be empty' | translate }}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Contact</label>
                        <input ng-model="joint.contact" name="jointContact" required>
                        <div ng-messages="jointContact.$error">
                            <div ng-message="required">{{ 'The contact details may not be empty' | translate }}</div>
                        </div>
                    </md-input-container>
                    <md-button ng-click="toggleJointControllerOff()">
                        {{ 'Cancel' | translate }}
                    </md-button>
                    <md-button class="md-accent md-hue-3" ng-disabled="jointName.$error.required||jointContact.$error.required" ng-click="addNewJointController()" layout-align="right">
                        {{ 'Add' | translate }}
                    </md-button>
                </div>
                <md-input-container class="md-block" flex>
                    <label translate>Controller's representative</label>
                    <input ng-model="record['representative']" name="representative">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Data Protection Officer</label>
                    <input ng-model="record['dpo']" name="dpo">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Purposes of the processing</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="record['purposes']" rows="2"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Description of the categories of data subjects and of the categories of personal data</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="record['description']" rows="4"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <div layout="row" layout-align="center center">
                        <md-chips ng-model="record.recipientCategories"
                                  md-autocomplete-snap
                                  md-require-match="true">
                            <md-autocomplete flex
                                             md-selected-item="selectedRecipientCategory"
                                             md-search-text="recipientCategorySearchText"
                                             md-items="item in queryRecordRecipientCategorySearch(recipientCategorySearchText)"
                                             md-item-text="item['label']"
                                             md-min-length="0"
                                             md-no-cache="true"
                                             placeholder="{{ 'Add recipient category' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="recipientCategorySearchText" md-highlight-flags="^i">{{item['label']}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'No recipient category matching your search was found. Click on' | translate }}
                                    <md-icon>add_to_photos</md-icon>
                                    {{ 'to create it.' | translate }}
                                </md-not-found>
                            </md-autocomplete>
                            <md-button class="md-icon-button md-primary" ng-click="createNewRecipientCategory($event, recipientCategory)">
                                <md-tooltip md-direction="left">
                                    {{ 'Add a new recipient category' | translate }}
                                </md-tooltip>
                                <md-icon>add_to_photos</md-icon>
                            </md-button>
                            <md-chip-template>
                                <span>
                                    <em>{{$chip['label']}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-input-container>
                <label translate> Is there transfers of personal data to a third country or an international organisation?
                    <input ng-model="checkboxInternational" type="checkbox">
                </label>
                <md-input-container class="md-block" ng-if="checkboxInternational" flex>
                    <md-input-container class="md-block" flex>
                        <label translate>Identification</label>
                        <input ng-model="record['idThirdCountry']" name="idThirdCountry">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Data Protection Officer</label>
                        <input ng-model="record['dpoThirdCountry']" name="dpoThirdCountry">
                    </md-input-container>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Time limits for erasure</label>
                    <input ng-model="record['erasure']" name="erasure" type="date" required>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label translate>Technical and organisational security measures</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="record['secMeasures']" rows="2"></textarea>
                </md-input-container>

                <md-subheader layout="row" layout-align="left"><strong>Processors</strong></md-subheader>
                <md-input-container class="md-block" flex>
                    <div layout="row" layout-align="center center">
                        <md-chips ng-model="record.processors"
                                  md-autocomplete-snap
                                  md-require-match="true">
                            <md-autocomplete flex
                                             md-selected-item="selectedProcessor"
                                             md-search-text="processorSearchText"
                                             md-items="item in queryRecordProcessorSearch(processorSearchText)"
                                             md-item-text="item['label']"
                                             md-min-length="0"
                                             md-no-cache="true"
                                             placeholder="{{ 'Add processor' | translate }}">
                                <md-item-template>
                                    <span md-highlight-text="processorSearchText" md-highlight-flags="^i">{{item['label']}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'No processor matching your search was found. Click on' | translate }}
                                    <md-icon>add_to_photos</md-icon>
                                    {{ 'to create it.' | translate }}
                                </md-not-found>
                            </md-autocomplete>

                            <md-chip-template>
                                <span>
                                    <em>{{$chip['label']}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-button class="md-icon-button md-primary" ng-click="addNewProcessor($event)">
                            <md-tooltip md-direction="left">
                                {{ 'Add a new processor' | translate }}
                            </md-tooltip>
                            <md-icon>add_to_photos</md-icon>
                        </md-button>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="recordForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ (record.uuid ? 'Save' : 'Create') | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="recordForm.$error.required" ng-if="!record.uuid" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
