<md-dialog md-theme="light" class="dialog-width">
    <form name="riskForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!recommandation.recommandation.id" translate>Add a recommendation</h2>
                <h2 ng-if="recommandation.recommandation.id" translate>Edit a recommendation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label translate>Search a recommendation to create one from an existing</label>
                    <md-select ng-model="recommandation.recommandation" md-on-open="loadOptions($event, recommandation.recommandation)" md-on-close="setSelectedRecommendation($event, recommandation.recommandation)">
                        <md-option ng-repeat="item in options" ng-value="item">{{ item.code }} - {{ item.description }}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon>toc</md-icon>
                    <input type="text" ng-model="recommandation.recommandation.code">
                </md-input-container>

                <md-radio-group ng-model="recommandation.recommandation.importance">
                    <md-icon>star</md-icon>
                    <label translate>Importance</label>
                    <md-radio-button ng-value="1"><span class="anr-importance">&bull;</span> {{ 'Useful information for safety, advice' | translate }}</md-radio-button>
                    <md-radio-button ng-value="2"><span class="anr-importance">&bull;&bull;</span> {{ 'Recommendation which requires a dedicated action to solve a vulnerability or a missing best practice' | translate }}</md-radio-button>
                    <md-radio-button ng-value="3"><span class="anr-importance">&bull;&bull;&bull;</span> {{ 'Priority recommendation' | translate }}</md-radio-button>
                </md-radio-group>

                <md-input-container class="md-block">
                    <label translate>Description</label>
                    <md-icon>description</md-icon>
                    <textarea rows="3" ng-model="recommandation.recommandation.description"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="deleteRecommandation($event, recommandation)" ng-if="recommandation.recommandation.id && !isRecoContext" type="submit" class="md-warn md-hue-3">
                {{ 'Delete' | translate }}
            </md-button>
            <md-button ng-if="recommandation.recommandation.id && !isRecoContext" ng-click="detachRecommandation($event, recommandation)">{{ 'Detach' | translate }}</md-button>
            <!-- <md-button ng-if="!recommandation.recommandation.id && recommandation.recommandation.code && !isRecoContext" ng-click="copyRecommandation($event, recommandation)">{{ 'Copy' | translate }}</md-button> -->
            <md-button ng-if="recommandation.recommandation.id && !isRecoContext" ng-click="copyRecommandation($event, recommandation)">{{ 'Copy' | translate }}</md-button>
            <md-button ng-click="create()" ng-disabled="riskForm.$invalid" type="submit" class="md-accent md-hue-3">
                {{ (recommandation.recommandation.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
