<md-dialog md-theme="light" class="dialog-width">
    <form name="measureForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!instance.id" translate>Add an asset</h2>
                <h2 ng-if="instance.id" translate>Edit asset</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">

                    <div layout="column">
                        <p style="height: 93px;">&nbsp;</p>
                        <div layout="column" style="border: 1px solid #DFDFDF; padding: 1em; margin-left: 20px; margin-right: 20px;">
                            <p>
                                <span title="{{scaleCommCache[1][calculeImpact('c')]}}"><b>{{ 'Confidentiality' | translate }}</b><br /> <br style="line-height: 36px" /></span>
                                <span title="{{scaleCommCache[2][calculeImpact('i')]}}"><b>{{ 'Integrity' | translate }}</b><br /> <br style="line-height: 36px" /></span>
                                <span title="{{scaleCommCache[3][calculeImpact('d')]}}"><b>{{ 'Availability' | translate }}</b><br style="line-height: 19px" /></span>
                            </p>
                        </div>
                    </div>
                    <div layout="column" style="flex-grow: 1; margin-right: 20px;">
                        <div layout="row" style="align-items: center;">
                            <h4 translate style="flex-grow: 1;">Consequences</h4>
                            <md-switch style="margin:0px; height: auto; line-height: auto;" ng-model="display.hidden" ng-true-value="true" ng-false-value="false">{{ 'Show hidden consequences' | translate }}</md-switch>
                        </div>
                        <div layout="row" style="border: 1px solid #DFDFDF; padding: 1em; text-align: center;">
                            <div layout="column" ng-repeat="(idx, col) in instance.consequences" ng-if="!col.isHidden || display.hidden">
                                <p>{{ _langField(col,'scaleImpactTypeDescription') }} <md-button class="md-icon-button" ng-click="setConsequenceVisibility(col.id, !!col.isHidden)"><md-icon>{{ col.isHidden ? 'visibility_off' : 'visibility' }}</md-icon></md-button></p>
                                <md-input-container style="margin: 8px 0">
                                    <md-select ng-model="instance.consequences[idx].c_risk" ng-disabled="col.isHidden" aria-label="C" title="{{scaleCommCache[col.scaleImpactType][instance.consequences[idx].c_risk]}}">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val" title="{{scaleCommCache[col.scaleImpactType][val]}}">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin: 8px 0">
                                    <md-select ng-model="instance.consequences[idx].i_risk" ng-disabled="col.isHidden" aria-label="I" title="{{scaleCommCache[col.scaleImpactType][instance.consequences[idx].i_risk]}}">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val" title="{{scaleCommCache[col.scaleImpactType][val]}}">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container style="margin: 8px 0">
                                    <md-select ng-model="instance.consequences[idx].d_risk" ng-disabled="col.isHidden" aria-label="D" title="{{scaleCommCache[col.scaleImpactType][instance.consequences[idx].d_risk]}}">
                                        <md-option value="-1">{{ 'Unknown' | translate }}</md-option>
                                        <md-option ng-repeat="val in range(scales.impacts.min, scales.impacts.max)" ng-value="val" title="{{scaleCommCache[col.scaleImpactType][val]}}">{{val}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div layout="column">
                        <br style="line-height: 46px" />
                        <div layout="column" style="border: 1px solid #DFDFDF; padding: 1em; text-align: center; margin-right: 20px;">
                            <p>
                                <br style="line-height: 0px" />
                                <span>{{ 'Max' | translate }}<br style="line-height: 57px" /></span>
                                <span title="{{scaleCommCache[1][calculeImpact('c')]}}"><b>{{ calculeImpact('c') > -1 ? (calculeImpact('c') | dashnull) : '-' }}</b><br style="line-height: 50px" /></span>
                                <span title="{{scaleCommCache[2][calculeImpact('i')]}}"><b>{{ calculeImpact('i') > -1 ? (calculeImpact('i') | dashnull) : '-'}}</b><br style="line-height: 50px" /></span>
                                <span title="{{scaleCommCache[3][calculeImpact('d')]}}"><b>{{ calculeImpact('d') > -1 ? (calculeImpact('d') | dashnull) : '-' }}</b><br style="line-height: 19px" /></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="measureForm.$error.required" class="md-accent md-hue-3">
                {{ (instance.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
