<md-dialog md-theme="light" class="dialog-width">
    <form name="measureForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!measure.uuid" translate>Add a control</h2>
                <h2 ng-if="measure.uuid" translate>Edit control</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-card ng-if="!measure.uuid">
                  <md-button ng-if="OFFICE_MODE == 'FO'" class="md-primary" ng-click="importFile($event,'Controls')"  ng-controller="AnrKbMgmtCtrl">
                      <md-icon>play_for_work</md-icon><span>{{ 'Import from file' | translate }}</span>
                  </md-button>
                  <md-button ng-if="OFFICE_MODE == 'BO'" class="md-primary" ng-click="importFile($event,'Controls')"  ng-controller="BackofficeKbInfoCtrl">
                      <md-icon>play_for_work</md-icon><span>{{ 'Import from file' | translate }}</span>
                  </md-button>
                </md-card>
                <md-input-container class="md-block"  ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(index, lang) in $root.languages" value="{{ index }}">
                        <span class="fi fi-{{ $root.languages[index].flag }}"></span>
                        {{ $root.languages[index].name | translate }}
                      </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Referential</label>
                    <md-icon>label</md-icon>
                    <input ng-model="measure.referential['label' + language ]" name="referential" ng-disabled="measure.referential.uuid" required >
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="measure['label' + language ]" name="label" required>
                    <div ng-messages="measureForm.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Code</label>
                    <md-icon>language</md-icon>
                    <input ng-model="measure.code" name="code" required>
                    <div ng-messages="measureForm.code.$error">
                        <div ng-message="required">{{ 'The code may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <div class="md-block" layout="column" flex>
                    <div layout="row" layout-align="center center">
                        <md-icon style="margin-right: 8px;">turned_in</md-icon>
                        <md-autocomplete
                                flex
                                required
                                md-input-name="category"
                                md-no-cache="true"
                                md-selected-item="measure.category"
                                md-search-text="categorySearchText"
                                md-items="item in queryCategorySearch(categorySearchText)"
                                md-item-text="item['label' + language]"
                                md-min-length="0"
                                md-selected-item-change="selectedCategoryItemChange(item)"
                                md-floating-label="{{ 'Category' | translate }}">
                            <md-item-template>
                                <span md-highlight-text="categorySearchText" md-highlight-flags="^i">{{item['label' + language]}}</span>
                            </md-item-template>
                            <div ng-messages="measureForm.category.$error">
                                <div ng-message="required">{{ 'The category may not be empty' | translate }}</div>
                            </div>

                            <md-not-found>
                                {{ 'No category matching your search was found. Click on' | translate }}
                                <md-icon class="md-primary">add_to_photos</md-icon>
                                {{ 'to create it.' | translate }}
                            </md-not-found>
                        </md-autocomplete>

                        <md-button class="md-icon-button md-primary" ng-click="createNewCategory($event, measure.referential.uuid, category, categorySearchText)" ng-show="!measure.category.id && categorySearchText">
                          <md-tooltip md-direction="left">
                              {{ 'Add a category' | translate }}
                          </md-tooltip>
                            <md-icon>add_to_photos</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-primary" ng-click="editCategory($event, measure.referential.uuid, measure.category)" ng-show="measure.category.id">
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn" ng-click="deleteCategory($event,measure.category)" ng-show="measure.category.id">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </div>
                </div>
              </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="measureForm.$error.required || !measure.category.id" type="submit" class="md-accent md-hue-3">
                {{ (measure.uuid ? 'Save' : 'Create') | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="measureForm.$error.required || !measure.category.id" ng-if="!measure.uuid" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
