<md-dialog md-theme="light" class="dialog-width">
    <form name="threatForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!threat.id" translate>Add a threat</h2>
                <h2 ng-if="threat.id" translate>Edit threat</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-card ng-if="!threat.id">
                  <md-button ng-if="OFFICE_MODE == 'FO'" class="md-primary" ng-click="importFile($event,'Threats')"  ng-controller="AnrKbMgmtCtrl">
                      <md-icon>play_for_work</md-icon><span>{{ 'Import from file' | translate }}</span>
                  </md-button>
                  <md-button ng-if="OFFICE_MODE == 'BO'" class="md-primary" ng-click="importFile($event,'Threats')"  ng-controller="BackofficeKbInfoCtrl">
                      <md-icon>play_for_work</md-icon><span>{{ 'Import from file' | translate }}</span>
                  </md-button>
                </md-card>
                <md-subheader>{{ 'Labels and descriptions' | translate }}</md-subheader>

                <md-input-container class="md-block" ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(lang_idx, lang) in languages" value="{{ lang_idx }}" ng-controller="BackofficeAccountCtrl">
                        <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                        {{ languagesNames[lang_idx] }}
                      </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="threat['label' + language ]" name="label" required>
                    <div ng-messages="threatForm.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Description</label>
                    <md-icon>subject</md-icon>
                    <textarea ng-model="threat['description' + language]" rows="4"></textarea>
                </md-input-container>

                <md-subheader>{{ 'General information' | translate }}</md-subheader>

                <div class="md-block" layout="column" flex>
                    <div layout="row" layout-align="center center">
                        <md-icon style="margin-right: 8px;">class</md-icon>
                        <md-autocomplete
                                flex
                                required
                                md-input-name="theme"
                                md-no-cache="true"
                                md-selected-item="threat.theme"
                                md-search-text="themeSearchText"
                                md-items="item in queryThemeSearch(themeSearchText)"
                                md-item-text="item['label' + language]"
                                md-min-length="0"
                                md-selected-item-change="selectedThemeItemChange(item)"
                                md-floating-label="{{ 'Theme' | translate }}">
                            <md-item-template>
                                <span md-highlight-text="themeSearchText" md-highlight-flags="^i">{{item['label' + language]}}</span>
                            </md-item-template>

                            <md-not-found>
                                {{ 'No theme matching your search was found. Click on' | translate }}
                                <md-icon>add_to_photos</md-icon>
                                {{ 'to create it.' | translate }}
                            </md-not-found>

                            <div ng-messages="threatForm.theme.$error">
                                <div ng-message="required">{{ 'The theme may not be empty' | translate }}</div>
                            </div>
                        </md-autocomplete>

                        <md-button class="md-icon-button md-primary" ng-click="createNewTheme($event)" ng-show="!threat.theme.id">
                          <md-tooltip md-direction="left">
                              {{ 'Add a theme' | translate }}
                          </md-tooltip>
                            <md-icon>add_to_photos</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-primary" ng-click="editTheme($event,threat.theme)" ng-show="threat.theme.id">
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn" ng-click="deleteTheme($event,threat.theme)" ng-show="threat.theme.id">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </div>
                </div>

                <md-input-container class="md-block" layout="row" ng-if="OFFICE_MODE == 'BO'" flex>
                    <label translate>Mode</label>
                    <md-icon>view_list</md-icon>
                    <md-select ng-model="threat.mode">
                        <md-option ng-value="0">{{ 'Generic' | translate }}</md-option>
                        <md-option ng-value="1">{{ 'Specific' | translate }}</md-option>
                    </md-select>
                </md-input-container>


                <md-input-container class="md-block" flex>
                    <label translate>Code</label>
                    <md-icon>language</md-icon>
                    <input ng-model="threat.code" name="code" required>
                    <div ng-messages="threatForm.code.$error">
                        <div ng-message="required">{{ 'The code may not be empty' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container layout="row">
                    <md-checkbox ng-model="threat.c" class="md-primary">C</md-checkbox>
                    <md-checkbox ng-model="threat.i" class="md-primary">I</md-checkbox>
                    <md-checkbox ng-model="threat.a" class="md-primary">{{ 'A' | translate }}</md-checkbox>
                </md-input-container>

                <div ng-if="OFFICE_MODE == 'BO'">
                    <md-subheader>{{ 'Specific models links' | translate }}</md-subheader>

                    <md-input-container class="md-block" layout="row" ng-if="models && models.length > 0" flex>
                        <label translate>Models</label>
                        <md-icon>class</md-icon>
                        <md-select multiple ng-disabled="threat.mode != 1" ng-model="threat.models">
                            <md-option ng-repeat="availModel in models" value="{{ availModel.id }}">{{ _langField(availModel,'label') }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-checkbox ng-model="threat.follow" ng-disabled="threat.mode != 1" ng-true-value="'1'" ng-false-value="'0'">{{ 'Force risks to follow trends' | translate }}</md-checkbox>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="threatForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ (threat.id > 0 ? 'Save' : 'Create') | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="threatForm.$error.required" ng-if="!threat.id" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
