<md-dialog md-theme="light" class="dialog-width">
    <form name="addRiScaleForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Add a scale</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block"  ng-hide="OFFICE_MODE == 'FO'" flex>
                    <label translate>Language</label>
                    <md-icon>language</md-icon>
                    <md-select ng-model="language" ng-change="switchLanguage()">
                      <md-option ng-repeat="(index, lang) in $root.languages" value="{{ index }}">
                        <span class="fi fi-{{ $root.languages[index].flag }}"></span>
                        {{ $root.languages[index].name | translate }}
                      </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label translate>Label</label>
                    <md-icon>label</md-icon>
                    <input ng-model="scale.label[languages[language].code]" name="label" required>
                    <div ng-messages="scale.label.$error">
                        <div ng-message="required">{{ 'The label may not be empty' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="addRiScaleForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ 'Create' | translate }}
            </md-button>
            <md-button ng-click="createAndContinue()" ng-disabled="addRiScaleForm.$error.required" class="md-accent md-hue-3">
                {{ 'Create and continue' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
