<md-dialog md-theme="light" class="dialog-width" ng-controller="DeliveriesModelsCtrl">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Deliverable</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label translate>Status</label>
                    <md-select ng-model="deliverable.status">
                        <md-option ng-value="0">{{ 'Draft' | translate}}</md-option>
                        <md-option ng-value="1">{{ 'Final' | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <div  layout="row" layout-align="space-between center">
                <md-input-container class="md-block" flex="{{step.num == 5 ? 75 : 100}}">
                  <label translate>Template</label>
                    <md-select ng-model="deliverable.template" name="template" ng-required="true">
                         <md-option ng-value="deliverymodel.id" ng-repeat="(index, deliverymodel) in deliveriesmodels" ng-if="deliverymodel.category===step.num && deliverymodel['path' + getAnrLanguage()]" ng-selected="$first">{{ _langField(deliverymodel, 'description') }}</md-option>
                    </md-select>
                    <div ng-messages="evalContextForm.template.$error" role="alert">
                        <div ng-message="required">{{ 'You must select a template' | translate }}</div>
                    </div>
                </md-input-container>
                <md-switch ng-show="step.num == 5" ng-model="deliverable.risksByControl" flex>{{ 'Risks by control' | translate }}</md-switch>
                </div>

                <md-input-container class="md-block">
                    <label translate>Version</label>
                    <input ng-model="deliverable.version">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate>Classification</label>
                    <input ng-model="deliverable.classification">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate>Document name</label>
                    <input ng-model="deliverable.docname">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate>Client manager(s)</label>
                    <input ng-model="deliverable.managers">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate>Security consultant(s)</label>
                    <input ng-model="deliverable.consultants">
                </md-input-container>

                <div ng-show="step.num == 3">
                    <p translate>Summary of risk evaluation:</p>
                    <md-card md-theme="light">
                        <md-card-content>
                            <trix-editor angular-trix ng-model="deliverable.summaryEvalRisk" style="min-height: 250px; min-width: 550px; border: 1px solid #AAAAAA;" class="md-padding"></trix-editor>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="save()" type="submit"  ng-disabled="evalContextForm.$error.required" class="md-accent md-hue-3">
                {{ 'Save' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
