<md-dialog md-theme="light" class="dialog-width">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>Detach object from risk analysis</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card class="md-card-crit">
                <md-card-content>
                    <p translate>You may not detach this object because it is currently instanced. Please clear the existing dependencies before detaching it.</p>
                </md-card-content>
            </md-card>
            <div ng-if="parents.length > 0">
                <p class="md-title" translate>This object is a direct child of the following object(s) in your analysis:</p>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span translate>Active parent</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="node in parents">
                        <td md-cell>{{ node[_langField('name')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" aria-title="{{ node[_langField('name')] }}" ui-sref="main.kb_mgmt.models.details.object({objectId: node.id})" ng-click="cancel()"><md-icon>folder_open</md-icon><md-tooltip md-direction="left">{{ node[_langField('name')] }}</md-tooltip></md-button>
                            <md-button class="md-icon-button" aria-title="{{ 'Detach' | translate }}" ng-click="detachObject($event, node)""><md-icon>content_cut</md-icon><md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="object.replicas.length > 0">
                <p class="md-title" translate>This object has the following instances in the risk analysis:</p>

                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span translate>Active parent</span></th>
                        <th md-column><span translate>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="node in object.replicas">
                        <td md-cell>{{ node[_langField('name')] }}</td>
                        <td md-cell>
                            <md-button class="md-icon-button" aria-title="{{ node[_langField('name')] }}" ui-sref="main.kb_mgmt.models.details.instance({instId: node.id})" ng-click="cancel()"><md-icon>folder_open</md-icon><md-tooltip md-direction="left">{{ node[_langField('name')] }}</md-tooltip></md-button>
                            <md-button class="md-icon-button" aria-title="{{ 'Detach' | translate }}" ng-click="detachInstance($event,node)""><md-icon>content_cut</md-icon><md-tooltip md-direction="left">{{ 'Detach' | translate }}</md-tooltip></md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            {{ 'Cancel' | translate }}
        </md-button>
        <md-button ng-click="detach()" type="submit" class="md-accent md-hue-3">
            {{ 'Force deletion' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
