<md-dialog class="dialog-width">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>Detach object from risk analysis</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card class="md-card-crit">
                <md-card-content>
                    <p translate>You may not detach this object because it is currently instanced. Please clear the existing dependencies before detaching it.</p>
                </md-card-content>
            </md-card>

            <p class="md-title" translate>This object has the following instances in the risk analysis:</p>
            <table class="md-html-table">
                <thead>
                <tr>
                    <th translate>Active parent</th>
                    <th style="width: 120px" translate>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>A &gt; B &gt; C</td>
                    <td layout="row" layout-align="center center">
                        <md-button class="md-icon-button">
                            <md-tooltip>{{ 'Open instance' | translate }}</md-tooltip>
                            <md-icon>open_in_new</md-icon>
                        </md-button>
                        <md-button class="md-icon-button">
                            <md-tooltip>{{ 'Detach instance' | translate }}</md-tooltip>
                            <md-icon>content_cut</md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            {{ 'Cancel' | translate }}
        </md-button>
        <md-button ng-click="detach()" type="submit" class="md-accent md-hue-3">
            {{ 'Force deletion' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
