<md-dialog class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ subStep.label }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding trix-margin">
            <md-card md-theme="light">
                <md-card-content layout="row">
                    <div flex>
                        <md-button class="trix-info-toolbar-button" ng-click="toggleGuide()"><md-icon>info</md-icon></md-button>
                        <trix-editor angular-trix ng-model="context.text" style="min-height: 250px; border: 1px solid #AAAAAA;" trix-initialize="trixInitialize(e, editor);" class="md-padding"></trix-editor>
                    </div>
                    <md-card style="max-width: 320px;" ng-if="guideVisible">
                        <div layout="row" layout-align="center center" ng-if="guide === undefined">
                            <md-progress-circular></md-progress-circular>
                        </div>
                        <md-card-content ng-if="guide !== undefined">
                            <p class="md-title" translate>Additional information</p>
                            <p>{{ guide[_langField('description')] }}</p>
                            <md-divider></md-divider>
                            <md-list>
                                <md-list-item ng-repeat="item in guide_items" ng-click="insertItem(item)"><p>{{ item[_langField('description')] }}</p></md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </md-card-content>
            </md-card>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-disabled="!isAnrReadOnly" ng-click="save()" type="submit" class="md-accent md-hue-3">
                {{ 'Update' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
