<md-dialog md-theme="light">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="mode == 'object'" translate>Export asset</h2>
                <h2 ng-if="mode == 'instance'" translate>Export asset</h2>
                <h2 ng-if="mode == 'anr'" translate>Export risk analysis</h2>
                <h2 ng-if="mode == 'asset'" translate>Export asset</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-init="export.simple_mode = true">
            <div class="md-dialog-content" layout="column" layout-align="start top">
                <md-subheader class="md-subheader">{{ 'Encryption' | translate }}</md-subheader>

                <p ng-if="mode == 'object'" translate>You may enter a password to protect your asset</p>
                <p ng-if="mode == 'instance'" translate>You may enter a password to protect your asset</p>
                <p ng-if="mode == 'anr'" translate>You may enter a password to protect your risk analysis</p>
                <p ng-if="mode == 'asset'" translate>You may enter a password to protect your asset</p>

                <md-radio-group ng-model="exportData.simple_mode">
                    <md-radio-button ng-value="false">{{ 'Custom password' | translate }}</md-radio-button>

                    <div layout="row" layout-align="center center">
                        <md-input-container class="md-block" ng-init="display.password_type = 'password'" flex>
                            <label translate>Password</label>
                            <input type="{{ display.password_type }}" ng-disabled="exportData.simple_mode" ng-model="exportData.password">
                        </md-input-container>
                        <md-button class="md-icon-button" ng-disabled="exportData.simple_mode" ng-show="display.password_type == 'password'" ng-click="display.password_type = 'text'"><md-icon>visibility</md-icon></md-button>
                        <md-button class="md-icon-button" ng-disabled="exportData.simple_mode" ng-show="display.password_type == 'text'" ng-click="display.password_type = 'password'"><md-icon>visibility_off</md-icon></md-button>
                    </div>

                    <md-radio-button ng-value="true">
                        {{ 'Without password' | translate }}
                    </md-radio-button>
                </md-radio-group>

                <md-subheader ng-if="mode == 'anr' || mode == 'instance'">{{ 'Export options' | translate }}</md-subheader>

                <md-input-container class="md-block" flex ng-if="mode == 'anr' || mode == 'instance'">
                    <label translate>Export with assessments?</label>
                    <md-select ng-model="exportData.assessments" style="min-width: 200px">
                        <md-option ng-value="1">{{ 'Yes' | translate }}</md-option>
                        <md-option ng-value="0">{{ 'No' | translate }}</md-option>
                    </md-select>
                </md-input-container>
                <div ng-if="exportData.assessments" == 1 layout="column" class="md-block" flex>
                  <label translate>Options</label>
                  <div layout="row">
                      <div>
                        <md-switch ng-if="mode == 'anr'" ng-model="exportData.methodSteps">{{ 'Method steps' | translate }}</md-switch>
                        <md-switch ng-if="mode == 'anr'" ng-model="exportData.interviews">{{ 'Interviews' | translate }}</md-switch>
                      </div>
                      <div>
                        <md-switch ng-model="exportData.controls">{{ 'Existing controls' | translate }}</md-switch>
                        <md-switch ng-model="exportData.recommendations">{{ 'Recommendations' | translate }}</md-switch>
                      </div>
                  </div>
                  <div layout="row">
                      <div>
                        <md-switch ng-if="mode == 'anr'" ng-model="exportData.soas">{{ 'Statement of applicability' | translate }}</md-switch>
                        <md-switch ng-if="mode == 'anr'" ng-model="exportData.records">{{ 'Record of processing activities' | translate }}</md-switch>
                      </div>
                  </div>
                </div>


            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="export()" class="md-primary">
                {{ 'Export' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
