<md-dialog class="dialog-width">
    <form name="measureForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Asset import center</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="dialog_mode == null">
                    <p translate>You may import an asset:</p>
                    <ul>
                        <li><p translate>from a file (<b>warning:</b> You may only import an asset from a file if the source software version is compatible with yours),</p></li>
                        <li><p translate>from MONARC library: you can access the MONARC database directly to benefit from latest CASES team changes.</p></li>
                    </ul>
                </div>

                <div layout="row" ng-show="dialog_mode == null">
                    <md-button flex ng-click="dialog_mode = 'file'" class="md-raised">{{ 'Import from file' | translate }}</md-button>
                    <md-button flex ng-click="dialog_mode = 'common'" class="md-raised">{{ 'Import from MONARC library' | translate }}</md-button>
                </div>

                <div ng-if="dialog_mode == 'file'">
                    <input type="file" name="file" ngf-drop ngf-select ng-repeat="i in range(0, file_range)" ng-model="file[i]" class="md-upload-dropbox md-upload-dropbox-dark md-padding md-whiteframe-3dp"
                           ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false">
                    </input>

                    <md-input-container class="md-block">
                        <md-icon>vpn_key</md-icon>
                        <label translate>Assets password (if any)</label>
                        <input type="import.password">
                    </md-input-container>

                    <div layout="row" layout-align="end center">
                        <md-button ng-click="upgradeFileRange()"><md-icon>add</md-icon> {{ 'Add another file' | translate }}</md-button>
                        <md-button ng-click="uploadFile(file)"><md-icon>file_download</md-icon> {{ 'Import files' | translate }}</md-button>
                    </div>
                </div>

                <div ng-if="dialog_mode == 'common'">
                    <p class="md-title" translate>List of common MONARC assets</p>
                    <table class="md-html-table">
                        <thead>
                        <tr>
                            <th translate>Type</th>
                            <th translate>Code</th>
                            <th translate>Label</th>
                            <th translate>Description</th>
                            <th translate>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="asset in assets">
                            <td>{{ assetTypeStr(asset.type) }}</td>
                            <td>{{ asset.code }}</td>
                            <td>{{ asset[_langField('label')] }}</td>
                            <td>{{ asset[_langField('description')] }}</td>
                            <td class="txtcenter"><md-button ng-click="openAssetDetails(asset)" class="md-icon-button"><md-icon>open_in_new</md-icon></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="dialog_mode == 'asset_details'">
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" ng-click="closeAssetDetails()"><md-icon>arrow_back</md-icon></md-button>
                        <p class="md-title">{{ asset_details.code }} - {{ asset_details[_langField('label')] }}</p>
                    </div>

                    <p><strong translate>Type:</strong> {{ assetTypeStr(asset_details.type) }}</p>
                    <p>{{ asset_details[_langField('description')] }}</p>

                    <md-button class="md-raised md-primary" ng-click="importAssetCommon()">{{ 'Import this asset' | translate }}</md-button>

                    <p class="md-title" translate>List of risks</p>

                    <table class="md-html-table">
                        <thead>
                        <tr>
                            <th translate>Threat</th>
                            <th translate>Vulnerability</th>
                            <th translate>Measure 1</th>
                            <th translate>Measure 2</th>
                            <th translate>Measure 3</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="risk in asset_details.amvs">
                            <td>{{ risk.threat.code }} - {{ risk.threat[_langField('label')] }}</td>
                            <td>{{ risk.vulnerability.code }} - {{ risk.vulnerability[_langField('label')] }}</td>
                            <td>{{ risk.measure1.code }} - {{ risk.measure1[_langField('description')] }}</td>
                            <td>{{ risk.measure2.code }} - {{ risk.measure2[_langField('description')] }}</td>
                            <td>{{ risk.measure3.code }} - {{ risk.measure3[_langField('description')] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
