<md-dialog md-theme="light" class="dialog-width">
    <form name="measureForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Object import center</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-radio-group ng-model="import.mode">
                    <b><label translate>Import method:</label></b>
                    <md-radio-button value="duplicate" style="margin-top: 10px;">{{ 'By duplicating' | translate }}</md-radio-button>
                    <md-radio-button value="merge">{{ 'By merging' | translate }}</md-radio-button>
                </md-radio-group>

                <md-card class="md-card-info">
                    <md-card-content translate>
                        Only global objects can be imported by merge.
                    </md-card-content>
                </md-card>

                <div layout="row" ng-show="dialog_mode == null">
                    <md-button flex ng-click="dialog_mode = 'file'" class="md-raised">{{ 'Import from file' | translate }}</md-button>
                    <md-button flex ng-click="openCommonList()" class="md-raised">{{ 'Import from MONARC library' | translate }}</md-button>
                </div>

                <div ng-if="dialog_mode == 'file'" layout="column">
                    <input type="file" name="file" ngf-drop ngf-select ng-repeat="i in range(0, file_range)" ng-model="file[i]" class="md-upload-dropbox md-padding md-whiteframe-3dp"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false">
                    </input>

                    <md-input-container class="md-block">
                        <md-icon>vpn_key</md-icon>
                        <label translate>Objects password (if any)</label>
                        <input ng-model="import.password" type="password">
                    </md-input-container>

                    <div layout="row" layout-align="end center">
                        <md-button ng-click="upgradeFileRange()"><md-icon>add</md-icon> {{ 'Add another file' | translate }}</md-button>
                        <md-button ng-click="uploadFile(file)"><md-icon>file_download</md-icon> {{ 'Import file' | translate }}</md-button>
                    </div>
                </div>

                <div ng-if="dialog_mode == 'common'">
                    <p class="md-title" translate>List of common MONARC objects</p>
                    <table class="md-html-table">
                        <thead>
                        <tr>
                            <th translate>Category</th>
                            <th translate>Label</th>
                            <th translate>Name</th>
                            <th translate>Scope</th>
                            <th translate>Asset</th>
                            <th translate>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="object in objects">
                            <td>{{ _langField(object.category,'label') }}</td>
                            <td>{{ _langField(object,'label') }}</td>
                            <td>{{ _langField(object,'name') }}</td>
                            <td ng-if="object.scope == 1" translate>Local</td>
                            <td ng-if="object.scope == 2" translate>Global</td>
                            <td>{{ _langField(object.asset,'label') }} - {{ _langField(object.asset,'description') }}</td>
                            <td class="txtcenter"><md-button ng-click="openObjectDetails(object)" class="md-icon-button"><md-icon>open_in_new</md-icon></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="dialog_mode == 'object_details'">
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button" ng-click="closeObjectDetails()"><md-icon>arrow_back</md-icon></md-button>
                        <p class="md-title">{{ _langField(object_details,'name') }} - {{ _langField(object_details,'label') }}</p>
                    </div>

                    <p><strong translate>Scope:</strong> {{ (object_details.scope == 1 ? 'Local' : 'Global') | translate }}</p>
                    <p><strong translate>Category:</strong> {{ _langField(object_details.category,'label') }}</p>
                    <p><strong translate>Asset:</strong> {{ _langField(object_details.asset,'label') }}</p>

                    <md-button class="md-raised md-primary" ng-click="importObjectCommon()">{{ 'Import this object' | translate }}</md-button>
                </div>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
