<md-dialog md-theme="light" class="dialog-width">
    <form name="ImportCsvForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>File import center</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content" layout="row">
            <div flex>
              <div layout="row" layout-align="space-between center">
                <input type="file"
                       on-read-file="parseFile($fileContent)"
                       accept=".csv, .xls, .xlsx, .ods, .json"
                       title="File types supported: .csv, .xlsx, .ods, .json"
                       class="md-upload-dropbox md-padding md-whiteframe-3dp">
                </input>
                <md-button class="ng-scope md-light-theme material-icons md-primary" ng-click="toggleGuide()"><md-icon>info</md-icon></md-button>
              </div>
              <md-input-container class="md-block" ng-hide="OFFICE_MODE == 'FO'" flex>
                  <label translate>Language</label>
                  <md-icon>language</md-icon>
                  <md-select ng-model="language" ng-change="switchLanguage()">
                    <md-option ng-repeat="(index, lang) in $root.languages" value="{{ index }}">
                      <span class="fi fi-{{ $root.languages[index].flag }}"></span>
                      {{ $root.languages[index].name | translate }}
                    </md-option>
                  </md-select>
              </md-input-container>
              <div layout="row" layout-align="space-between center">
                <span class="md-subhead md-padding-left">{{ importData ? importData.length : 0 }} {{ tab |translate }}</span>
                <div>
                      <md-button class="md-primary" ng-disabled="check || !importData || isProcessing" ng-click="uploadFile($event)">
                      <md-icon>file_download</md-icon>
                      {{ 'Import file' | translate }}
                      </md-button>
                </div>
              </div>

              <table class="md-html-table big-border-all">
                  <thead class="big-border-bottom">
                    <tr ng-if="tab=='Information risks'">
                      <th colspan="3" class="big-border-left"><p>asset</p></th>
                      <th colspan="7" class="big-border-left"><p>threat</p></th>
                      <th colspan="3" class="big-border-left"><p>vulnerability</p></th>
                    </tr>
                    <tr >
                      <th ng-if="items[tab].asset_code" colspan="1" class="big-border-left"><p>code</p></th>
                      <th ng-if="items[tab].asset_label && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>label</p></th>
                      <th ng-if="items[tab].asset_label && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'label' + language}}</p></th>
                      <th ng-if="items[tab].asset_description && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>description</p></th>
                      <th ng-if="items[tab].asset_description && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'description' + language}}</p></th>
                      <th ng-if="items[tab].threat_code" colspan="1" class="big-border-left"><p>code</p></th>
                      <th ng-if="items[tab].threat_label && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>label</p></th>
                      <th ng-if="items[tab].threat_label && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>label</p></th>
                      <th ng-if="items[tab].threat_description && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>description</p></th>
                      <th ng-if="items[tab].threat_description && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'description' + language}}</p></th>
                      <th ng-if="items[tab].threat_c" colspan="1" class="big-border-left"><p>c</p></th>
                      <th ng-if="items[tab].threat_i" colspan="1" class="big-border-left"><p>i</p></th>
                      <th ng-if="items[tab].threat_a" colspan="1" class="big-border-left"><p>a</p></th>
                      <th ng-if="items[tab].theme && OFFICE_MODE == 'FO' && tab=='Information risks'" colspan="1" class="big-border-left"><p>theme</p></th>
                      <th ng-if="items[tab].theme && OFFICE_MODE == 'BO' && tab=='Information risks'" colspan="1" class="big-border-left"><p>{{'theme' + language}}</p></th>
                      <th ng-if="items[tab].vulnerability_code" colspan="1" class="big-border-left"><p>code</p></th>
                      <th ng-if="items[tab].vulnerability_label && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>label</p></th>
                      <th ng-if="items[tab].vulnerability_label && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'label' + language}}</p></th>
                      <th ng-if="items[tab].vulnerability_description && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>description</p></th>
                      <th ng-if="items[tab].vulnerability_description && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'description' + language}}</p></th>
                      <th ng-if="items[tab].code" colspan="1" class="big-border-left"><p>code</p></th>
                      <th ng-if="items[tab].name && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'name' + language}}</p></th>
                      <th ng-if="items[tab].label && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'label' + language}}</p></th>
                      <th ng-if="items[tab].label && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>label</p></th>
                      <th ng-if="items[tab].description && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'description' + language}}</p></th>
                      <th ng-if="items[tab].description && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>description</p></th>
                      <th ng-if="items[tab].asset_type && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>asset type code</p></th>
                      <th ng-if="items[tab].type" colspan="1" class="big-border-left"><p>type</p></th>
                      <th ng-if="items[tab].c" colspan="1" class="big-border-left"><p>c</p></th>
                      <th ng-if="items[tab].i" colspan="1" class="big-border-left"><p>i</p></th>
                      <th ng-if="items[tab].a" colspan="1" class="big-border-left"><p>a</p></th>
                      <th ng-if="items[tab].scope" colspan="1" class="big-border-left"><p>scope</p></th>
                      <th ng-if="items[tab].mode" colspan="1" class="big-border-left"><p>mode</p></th>
                      <th ng-if="items[tab].theme && OFFICE_MODE == 'BO' && tab=='Threats'" colspan="1" class="big-border-left"><p>{{'theme' + language}}</p></th>
                      <th ng-if="items[tab].theme && OFFICE_MODE == 'FO' && tab=='Threats'" colspan="1" class="big-border-left"><p>theme</p></th>
                      <th ng-if="items[tab].rolfTag" colspan="1" class="big-border-left"><p>operational risk tag</p></th>
                      <th ng-if="items[tab].category && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>category</p></th>
                      <th ng-if="items[tab].category && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'category' + language}}</p></th>
                      <th ng-if="items[tab].tag && OFFICE_MODE == 'FO'" colspan="1" class="big-border-left"><p>tag</p></th>
                      <th ng-if="items[tab].tag && OFFICE_MODE == 'BO'" colspan="1" class="big-border-left"><p>{{'tag' + language}}</p></th>
                      <th ng-if="items[tab].importance" colspan="1" class="big-border-left"><p>importance</p></th>
                      <th ng-if="items[tab].control" colspan="1" class="big-border-left"><p>control</p></th>
                      <th ng-if="items[tab].match" colspan="1" class="big-border-left"><p>match</p></th>
                      <th ng-if="importData.length > 0 && check" colspan="1" class="big-border-left"><p>error</p></th>
                    </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="input in importData" ng-if="!isProcessing">
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_code">{{input['asset code']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_label && OFFICE_MODE == 'FO'">{{input['asset label']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_label && OFFICE_MODE == 'BO'">{{input['asset label' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_description && OFFICE_MODE == 'FO'">{{input['asset description']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_description && OFFICE_MODE == 'BO'">{{input['asset description' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_code">{{input['threat code']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_label && OFFICE_MODE == 'FO'">{{input['threat label']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_label && OFFICE_MODE == 'BO'">{{input['threat label' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_description && OFFICE_MODE == 'FO'">{{input['threat description']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_description && OFFICE_MODE == 'BO'">{{input['threat description' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_c">{{input['threat c']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_i">{{input['threat i']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].threat_a">{{input['threat a']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].theme && OFFICE_MODE == 'FO' && tab=='Information risks'"><span ng-class="{'md-mandatory-field': input.alert}">{{input['threat theme']}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].theme && OFFICE_MODE == 'BO' && tab=='Information risks'"><span ng-class="{'md-mandatory-field': input.alert}">{{input['threat theme label' + language]}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].vulnerability_code">{{input['vulnerability code']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].vulnerability_label && OFFICE_MODE == 'FO'">{{input['vulnerability label']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].vulnerability_label && OFFICE_MODE == 'BO'">{{input['vulnerability label' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].vulnerability_description && OFFICE_MODE == 'FO'">{{input['vulnerability description']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].vulnerability_description && OFFICE_MODE == 'BO'">{{input['vulnerability description' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].code">{{input.code}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].name && OFFICE_MODE == 'BO'">{{input['name' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].name && OFFICE_MODE == 'FO'">{{input.name}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].label && OFFICE_MODE == 'BO'">{{input['label' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].label && OFFICE_MODE == 'FO'">{{input.label}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].description && OFFICE_MODE == 'BO'">{{input['description' + language]}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].description && OFFICE_MODE == 'FO'">{{input.description}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].asset_type">{{input['asset type code']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].type">{{input.type}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].c">{{input.c}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].i">{{input.i}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].a">{{input.a}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].scope">{{input.scope}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].mode">{{input.mode}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].importance"><span class="anr-importance" ng-repeat="i in range(1, input.importance)">&bull;</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].theme && OFFICE_MODE == 'FO' && tab=='Threats'"><span ng-class="{'md-mandatory-field': input.alert}">{{input.theme}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].theme && OFFICE_MODE == 'BO' && tab=='Threats'"><span ng-class="{'md-mandatory-field': input.alert}">{{input['theme label' + language]}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].rolfTag">{{input['operational risk tag']}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].category && OFFICE_MODE == 'FO'"><span ng-class="{'md-mandatory-field': input.alert}">{{input.category}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].category && OFFICE_MODE == 'BO'"><span ng-class="{'md-mandatory-field': input.alert}">{{input['category label' + language]}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].tag && OFFICE_MODE == 'FO'"><span ng-class="{'md-mandatory-field': input.alert}">{{input.tag}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].tag && OFFICE_MODE == 'BO'"><span ng-class="{'md-mandatory-field': input.alert}">{{input['tag label' + language]}}</span></td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].control">{{input.control}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="items[tab].match">{{input.match}}</td>
                    <td ng-class="{'md-mandatory-field': input.error}" ng-if="importData.length > 0 && check" class="preserve-newlines">{{input.error}}</td>
                  </tr>
                  </tbody>
              </table>
            </div>
            <md-card style="max-width: 320px;" ng-if="guideVisible">
                <md-card-content >
                    <p class="md-title" translate>File Schema (csv, xlsx, ods)</p>
                    <md-list>
                        <md-list-item ng-repeat="item in items[tab]" >
                          <div class="md-list-item-text">
                            <b class="preserve-newlines">{{!item.field.includes('label') ||
                                                           OFFICE_MODE == 'FO' ? item.field : item.fieldBis}}</b>
                            <span>[<i>{{item.type}}</i>]</span>
                            <span class="md-mandatory-field" ng-if="item.required">*</span>
                            <p ng-if="!item.field.includes('theme') && !item.field.includes('category') && !item.field.includes('tag')"><span translate>Example:</span><i class="preserve-newlines">{{item.example}}</i></p>
                            <div ng-if="item.field.includes('theme') || item.field.includes('category') || item.field.includes('tag')">
                              <p ng-if="item.field.includes('theme')" translate>List of themes:</p>
                              <p ng-if="item.field.includes('category') && tab!=='Assets library'" translate>List of categories:</p>
                              <p ng-if="item.field.includes('category') && tab=='Assets library'">
                                <span translate>Multiple categories must be separated by a "double greater than"</span> (>>)<br>
                                <span translate>Ex: Category1/ Category2/ Category3</span><br><br>
                                <span translate>List of categories:</span>
                              </p>
                              <p ng-if="item.field.includes('tag')">
                                <span translate>Multiple tags must be separated by a slash</span> (/)<br>
                                <span translate>Ex: Tag1/Tag2/Tag3</span><br><br>
                                <span translate>List of tags:</span>
                              </p>
                              <p class="md-theme-list" ng-repeat="externalItem in actualExternalItems">{{externalItem['label' + language]}}</p>
                            </div>
                          </div>
                        </md-list-item>
                    </md-list>
                    <p class="md-mandatory-field txtright">* <span translate>Mandatory field</span></p>
                    <p class="md-mandatory-field txtright" ng-if="OFFICE_MODE == 'BO'">1:FR,2:EN,3:DE,4:NL</p>
                </md-card-content>
                <md-card-actions align="right">
                    <md-button class="md-primary" ng-click="downloadExempleFile()">
                    <md-icon>file_download</md-icon>
                    {{ 'Example File' | translate }}
                    </md-button>
                </md-card-actions>
            </md-card>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
