<md-dialog md-theme="light" class="dialog-width">
    <form name="importSoaForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Import a Statement of applicability</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
              <md-card class="md-card-info">
                  <md-card-content translate>
                      <h3> Import Rules</h3>
                      <p> bla bla bla </p>
                  </md-card-content>
              </md-card>
                <md-subheader class="md-subheader">{{ 'From referential' | translate }}</md-subheader>
                <md-select ng-model="importSoa.refSelected" placeholder="{{ 'Select a referential' | translate }}" required>
                  <md-option ng-repeat="ref in referentials" ng-value="ref.uniqid" ng-if="ref.uniqid != referential">
                    {{ _langField(ref,'label') }}
                  </md-option>
                </md-select>
                <div ayout="column" class="md-block" flex>
                    <md-subheader class="md-subheader">{{ 'Import Options' | translate }}</md-subheader>
                    <div layout="row">
                        <div>
                          <md-switch ng-model="importSoa.justification">{{ 'Inclusion/Exclusion' | translate }}</md-switch>
                          <md-switch ng-model="importSoa.remarks">{{ 'Remarks' | translate }}</md-switch>
                        </div>
                        <div>
                          <md-switch ng-model="importSoa.evidences">{{ 'Evidences' | translate }}</md-switch>
                          <md-switch ng-model="importSoa.actions">{{ 'Actions' | translate }}</md-switch>
                        </div>
                        <div>
                          <md-switch ng-model="importSoa.compliance">{{ 'Level of compliance' | translate }}</md-switch>
                          <md-radio-group  ng-if="importSoa.compliance" ng-model="importSoa.calcul">
                              <md-radio-button value="average">{{ 'Average of levels' | translate }}</md-radio-button>
                              <md-radio-button value="worse">{{ 'Worse level' | translate }}</md-radio-button>
                          </md-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
            <md-button ng-click="create()" ng-disabled="importSoaForm.$error.required" type="submit" class="md-accent md-hue-3">
                {{ 'Import' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
