<md-dialog md-theme="light">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Asset import center</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="dialog_mode">
                    <md-radio-group ng-model="import.mode">
                        <b><label translate>Import method:</label></b>
                        <md-radio-button value="duplicate" style="margin-top: 10px;">{{ 'By duplicating' | translate }}</md-radio-button>
                        <md-radio-button value="merge">{{ 'By merging' | translate }}</md-radio-button>
                    </md-radio-group>

                    <md-card class="md-card-info">
                        <md-card-content translate>
                            Only global assets can be imported by merge.
                        </md-card-content>
                    </md-card>
                </div>
                <div layout="column" ng-show="!dialog_mode">
                    <md-button flex ng-click="importFile($event,'Assets library')" ng-controller="AnrKbMgmtCtrl" class="md-raised">{{ 'CSV file'  | translate }}</md-button>
                    <md-button flex ng-click="dialog_mode = 'file'" class="md-raised">{{ 'MONARC export file ' | translate }}</md-button>
                    <md-button flex ng-click="openCommonList()" class="md-raised">{{ 'MONARC library' | translate }}</md-button>
                </div>

                <div ng-if="dialog_mode == 'file'">

                <input type="file" name="file" ngf-drop ngf-select ng-repeat="i in range(0, file_range)"
                       ng-model="file[i]"
                       class="md-upload-dropbox md-padding md-whiteframe-3dp"
                       ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false">
                </input>

                    <md-input-container class="md-block">
                        <md-icon>vpn_key</md-icon>
                        <label translate>Asset password (if any)</label>
                        <input ng-model="import.password" type="password">
                    </md-input-container>

                    <div layout="row" layout-align="end center">
                        <md-button ng-disabled="file.length < 1" ng-show="!isImportingIn" ng-click="uploadFile(file)"><md-icon>file_download</md-icon> {{ 'Import a file' | translate }}</md-button>
                            <md-progress-circular ng-show="isImportingIn" md-mode="indeterminate" md-diameter="40"></md-progress-circular>&nbsp;
                        <h3 ng-show="isImportingIn">{{ 'Importing file...' | translate }}</h3>
                    </div>
                </div>

                <div ng-if="dialog_mode == 'common'">
                    <p class="md-title" translate>List of common MONARC assets</p>

                    <md-input-container class="md-block md-padding-left md-padding-right">
                        <label><md-icon>search</md-icon> {{ 'Search an asset...' | translate }}</label>
                        <input type="text" ng-model="assets.filter">
                    </md-input-container>

                    <table class="md-html-table">
                        <thead>
                        <tr>
                            <th translate>Name</th>
                            <th translate>Category</th>
                            <th translate>Asset type</th>
                            <th translate>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="object in objects">
                            <td><md-icon ng-if="object.scope == 2" class="md-tree-global-icon">language</md-icon> {{ _langField(object,'name') }}</td>
                            <td>{{ _langField(object.category,'label') }}</td>
                            <td>{{ _langField(object.asset,'label') }}</td>
                            <td class="txtcenter"><md-button ng-click="openObjectDetails(object)" class="md-icon-button"><md-icon>open_in_new</md-icon></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="dialog_mode == 'object_details'">
                    <div layout="row" layout-align="space-between center">
                      <div layout="row" layout-align="start center">
                        <md-button class="md-primary md-light-theme" ng-click="closeObjectDetails()"><md-icon>arrow_back</md-icon> {{ 'Back to the list' | translate }}</md-button>
                      </div>
                      <div>
                        <md-button class="md-raised md-primary" ng-click="importObjectCommon()">{{ 'Import asset' | translate }}</md-button>
                      </div>
                    </div>
                      <div layout="column">
                        <span class="md-title md-padding-left"><md-icon ng-if="object_details.scope == 2" class="md-tree-global-icon">language</md-icon> {{ _langField(object_details,'name') }}</span>
                        <span ng-if="object_details.risks != '' " class="md-subhead md-padding-left" translate>{{ object_details.risks.length }} information risks</span>
                        <span ng-if="object_details.oprisks != '' " class="md-subhead md-padding-left" translate>{{ object_details.oprisks.length }} operational risks</span><br>
                      </div>


                    <table ng-if="object_details.risks != '' " class="md-html-table big-border-all">
                        <thead class="big-border-bottom">
                          <tr>
                            <th colspan="1" class="big-border-left"><p translate>Threat</p></th>
                            <th colspan="1" class="big-border-left"><p translate>Vulnerability</p></th>
                          </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="risk in object_details.risks">
                          <td title="{{ _langField(risk,'threatDescription') }}">{{_langField(risk,'threatLabel')}}</td>
                          <td title="{{ _langField(risk,'vulnDescription') }}"> {{_langField(risk,'vulnLabel')}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table ng-if="object_details.oprisks != '' " class="md-html-table big-border-all">
                        <thead class="big-border-bottom">
                          <tr>
                            <th colspan="1" class="big-border-left"><p translate>Risk description</p></th>
                          </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="risk in object_details.oprisks">
                            <td title="{{ _langField(risk,'description') }}">{{_langField(risk,'label')}}</td>
                        </tr>
                        </tbody>
                    </table>



                </div>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'Cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
