<md-dialog md-theme="light" class="dialog-width">
    <form name="referentialForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Match referentials</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                  <form name="matchReferential.filter.form">
                    <div layout="row" layout-align="start center">
                      <md-input-container flex class="md-block md-padding-left md-padding-right">
                          <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                          <input ng-model="matchRef_filter">
                      </md-input-container>
                      <div>
                        <md-button class="md-icon-button md-primary" ng-click="exportMatchRefs()">
                           <md-tooltip md-direction="left">
                               {{ 'Export Match referentials' | translate }}
                           </md-tooltip>
                           <md-icon>call_made</md-icon>
                         </md-button>
                         <md-button class="md-icon-button md-primary" ng-click="importMatchRefs()">
                            <md-tooltip md-direction="left">
                                {{ 'Import Match referentials' | translate }}
                            </md-tooltip>
                            <md-icon>play_for_work</md-icon>
                          </md-button>
                     </div>
                   </div>
                  </form>

              <table class="md-html-table">
                  <thead>
                      <tr>
                          <th>
                            {{ _langField(referentialSelected,'label')}}
                          </th>
                          <th ng-repeat="ref in referentialsList.referentials" ng-if="ref.uuid !== referentialSelected.uuid">
                            {{ _langField(ref,'label')}}
                          </th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr ng-repeat="measure in measuresRefSelected | filter: matchRef_filter" >
                          <td><strong>{{measure.code}}</strong> - {{ _langField(measure,'label')}}</td>
                          <td ng-repeat="ref in referentialsList.referentials" ng-if="ref.uuid !== referentialSelected.uuid">
                            <md-chips ng-model="matchMeasures[ref.uuid][measure.uuid]"
                                      md-autocomplete-snap
                                      md-on-add="addMeasureLinked(measure.uuid, $chip.uuid)"
                                      md-on-remove="deleteMeasureLinked(measure.uuid, $chip.uuid)"
                                      md-require-match="true">

                                <md-autocomplete flex
                                                 md-selected-item="matchedMeasureItem"
                                                 md-search-text="measureSearchText"
                                                 md-items="item in queryMeasureSearch(measureSearchText,ref.uuid,measure.uuid)"
                                                 md-item-text="item.code + ' (' + _langField(item,'label') + ')'"
                                                 md-min-length="0"
                                                 md-no-cache="true">
                                    <span md-highlight-text="measuresSearchText">{{ item.code }} - {{ _langField(item,'label') }}</span>
                                </md-autocomplete>

                                <md-chip-template>
                                    <span>
                                        <strong>{{$chip.code}}</strong>
                                        <em>{{_langField($chip,'label')}}</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
