<div class="md-padding" ng-cloak ng-controller="AnrObjectCtrl">
    <md-card flex>
        <div class="md-padding-left md-padding-right" layout="column" layout-gt-md="row" layout-align="space-between center" flex-gt-md>
            <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" ng-if="OFFICE_MODE == 'BO'" ui-sref="main.kb_mgmt.info_risk({tab: 'objlibs'})"><md-icon>arrow_back</md-icon></md-button>

                <div flex ng-if="!object">
                    <md-progress-circular md-indeterminate="true"></md-progress-circular>
                </div>

                <div flex ng-if="object" ng-class="{'active-obj': mode == 'anr'}">
                    <h2 class="no-margin">
                        <md-icon ng-if="object.scope == 2" style="color: #F57C00">language</md-icon>
                        {{ _langField(object,'name') }}
                    </h2>

                    <span>{{ _langField(object,'label') }}</span>
                </div>

                <md-menu>
                    <md-button ng-click="openObjectMenu($mdOpenMenu, $event);">
                        <md-tooltip md-direction="bottom">{{ 'Asset actions' | translate }}</md-tooltip>
                        <md-icon class="material-icons md-48 size-auto" md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="editObjlib($event, object)" ng-disabled="isAnrReadOnly">
                                <md-icon class="md-light-theme material-icons">edit</md-icon><span class="black">{{ 'Edit asset' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="cloneObject($event)" ng-disabled="isAnrReadOnly">
                                <md-icon class="md-light-theme material-icons">control_point_duplicate</md-icon><span class="black">{{ 'Duplicate asset' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary" ng-click="exportObject($event)" ng-disabled="isSafari()">
                                <md-icon class="md-light-theme material-icons">call_made</md-icon><span class="black">{{ 'Export asset' | translate }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary md-warn" ng-click="deleteObject($event)" ng-disabled="isAnrReadOnly">
                                <md-icon class="ng-scope md-light-theme material-icons">{{ (mode == 'bdc' || OFFICE_MODE == 'FO') ? 'delete' : 'content_cut' }}</md-icon><span class="black">{{ (mode == 'bdc' || OFFICE_MODE == 'FO') ? ('Delete asset' | translate) : ('Detach asset' | translate) }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-card>

    <md-card ng-if="object">
        <div ng-if="object.asset.type != 1">
            <ng-include src="'views/anr/_object.composition.html'"></ng-include>
            <br/>
            <div>
                <div layout="row" layout-align="start center" layout-fill>
                    <p class="md-title md-padding-left" translate>{{ object.risks.length }} information risks</p>
                    <span flex></span>
                    <md-card class="md-card-info" ng-if="mode == 'bdc'"><md-card-content>
                        <p translate>You are in the knowledge base. No evaluation may be set in this space.</p>
                    </md-card-content></md-card>
                </div>
                <table class="md-html-table big-border-all">
                    <thead class="big-border-bottom">
                    <tr>
			<th colspan="1" class="big-border-left"><p translate>Asset</p></th>                        
			<th colspan="1" class="big-border-left"><p translate>Threat</p></th>
                        <th colspan="1" class="big-border-left"><p translate>Vulnerability</p></th>
                        <!--<th colspan="3" class="big-border-left"><p translate>Current risk</p></th>
                        <th rowspan="2"><p translate>Target risk</p></th>-->
                    </tr>
                    <!--<tr>
                        <th translate>Label</th>
                        <th translate>Prob.</th>
                        <th class="big-border-left" translate>Label</th>
                        <th translate>Existing controls</th>
                        <th translate>Qualif.</th>
                        <th class="big-border-left">C</th>
                        <th>I</th>
                        <th>D</th>
                    </tr>-->
                    </thead>

                    <tbody>
                    <tr ng-repeat="risk in object.risks">
			<td>{{ _langField(object,'name') }}</td>
	                <td>{{_langField(risk,'threatDescription')}}</td>
                        <!--<td class="txtcenter">{{risk.threatRate}}</td>-->
                        <td>{{_langField(risk,'vulnDescription')}}</td>
                        <!--<td class="txtcenter">-</td>
                        <td class="txtcenter">{{risk.vulnerabilityRate}}</td>
                        <td ng-disabled="!risk.c_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.c_risk >= 0 && risk.c_risk < scales.thresholds.min, 'orange': risk.c_risk >= scales.thresholds.min && risk.c_risk < scales.thresholds.max, 'red': risk.c_risk >= scales.thresholds.max}">{{risk.c_risk_enabled ? risk.c_risk : ''}}</td>
                        <td ng-disabled="!risk.i_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.i_risk >= 0 && risk.i_risk < scales.thresholds.min, 'orange': risk.i_risk >= scales.thresholds.min && risk.i_risk < scales.thresholds.max, 'red': risk.i_risk >= scales.thresholds.max}">{{risk.i_risk_enabled ? risk.i_risk : ''}}</td>
                        <td ng-disabled="!risk.d_risk_enabled" class="tbl-risk-calc"
                            ng-class="{'green': risk.d_risk >= 0 && risk.d_risk < scales.thresholds.min, 'orange': risk.d_risk >= scales.thresholds.min && risk.d_risk < scales.thresholds.max, 'red': risk.d_risk >= scales.thresholds.max}">{{risk.d_risk_enabled ? risk.d_risk : ''}}</td>
                        <td class="txtcenter">{{risk.target|dashnull}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="object.asset.type == 1">
            <ng-include src="'views/anr/_table_risks_op.html'"></ng-include>
        </div>
    </md-card>
</div>

<script type="text/ng-template" id="objlibs.tree_item_template.html">
    <a ng-if="mode == 'bdc'" ui-sref="main.kb_mgmt.info_risk.object({objectId: node.id})">{{ _langField(node,'name') }}</a>
    <a ng-if="mode == 'anr'" ui-sref="main.kb_mgmt.models.details.object({objectId: node.id})"><md-icon ng-if="node.scope == 2" style="vertical-align:top;" ng-class="{'md-tree-global-icon': node.scope == 2}">language</md-icon>{{ _langField(node,'name') }}</a>


    <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="moveComponent(node, 'up')" ng-disabled="$index==0"><md-icon>arrow_upward</md-icon></md-button>
    <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="moveComponent(node, 'down')" ng-disabled="$index==composition.length-1"><md-icon>arrow_downward</md-icon></md-button>
    <md-button class="md-icon-button md-primary" ng-if="!isAnrReadOnly" ng-click="deleteCompositionItem($event, node)"><md-icon>content_cut</md-icon></md-button>

    <ul ng-if="node.children && node.children.length > 0">
        <li ng-repeat="node in node.children"
            ng-class="{'md-treeview-branch': node.children && node.children.length > 0}"
            ng-include="'objlibs.tree_item_template.html'"></li>
    </ul>
</script>
