<md-dialog class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ subStep.label }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div>
                <md-button class="md-primary" ng-if="anr.rwd >= 1">{{ 'Reset positions' | translate }}</md-button>

                <table class="md-html-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th translate>Recommendation</th>
                        <th translate>Imp.</th>
                        <th translate>Asset</th>
                        <th translate>Measures set</th>
                        <th translate>Current risk</th>
                        <th translate>Target risk</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="rec in recommendations">
                        <td></td>
                        <td><a href="javascript:;" ng-click="openRecommendation(rec)"><b>{{ rec.code }}</b></a><br/>{{ rec.description }}</td>
                        <td><span ng-repeat="i in range(1, rec.importance)" class="anr-importance">&bull;</span></td>
                        <td class="no-padding-important">
                            <table class="md-html-table">
                                <tr ng-repeat="risk in rec.risks">
                                    <td>{{ risk.instance[_langField('label')] }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="md-html-table">
                                <tr ng-repeat="risk in rec.risks">
                                    <td><p>{{ risk.commentAfter }}</p></td>
                                </tr>
                            </table>
                        </td>
                        <td class="no-padding-important">
                            <table class="md-html-table">
                                <tr ng-repeat="risk in rec.risks">
                                    <td>{{ risk.cacheMaxRisk }}</td>
                                </tr>
                            </table>
                        </td>
                        <td class="no-padding-important">
                            <table class="md-html-table">
                                <tr ng-repeat="risk in rec.risks">
                                    <td>{{ risk.cacheTargetedRisk }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
