<div class="md-padding-left md-padding-right">
    <h3 layout="row" layout-align="start center"><md-button class="md-icon-button" ng-click="resetSheet()"><md-icon>arrow_back</md-icon></md-button> <span translate>Risk sheet</span></h3>

    <table class="md-html-table">
        <tbody>
        <tr>
            <td class="bold txtright" translate>Threat:</td>
            <td>{{ sheet_risk.threatDescription1 }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability:</td>
            <td>{{ sheet_risk.vulnDescription1 }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Observations:</td>
            <td>{{ sheet_risk.comment }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Threat probability:</td>
            <td>{{ sheet_risk.threatRate }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Vulnerability qualification:</td>
            <td>{{ sheet_risk.vulnerabilityRate }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #1:</td>
            <td>{{ sheet_risk.measure1.code }} - {{ sheet_risk.measure1[_langField('description')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #2:</td>
            <td>{{ sheet_risk.measure2.code }} - {{ sheet_risk.measure2[_langField('description')] }}</td>
        </tr>
        <tr>
            <td class="bold txtright" translate>Measure #3:</td>
            <td>{{ sheet_risk.measure3.code }} - {{ sheet_risk.measure3[_langField('description')] }}</td>
        </tr>
        </tbody>
    </table>

    <form class="md-padding" ng-if="instmode == 'inst'">
        <md-input-container class="md-block">
            <label translate>Processing type</label>
            <md-icon>widgets</md-icon>
            <md-select ng-model="sheet_risk.kindOfMeasure">
                <md-option ng-value="5">{{ 'Not processed' | translate }}</md-option>
                <md-option ng-value="1">{{ 'Reduction' | translate }}</md-option>
                <md-option ng-value="2">{{ 'Denied' | translate }}</md-option>
                <md-option ng-value="3">{{ 'Accepted' | translate }}</md-option>
                <md-option ng-value="4">{{ 'Shared' | translate }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label translate>Reduce vulnerability by</label>
            <md-icon>trending_down</md-icon>
            <md-select ng-model="sheet_risk.reductionAmount">
                <md-option ng-value="0">0</md-option>
                <md-option ng-value="1">1</md-option>
                <md-option ng-value="2">2</md-option>
                <md-option ng-value="3">3</md-option>
            </md-select>
        </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="saveRiskSheet(sheet_risk)">{{ 'Save changes' | translate }}</md-button>
        </div>
    </form>
</div>
