<md-dialog class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ subStep.label }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{ 'Trends assessment' | translate }}">
                    <div layout="column" class="md-padding-left md-padding-right">
                        <div ng-repeat="question in questions" layout="column">
                            <div class="preserve-newlines">{{ question['label' + anr.language] }}</div>
                            <md-input-container class="md-block" style="margin-top: 0">
                                <textarea ng-if="question.type == 1" ng-model="question.response" rows="3" ng-disabled="!anr.rwd"></textarea>
                                <md-select ng-if="question.type == 2 && question.multichoice == 0" ng-disabled="!anr.rwd" ng-model="question.response">
                                    <md-option ng-repeat="choice in question.choices" ng-value="choice.id">{{ choice[_langField('label')] }}</md-option>
                                </md-select>
                                <md-select ng-if="question.type == 2 && question.multichoice == 1" ng-disabled="!anr.rwd" ng-model="question.response" multiple="true">
                                    <md-option ng-repeat="choice in question.choices" ng-value="choice.id">{{ choice[_langField('label')] }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="row" layout-align="end center" ng-if="anr.rwd == 1">
                        <md-button ng-click="saveQuestions()" type="submit" class="md-accent md-hue-3">
                            {{ 'Save' | translate }}
                        </md-button>
                    </div>
                </md-tab>

                <md-tab label="{{ 'Threats assessment' | translate }}">
                    <div class="md-padding">
                        <p ng-if="threats.length === 0"><em>{{ 'No threats are listed in your analysis.' | translate }}</em></p>

                        <div layout="row" layout-align="start center" ng-if="threats.length > 0">
                            <p class="md-subhead md-padding-left">{{ 'Threats analysis' | translate }} - {{ display.currentThreat + 1 }} / {{ threats.length }}</p>
                            <span flex></span>
                            <md-progress-circular md-diameter="24" ng-if="threatLoading"></md-progress-circular>
                            <md-select ng-model="display.currentThreat" md-on-close="updateThreat()">
                                <md-option ng-repeat="threat in threats" ng-value="$index">{{ threat[_langField('label')] }} - {{ threat[_langField('description')] }}</md-option>
                            </md-select>
                        </div>


                        <table class="md-html-table">
                            <tbody>
                            <tr>
                                <td colspan="2" ><b>{{ 'Theme:' | translate }}</b> {{ currentThreatObj.theme[_langField('label')] }}</td>
                            </tr>
                            <tr>
                                <td><b>{{'Code:' | translate }}</b> {{ currentThreatObj.code }}</td>
                                <td><b>{{'Label:' | translate }}</b> {{ currentThreatObj[_langField('label')] }}</td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    {{ 'Accidental cause' | translate }}<br />
                                    <md-checkbox ng-model="currentThreatObj.isAccidental" ng-disabled="anr.rwd < 1" ng-true-value="true" ng-false-value="false">{{ 'conceivable' | translate }}</md-checkbox>
                                </td>
                                <td><b>{{ 'Description:' | translate }}</b> {{ currentThreatObj[_langField('descAccidental')] }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ 'Example:' | translate }}</b> {{ currentThreatObj[_langField('exAccidental')] }}</td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    {{ 'Deliberate cause' | translate }}<br />
                                    <md-checkbox ng-model="currentThreatObj.isDeliberate" ng-disabled="anr.rwd < 1" ng-true-value="true" ng-false-value="false">{{ 'conceivable' | translate }}</md-checkbox>
                                </td>
                                <td><b>{{ 'Description:' | translate }}</b> {{ currentThreatObj[_langField('descDeliberate')] }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ 'Example:' | translate }}</b> {{ currentThreatObj[_langField('exDeliberate')] }}</td>
                            </tr>
                            <tr>
                                <td translate>Types of consequences</td>
                                <td>{{ currentThreatObj[_langField('typeConsequences')] }}</td>
                            </tr>
                            <tr>
                                <td translate>Comments</td>
                                <td>
                                    <md-input-container class="md-block">
                                        <textarea ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.comment"></textarea>
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Impacted criteria</td>
                                <td>
                                    <div layout="row" layout-align="start center">
                                        <md-checkbox ng-model="currentThreatObj.c" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin">C</md-checkbox>
                                        <md-checkbox ng-model="currentThreatObj.i" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin">I</md-checkbox>
                                        <md-checkbox ng-model="currentThreatObj.d" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin">D</md-checkbox>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Trend</td>
                                <td>
                                    <md-radio-group ng-model="currentThreatObj.trend" layout="row" ng-disabled="anr.rwd < 1">
                                        <md-radio-button ng-value="0">-</md-radio-button>
                                        <md-radio-button ng-value="1">n</md-radio-button>
                                        <md-radio-button ng-value="2">+</md-radio-button>
                                        <md-radio-button ng-value="3">++</md-radio-button>
                                    </md-radio-group>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Probability</td>
                                <td>
                                    <md-select ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.qualification">
                                        <md-option ng-value="-1">-1</md-option>
                                        <md-option ng-value="0">0</md-option>
                                        <md-option ng-value="1">1</md-option>
                                        <md-option ng-value="2">2</md-option>
                                        <md-option ng-value="3">3</md-option>
                                        <md-option ng-value="4">4</md-option>
                                    </md-select>
                                    <md-checkbox ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.forceQualification">{{ 'Force impact in the analysis' | translate }}</md-checkbox>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div layout="row" layout-align="start center">
                        <md-button ng-click="previousThreat()" type="submit" class="md-accent md-hue-3" ng-disabled="threats[0].id == currentThreatObj.id">
                            <md-icon>chevron_left</md-icon>
                            {{ 'Previous' | translate }}
                        </md-button>

                        <span flex></span>

                        <md-button ng-if="anr.rwd >= 1" ng-click="saveThreat()" type="submit" class="md-accent md-hue-3">
                            {{ 'Save' | translate }}
                        </md-button>

                        <span flex></span>

                        <md-button ng-click="nextThreat()" type="submit" class="md-accent md-hue-3" ng-disabled="threats[threats.length - 1].id == currentThreatObj.id">
                            {{ 'Next' | translate }}
                            <md-icon>chevron_right</md-icon>
                        </md-button>
                    </div>
                </md-tab>

                <md-tab label="{{ 'Summary' | translate }}">
                    <div class="md-padding">
                        <md-card md-theme="light">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <div flex>
                                        <md-button class="trix-info-toolbar-button" ng-click="toggleGuide()"><md-icon>info</md-icon></md-button>
                                        <trix-editor angular-trix ng-model="anr.synthThreat" style="min-height: 250px; border: 1px solid #AAAAAA;" class="md-padding"></trix-editor>
                                    </div>

                                    <md-card style="max-width: 320px" ng-if="guideVisible">
                                    <div layout="row" layout-align="center center" ng-if="guide === undefined">
                                            <md-progress-circular></md-progress-circular>
                                        </div>
                                        <md-card-content ng-if="guide !== undefined">
                                            <p class="md-title" translate>Additional information</p>
                                            <p>{{ guide[_langField('description')] }}</p>
                                            <md-divider></md-divider>
                                            <md-list>
                                                <md-list-item ng-repeat="item in guide_items" ng-click="insertItem(item)"><p>{{ item[_langField('description')] }}</p></md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                </div>

                                <div layout="row" layout-align="end center" ng-if="anr.rwd >= 1">
                                    <md-button ng-click="saveSummary()" type="submit" class="md-primary">
                                        {{ 'Save' | translate }}
                                    </md-button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
