<md-dialog md-theme="light" class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ subStep.label }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selTab">
                <md-tab label="{{ 'Trends assessment' | translate }}">
                    <div layout="column" class="md-padding-left md-padding-right">
                        <div ng-repeat="(k, question) in questions" layout="column">
                            <div class="preserve-newlines bold" ng-if="question.mode == 0">{{ question['label' + anr.language] }}</div>
                            <div layout="row" layout-align="start end" ng-if="question.mode == 1">
                                <md-input-container class="md-block" flex="80">
                                    <input type="text" ng-model="question['label' + anr.language]" placeholder="{{ question['label' + anr.language]==''?('Question' | translate):'' }}" />
                                </md-input-container>
                                <md-button ng-class="{'md-icon-button': confirmDelete != question.id}" flex ng-click="removeQuestion(k)" class="md-primary" title="{{ 'Delete question' | translate }}"><md-icon>remove_circle_outline</md-icon> <span ng-if="confirmDelete == question.id" translate>Confirm?</span></md-button>
                            </div>
                            <md-input-container class="md-block" style="margin-top: 0">
                                <textarea ng-if="question.type == 1" ng-model="question.response" rows="3" ng-disabled="!anr.rwd"></textarea>
                                <md-select ng-if="question.type == 2 && question.multichoice == 0" ng-disabled="!anr.rwd" ng-model="question.response">
                                    <md-option ng-repeat="choice in question.choices" ng-value="choice.id">{{ _langField(choice,'label') }}</md-option>
                                </md-select>
                                <md-select ng-if="question.type == 2 && question.multichoice == 1" ng-disabled="!anr.rwd" ng-model="question.response" multiple="true">
                                    <md-option ng-repeat="choice in question.choices" ng-value="choice.id">{{ _langField(choice,'label') }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <div ng-if="anr.rwd == 1" layout-align="center" layout="row">
                        <md-button class="md-primary" ng-click="addQuestion()">
                            <md-icon>add_circle_outline</md-icon>
                            {{ 'Add question' | translate }}
                        </md-button>
                    </div>
                </md-tab>

                <md-tab label="{{ 'Threats assessment' | translate }}">
                    <div class="md-padding">
                        <p ng-if="threats.length === 0"><em>{{ 'No threats are listed in your analysis.' | translate }}</em></p>

                        <div layout="row" layout-align="start center" ng-if="threats.length > 0">
                            <p class="md-subhead md-padding-left">{{ 'Threats analysis' | translate }} - {{ display.currentThreat + 1 }} / {{ threats.length }}</p>
                            <span flex></span>
                            <md-progress-circular md-diameter="24" ng-if="threatLoading"></md-progress-circular>
                            <md-select ng-model="display.currentThreat" md-on-close="saveAndUpdateThreat()" class="bold" style="font-size:16px;">
                                <md-option ng-repeat="threat in threats" ng-value="$index" class="bold">{{ _langField(threat,'label') }}</md-option>
                            </md-select>
                        </div>


                        <table class="md-html-table">
                            <tbody>
                            <tr>
                                <td colspan="2" ><b>{{ 'Theme:' | translate }}</b> {{ _langField(currentThreatObj.theme,'label') }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" ><b>{{ 'Description:' | translate }}</b> {{ _langField(currentThreatObj,'description') }}</td>
                            </tr>
                            <tr>
                                <td translate>Comments</td>
                                <td>
                                    <md-input-container class="md-block">
                                        <textarea ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.comment"></textarea>
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Impacted criteria</td>
                                <td>
                                    <div layout="row" layout-align="start center">
                                        <md-checkbox ng-model="currentThreatObj.c" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin">C</md-checkbox>
                                        <md-checkbox ng-model="currentThreatObj.i" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin">I</md-checkbox>
                                        <md-checkbox ng-model="currentThreatObj.d" ng-true-value="1" ng-false-value="0" ng-disabled="true" class="md-checkbox-no-bottom-margin" translate>A</md-checkbox>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Trend</td>
                                <td>
                                    <md-radio-group ng-model="currentThreatObj.trend" layout="row" ng-disabled="anr.rwd < 1">
                                        <md-radio-button ng-value="0">-</md-radio-button>
                                        <md-radio-button ng-value="1">n</md-radio-button>
                                        <md-radio-button ng-value="2">+</md-radio-button>
                                        <md-radio-button ng-value="3">++</md-radio-button>
                                    </md-radio-group>
                                </td>
                            </tr>
                            <tr>
                                <td translate>Probability</td>
                                <td>
                                    <md-select ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.qualification" style="width: 200px">
                                        <md-option ng-value="-1">-1</md-option>
                                        <md-option ng-value="0">0</md-option>
                                        <md-option ng-value="1">1</md-option>
                                        <md-option ng-value="2">2</md-option>
                                        <md-option ng-value="3">3</md-option>
                                        <md-option ng-value="4">4</md-option>
                                    </md-select>
                                    <md-checkbox ng-disabled="anr.rwd < 1" ng-model="currentThreatObj.forceQualification">{{ 'Force impact in the analysis' | translate }}</md-checkbox>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div layout="row" layout-align="start center">
                        <md-button ng-click="previousThreat()" type="submit" class="md-accent md-hue-3" ng-disabled="display.currentThreat <= 0">
                            <md-icon>chevron_left</md-icon>
                            {{ 'Previous' | translate }}
                        </md-button>

                        <span flex></span>

                        <md-button ng-if="anr.rwd >= 1" ng-click="saveThreat()" type="submit" class="md-accent md-hue-3">
                            {{ 'Save' | translate }}
                        </md-button>

                        <span flex></span>

                        <md-button ng-click="nextThreat()" type="submit" class="md-accent md-hue-3" ng-disabled="display.currentThreat >= threats.length - 1">
                            {{ 'Next' | translate }}
                            <md-icon>chevron_right</md-icon>
                        </md-button>
                    </div>
                </md-tab>

                <md-tab label="{{ 'Summary' | translate }}">
                    <div class="md-padding">
                        <md-card md-theme="light">
                            <md-card-content layout="column">
                                <div layout="row">
                                    <div flex>
                                        <md-button class="trix-info-toolbar-button" ng-click="toggleGuide()"><md-icon>info</md-icon></md-button>
                                        <trix-editor angular-trix ng-model="anr.synthThreat" style="min-height: 250px; min-width: 550px; border: 1px solid #AAAAAA;" class="md-padding"></trix-editor>
                                    </div>

                                    <md-card style="max-width: 320px" ng-if="guideVisible">
                                    <div layout="row" layout-align="center center" ng-if="guide === undefined">
                                            <md-progress-circular></md-progress-circular>
                                        </div>
                                        <md-card-content ng-if="guide !== undefined">
                                            <p class="md-title" translate>Additional information</p>
                                            <p class="preserve-newlines">{{ _langField(guide,'description') }}</p>
                                            <md-divider></md-divider>
                                            <md-list>
                                                <md-list-item ng-repeat="item in guide_items" ng-click="insertItem(item)"><p>{{ _langField(item,'description') }}</p></md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                </div>

                                <div layout="row" layout-align="end center" ng-if="anr.rwd >= 1">
                                    <md-button ng-click="saveSummary()" type="submit" class="md-accent md-hue-3">
                                        {{ 'Save' | translate }}
                                    </md-button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions ng-if="selTab == 0">
            <div layout="row" layout-align="end center" ng-if="anr.rwd == 1">
                <md-button ng-click="saveQuestions()" type="submit" class="md-accent md-hue-3">
                    {{ 'Save' | translate }}
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<script type="text/ng-template" id="trend.evalcontext.addquestion.html">
    <div class="preserve-newlines">
        <input type="text" value="" />
    </div>
    <md-input-container class="md-block" style="margin-top: 0">
        <textarea rows="3"></textarea>
    </md-input-container>
</script>
