<md-dialog md-theme="light" class="dialog-width">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{rec.code}} - {{rec.description}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card class="md-card-info">
                <md-card-content>
                    <p translate>You are about to validate the implementation of recommendation <b>{{rec.code}} - {{rec.description}}</b> for the following risk:</p>
                    <p>
                        <span class="bold" translate>Asset:</span> {{ _langField(risk.instance,'name') }}<br />
                        <span ng-if="risk.instanceRiskOp" class="bold" translate>Risk description:</span> {{_langField(risk.instanceRiskOp,'riskCacheLabel')}}
                        <span ng-if="risk.instanceRisk" class="bold" translate>Threat:</span> {{_langField(risk.threat,'label')}}<br />
                        <span ng-if="risk.instanceRisk" class="bold" translate>Vulnerability:</span> {{_langField(risk.vulnerability,'label')}}
                    </p>
                </md-card-content>
            </md-card>

            <md-input-container class="md-block">
                <label translate>Optional comment</label>
                <textarea rows="3" ng-model="impl.comment"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            {{ 'Cancel' | translate }}
        </md-button>
        <md-button class="md-primary" ng-click="create()">
            {{ 'Validate' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
